<style type="text/css">
	.containe{
		margin: 15px 10px 0;
		font-size: 14px;
		line-height: 22px;
	}
	p{
		font-size: 16px;
		text-align: center;
		line-height: 30px;
	}
	.argee{
		width: 100%;
		background-color: #ad0e11;
		position: fixed;
		bottom: 69px;
		left: 0;

	}
    .argee input{
        color: #fff;
        border: none;
        display: block;
        text-align: center;
        width: 100%;
        padding: 8px;
    }
	/*.link{
		text-align: center;
		display: block;
		padding: 8px 0;
		color: #fff;
	}*/
	.ipt1{
		border: none;
		border-bottom: 1px solid #999;
		width: 30%;
	}
	.ipt{
		border: none;
		border-bottom: 1px solid #999;
		width: 42%;
	}
	span{
		display: inline-block;
		width: 45%;
		margin-top: 10px;
	}
	input {
		background-color: transparent;
	}
	.sub{
		-webkit-appearance: none;
	}
	#commit{
		-webkit-appearance: none;
	}

    .del-btn {
        background-color: #ccc !important;
    }
</style>

<%= title "消费共同体计划承诺书" %>
<div>
	<div class="containe">
		<p><b>御易健199计划消费共同体承诺书</b></p>
		<p style="font-size: 14px;">
			<b>甲方：</b><input type="text" class="ipt"></input>
			（以下简称：甲方）
		</p>
		<p style="font-size: 14px;">
			<b>乙方：</b><input type="text" class="ipt1"></input>
			身份证号：<input type="text" class="ipt1"></input>
			（以下简称：乙方）
		</p>
		<b>甲方承诺</b><br>
		甲方承诺完全按照有庆御通商业体系(以下简称:有庆体系)之《御易健消费共同体说明书》的标准执行。<br>
		1、乙方完成御易健消费共同体一个基本单元后，甲方授权乙方启动御易健消费共同体计划，有权链接御邦医通平行店，甲方给予相关支持(包含但不限于产品资料、平行店配置方案等);<br>
		2、甲方承诺，乙方收益持续动态，日清日结;<br>
		3、甲方承诺，乙方在完成御易健消费共同体计划后，如乙方继续参与，按照说明书的流程执行。<br>
		<br>
		<b>乙方承诺</b><br>
		本人已仔细阅读有庆御通商业体系之《御易健消费共同体说明书》，对其标准和规 则无任何异议，自愿加入到御易健消费共同体计划，并作出如下承诺:<br>
		1、承诺在达到实际收益 3000 元的标准后，在御易健商城消费 1000 元的管理健康相关产品或服务。<br>
		2、承诺在签订承诺书后 3 个工作日内，完成召集 9 份承诺消费，形成以本人为核 心的御易健消费共同体基本单元，召集人为<input type="text" class="ipt1"></input>；（3 个工作日仅限首次参与御 易健消费共同体计划且作为召集者的情况） <br>
		3、承诺按照御邦医通平行店的要求链接并维护;<br>
		4、承诺在达到实际收益 3000 元的标准后，自愿向中华慈善总会有庆健康公益基金捐赠 90 元;<br>
		<br>
		<b>本承诺书的承诺内容最终解释权归甲方，合作过程中如有异议，双方应本着积极态度协商解决。</b><br>
		<span style="text-align: left;">甲方（签字）：</span>
		<span style="text-align: right;">乙方（签字）：</span>
		<span style="text-align: left;">年 &nbsp;&nbsp;&nbsp;月 &nbsp;&nbsp;&nbsp;日</span>
		<span style="text-align: right;">年&nbsp;&nbsp;&nbsp; 月 &nbsp;&nbsp;&nbsp;日</span>
        <%= form_tag(wechat_plan_create_plan_path, method: :post ) do %>
    		<div style="margin-top: 20px;margin-bottom: 65px;">
    			<input type="checkbox" checked id="commit">
    			<label>我同意签订承诺消费书</label>
    		</div>
    		<div class="argee">
                <% if @user_id %>
                    <input name="capital_id" value="<%= @user_id %>" style="display:none;">
                <% end %>
                <% if @plan %>
                    <input name="invite_plan_id" value="<%= @plan %>" style="display:none;">
                <% end %>
                <input name="current_user" value="<%= current_user.id %>" style="display:none;">
                <% if !@wheter_has_plan %>
                    <input type="submit" name="action" class="sub" value="提交" />
                <% else %>
                    <input type="button" name="action" class="sub del-btn" id="planBtn-del" value="提交" />
                <% end %>


    		</div>
        <% end %>
	</div>

</div>

<script>
	$( function () {
		$(".link").click( function () {
			if ($('#commit').is(":checked")) {
                location.href ="<%= wechat_community_plandetail_path %>";
			}else {
				alert("请在承诺书前打钩")
			}
		});

        $("#planBtn-del").click( function() {
            alert("您已经发起过了计划")
        })
	})
</script>
