
<style>

body {
	margin: 0px;
}

a {
	text-decoration: none;
}

div {
	padding: 0;
	margin: 0;
}

.shopList {
	margin-top:0;
	padding-top: 0;
}

.shopList ul {
    border-top: 1px solid #ccc;
    margin-top: 2%;
}

.shopList ul li {
    display: flex;
    border-bottom:1px solid #ccc;
}

.shopList ul li .slLeft,.shopList ul li .slRight {
    display: inline-block;
}

.shopList ul li .slLeft {
    width: 30%;
    padding:2%;
}

.shopList ul li .slRight {
    flex:1;
}

.shopList ul li .slLeft img {
    width: 100%;
    border-radius: 13px;
}

.slRight {
	margin-top: 11px;
	padding-left: .5rem;
	padding-right: 8px;
}

.slRight-title {
	overflow: auto;
	margin-bottom: 8px;
}
.goPlan {
	background: #ad0e11;
	color: #fff;
	display: inline-block;
	padding: 5px 10px;
	font-size: 14px;
}
.shopList ul li .slRight span {
    font-size: 0.8rem;
    color: #444;
}
.shopList ul li .slRight b {
    font-size: 0.8rem;
    font-weight: normal;
    color: #fff !important;
	padding: 3px 8px;
	position: relative;
	top: 0;
	margin: 10px;
}

.slRight-title .leader {
	background: #ad0e11;
}
.slRight-title .success {
	background: #68a870;
}
.slRight-title .partner {
	background: #5aa0d6;
}
.slRight-title .fail {
	background: red;
}
.plan-image {
	margin-bottom: 15px;
}

.plan-image img {
	width: 100%;

}
.plan-button{
	position: fixed;
	bottom: 58px;
	width: 100%;
}
.plan-button a{
	display: block;
	text-align: center;
	background: #ad0e11;
	padding: 8px 0;
	color: #fff;
	font-size: 14px;
}


</style>

<%= title "消费共同体计划" %>
<div class="shopList">
	<div class="plan-image">
		<a href="<%= wechat_community_instruct_path %>">
			<%= image_tag "199.jpg" %>
		</a>
	</div>
	<div>
		<span class="goPlan">发起的计划</span>
	</div>
	<ul style="padding-left: 0px; margin-bottom: 45px;">
		<% Plan.where(user_id:current_user.user.id, is_maker:false).each do |t| %>
            <a href="<%= wechat_community_plandetail_path(t) %>" style="display: block;">
             <li>
                 <div class="slLeft">
                    <%= image_tag "east-ep-a51-9990611.jpg", class:'shopImage' %>
                 </div>
                 <div class="slRight">
                        <div class="slRight-title">
                            <span>199计划</span>
                            <% if t.is_capital == true %>
                                <b class="leader">队长</b>
                            <% else %>
                                <b class="partner">伙伴</b>
                            <% end %>
                            <% if t.active == true %>
                                <b class="success">已激活</b>
                            <% else %>
                                <b class="fail">待激活</b>
                            <% end %>
                        </div>
                        <div>
                            <span>发起时间：<%= t.created_at.to_s[0..10] %></span>
                        </div>
                 </div>
             </li>
            </a>
		<% end %>
	</ul>
    <% if !Plan.find_by(user_id:current_user.user.id, is_capital:true, is_maker:false) %>
        <div class="plan-button">
        	<a href="<%= wechat_community_commitment_path %>"> 同意发起计划 </a>
        </div>
    <% end %>
</div>
