<style type="text/css">
	.fontSizes {
  		font-size: 0.8rem;
  		line-height: 20px;
	}
	b{
		font-weight: normal;
	}
	.tdwith{
		width: 10%;
		height: 114px;
		padding: 5px 0;
	}
	.authd{
		margin-top: 15px;
		margin-left: 10px;
	}
	.auth{
		font-size: 16px;
		font-weight: bold;
		
	}
</style>

<div class="containe">
	<div class="authd">
		<span class="auth">平行店授权</span>
	</div>

	<div>
	  <table style="margin-top: 4%;">
	    <tr style="text-align: center;">
	        <td class="tdwith">
	            <a href=""><%= image_tag "共同体.png", size: "50x50" %></a>
	            <div style="margin-bottom:15%;font-weight: bold;line-height: 25px;">周毅</div>
	        </td>      
	        <td class="tdwith">
	            <a href=""><%= image_tag "共同体.png", size: "50x50" %></a>
	            <div class="fontSizes">袁延强</div>
	            <b style="margin-bottom:15%;" class="fontSizes">0元</b>
	        </td>
	      
		    <td class="tdwith">
		        <a href=""><%= image_tag "共同体.png", size: "50x50" %></a>
		        <div class="fontSizes">袁延强</div>
		        <b style="margin-bottom:15%;" class="fontSizes">200元</b>
		    </td>
		    <td class="tdwith">
		        <a href=""><%= image_tag "共同体.png", size: "50x50" %></a>
		        <div class="fontSizes">袁延强</div>
		        <b style="margin-bottom:15%;" class="fontSizes">200元</b>
		    </td>
		    <td class="tdwith">
		        <a href=""><%= image_tag "共同体.png", size: "50x50" %></a>
		        <div class="fontSizes">袁延强</div>
		        <b style="margin-bottom:15%;" class="fontSizes">0元</b>
		    </td>
	    </tr>

		<tr style="text-align: center;">
	        <td class="tdwith">
	            <a href="<%= wechat_community_invite_path %>"><%= image_tag "共同体.png", size: "50x50" %></a>
	            <div class="fontSizes">袁延强</div>
	            <b style="margin-bottom:15%;" class="fontSizes">0元</b>
	        </td>     
	        <td class="tdwith">
	            <a href=""><%= image_tag "共同体.png", size: "50x50" %></a>
	            <div class="fontSizes">袁延强</div>
	            <b style="margin-bottom:15%;" class="fontSizes">0元</b>
	        </td>
	      
		    <td class="tdwith">
		        <a href=""><%= image_tag "共同体.png", size: "50x50" %></a>
		        <div class="fontSizes">袁延强</div>
		        <b style="margin-bottom:15%;" class="fontSizes">200元</b>
		    </td>
		    <td class="tdwith">
		        <a href=""><%= image_tag "共同体.png", size: "50x50" %></a>
		        <div class="fontSizes">袁延强</div>
		        <b style="margin-bottom:15%;" class="fontSizes">200元</b>
		    </td>
		    <td class="tdwith">
		        <a href=""><%= image_tag "共同体.png", size: "50x50" %></a>
		        <div class="fontSizes">袁延强</div>
		        <b style="margin-bottom:15%;" class="fontSizes">0元</b>
		    </td>
	    </tr>

	  </table>
	</div>