<style type="text/css" media="screen">

	.applyShop h4{
		text-align: center;
		margin-top: 25px;
	}

	.inputPrice {
		height:30px;
		width:90%;
		margin:0 auto;
		margin-top: 30px;
	}

	.inputPrice span {
		display: inline-block;
		margin-right: 2%;
		font-size: 14px;
	}

	.inputPrice input {
		height:100%;
		border:0;
		border:1px solid #eee;
		padding-left: 2%;
		width:74%;
	}

	.selectApply {
		height:100%;
		width:76%;
		background: #fff;
		border:0;
		border:1px solid #eee;
	}

	.localBtn {
		width:30%;
		border:0;
		background: #5aa0d6;
		color: #fff;
		padding:2% 3%;
		-webkit-appearance: none;
		margin: 15px 0 0 5%;
	}

	.subBtn {
		margin: 40% 0 0 5%;
	}
  .address{
    margin:0 auto;
    position: fixed;
    bottom: 58px;
    left: 0;
    right: 0;
    background-color: #ad0e11;
    line-height: 40px;
    text-align: center;
  }

	.address input{
	    background-color: #ad0e11;
    	line-height: 40px;
    	width: 100%;
    	border: none;
    	color: #fff;
	}

	.p-title {
		text-align: center;
		line-height: 35px;
		margin: 30px;
	}
	.clearfix {
		background-color: #f7f7f7 !important;
		border: none !important;
	}
  .aler-p {
    text-align: right;
    margin-right: 2rem;
    font-size: 11px;
    color: red;
  }
  .city-select{
    -webkit-appearance: none;
  }
  .save{
     -webkit-appearance: none;
  }
  .inpt{
    -webkit-appearance: none;
  }
  .address-box li select{
      width: 65%!important;
  }
</style>



<%= title '添加平行店' %>
<h4 class="p-title">平行店店铺申请</h4>

<%= form_for [:wechat, @shop] do |f| %>
  <input type="input" name="plan_id" value="<%= params[:format] %>" style="display: none;">
  <% if @shop.errors.any? %>
    <div class="notice">
      <h3><%= "#{@shop.errors.count}个错误:" %></h3>
      <ul>
        <% @shop.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="address-box city-group">
    <ul style="margin-bottom: 2px;">
       <li class='clearfix'>
          <span>账号：</span>
          <input type="text" name="admin_email" id="admin-user" class="inpt" />
          <p class="aler-p" id="user-txt"></p>
        </li>
        <li class='clearfix'>
          <span>密码：</span>
          <input type="password" name="admin_password" id="admin-pwd" class="inpt"/>
          <p class="aler-p" id="pwd-txt"></p>
        </li>
        <li class='clearfix'>
          <span>确认密码：</span>
          <input type="password" name="admin_password_confirm" id="admin-pwd-confirm" class="inpt"/>
          <p class="aler-p" id="pwd-txt-confirm"></p>
        </li>
    </ul>
    <ul>
      <li class='clearfix'>
        <span>名称：</span>
        <%= f.text_field :title, class: 'gray84 inpt' %>
      </li>
      <li class='clearfix'>
        <span>主要经营：</span>
        <%= f.text_field :main_business, class: 'gray84 inpt' %>
      </li>

      <div id='address_info'></div>

     <!--  <li class="clearfix">
        <div>
          <span>管理登录邮箱:</span>
          <input type="input" name="admin_email" class="gray84" />
        </div>
        <div>
          <span>管理密码:</span>
          <input type="password" name="admin_password" class="gray84" />
        </div>
      </li> -->
      <%= hidden_field_tag 'from_order_confirm', params[:from_order_confirm] %>
    </ul>
  </div>


  <div class="address">
    <input type="submit" name="" class="save" value="保存">
  </div>
<% end %>

<%= content_for :weixin_api do %>
  <script type="text/javascript">
    wx.ready(function () {
        wx.getLocation({
          type: 'wgs84', // 默认为wgs84的gps坐标，如果要返回直接给openLocation用的火星坐标，可传入'gcj02'
          success: function(res) {
            var latitude = res.latitude; // 纬度，浮点数，范围为90 ~ -90
            var longitude = res.longitude; // 经度，浮点数，范围为180 ~ -180。
            $.get('/wechat/parallel_shops/address', {latitude: latitude, longitude: longitude }, function(res){
              $("#address_info").html(res);
            });
          }
        });
    });
  </script>
<% end %>


<script type="text/javascript">
  $(function() {
    var search_str = /^[\w\-\.]+@[\w\-\.]+(\.\w+)+$/; //验证邮箱
    var pwd_str = /^[0-9a-zA-Z]{6,12}$/; //密码验证
    //邮箱验证
    $("#admin-user").blur( function() {
      if(!search_str.test($(this).val())) {
        $("#user-txt").text("邮箱格式不正确！");
        $("#address_submit").attr("type", "button");
        return false;
      }else if($(this).val() == "") {
        $("#user-txt").text("邮箱不能为空");
        $("#address_submit").attr("type", "button");
        return false;
      }else {
        $("#user-txt").text("");
        $("#address_submit").attr("type", "submit");
      }
    })

    //密码验证
    $("#admin-pwd").blur( function() {
      if(!pwd_str.test($(this).val())) {
        $("#pwd-txt").text("密码为6到12位数字或字母！");
        $("#address_submit").attr("type", "button");
        return false;
      }else if($(this).val() == "") {
        $("#pwd-txt").text("密码不能为空！");
        $("#address_submit").attr("type", "button");
        return false;
      }else {
        $("#pwd-txt").text("");
        $("#address_submit").attr("type", "submit");
      }

      //判断两次密码是否一致；
      if( $("#admin-pwd-confirm").val() ) {
        confirm("#admin-pwd-confirm", "#pwd-txt-confirm", $(this));
      }

    })

    //确认密码；
    $("#admin-pwd-confirm").blur( function() {
      confirm("#admin-pwd", "#pwd-txt-confirm", $(this));
    })

    function confirm(obj, objText, thats) {
      var value = $(obj).val();
      if ( thats.val() != value ) {
        $(objText).text("两次密码不一致！");
        $("#address_submit").attr("type", "button");
        return false;
      }else {
        $(objText).text("");
        $("#address_submit").attr("type", "submit");
      }
    }

  })
</script>
