<style type="text/css" media="screen">

	.applyShop h4{
		text-align: center;
		margin-top: 25px;
	}

	.inputPrice {
		height:30px;
		width:90%;
		margin:0 auto;
		margin-top: 30px;
	}

	.inputPrice span {
		display: inline-block;
		margin-right: 2%;
		font-size: 14px;
	}

	.inputPrice input {
		height:100%;
		border:0;
		border:1px solid #eee;
		padding-left: 2%;
		width:74%;
	}

	.selectApply {
		height:100%;
		width:76%;
		background: #fff;
		border:0;
		border:1px solid #eee;
	}

	.localBtn {
		width:30%;
		border:0;
		background: #5aa0d6;
		color: #fff;
		padding:2% 3%;
		-webkit-appearance: none;
		margin: 15px 0 0 5%;
	}

	.subBtn {
		margin: 40% 0 0 5%;
	}

	.address-btn input{
	    background-color: #ad0e11;
    	line-height: 40px;
    	width: 100%;
    	border: none;
    	color: #fff;
	}
	
	.p-title {
		text-align: center;
		line-height: 35px;
		margin: 30px;
	}
	.clearfix {
		background-color: #f7f7f7 !important;
		border: none !important;
	}
</style>



<%= title '添加平行店' %>
<h4 class="p-title">平行店店铺申请</h4>

<%= form_for [:wechat, @shop] do |f| %>
  <input type="input" name="plan_id" value="<%= params[:format] %>" style="display: none;">
  <% if @shop.errors.any? %>
    <div class="notice">
      <h3><%= "#{@shop.errors.count}个错误:" %></h3>
      <ul>
        <% @shop.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="address-box city-group">
    <ul>
      <li class='clearfix'>
        <span>名称：</span>
        <%= f.text_field :title, class: 'gray84' %>
      </li>
      <li class='clearfix'>
        <span>主要经营：</span>
        <%= f.text_field :main_business, class: 'gray84' %>
      </li>
      <li class="clearfix">
        <span>省份</span>
        <select class="city-select" name="parallel_shop[province]">
          <option value="">--省份--</option>
          <%= options_for_select(ChinaCity.list, @shop.try(:province)) %>
        </select>
      </li>
      <li class="clearfix">
        <span>城市</span>
        <select class="city-select" name="parallel_shop[city]">
          <option value="">--城市--</option>
          <% if @shop.province.present? && !(@shop.city == "--城市--") %>
            <%= options_for_select(ChinaCity.list(@shop.province), @shop.city) %>
          <% end %>
        </select>
      </li>
      <li class="clearfix">
        <span>地区或街道</span>
        <select class="city-select" name="parallel_shop[street]">
          <option value="">--地区或街道--</option>
          <% if @shop.province.present? && @shop.city.present? && !(@shop.street == "--地区或街道--") %>
            <%= options_for_select(ChinaCity.list(@shop.city), @shop.street) %>
          <% end %>
        </select>
      </li>
      <li class="clearfix">
        <span>详细地址：</span>
        <%= f.text_field :detail, class: 'gray84' %>
      </li>
      <%= hidden_field_tag 'from_order_confirm', params[:from_order_confirm] %>
    </ul>
  </div>
  <div class="address-btn">
    <input type="submit" name="" value="保存">
  </div>
<% end %>

