
<style>

.shopList {
	background: #fff;
}

.shopList ul {
    border-top: 1px solid #ccc;
}

.shopList ul li {
    display: flex;
    border-bottom:1px solid #ccc;
}

.shopList ul li .slLeft,.shopList ul li .slRight {
    display: inline-block;
}

.shopList ul li .slLeft {
    width: 30%;
    padding:2%;
}

.shopList ul li .slRight {
    flex:1;
}

.shopList ul li .slLeft img {
    width: 100%;
}

.shopList ul li .slRight p {
    font-size: 1.1rem;
    margin: 6% 0 0 4%;
}

.shopList ul li .slRight span {
    font-size: 0.8rem;
    margin: 4% 0 0 4%;
    color: #666;
}

a {
	text-decoration:none;
	out-line: none;
	color: #000;
	font-family: '微软雅黑';
}

.topImage {
	width:100%;
}

.module-title {
	margin:0;
}

</style>

<%= title '平行店' %>
<div>
	<div class="home">
		<a href="<%= wechat_parallel_shops_instructions_path %>"><%= image_tag "pingxingdian.jpg", class:'topImage' %></a>
	</div>
	<!-- 轮播↑ -->

	<div class="wraper graybg">
  <div class='user-center'>
    <div class='my-info'>
      <div class="nickname">
        <div class="nick-item">
        </div>
      </div>

      <div class="module-title">
        <h3>
          <a href="javascript:;"> 我的订单</a>
        </h3>
      </div>
    </div>

    <div class="order-item">
      <ul class='flex'>
        <li class="flex-item5">
          <a href="<%= mall_orders_path %>">
            <i class="ico-status waitPay">
            </i>
            待付款
          </a>
        </li>
        <li class="flex-item5">
          <a href="<%= mall_orders_path %>">
            <i class="ico-status waitSend">
            </i>
            待发货
          </a>
        </li>
        <li class="flex-item5">
          <a href="<%= mall_orders_path %>">
            <i class="ico-status waitComfirm">
            </i>
            待收货
          </a>
        </li>
        <li class="flex-item5">
          <a href="<%= mall_orders_path %>">
            <i class="ico-status allOrders">
            </i>
            全部订单
          </a>
        </li>
        <li class="flex-item5">
          <a href="<%= mall_orders_path %>">
            <i class="ico-status returns">
            </i>
            退换货
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>



	<!-- 列表↓ -->
	<div class="shopList">
		<ul>
            <% ParallelShop.all.each do |t| %>
                <a href="<%= wechat_parallel_shops_shopdata_path(t.id) %>">
                    <li>
                        <div class="slLeft">
                            <%= image_tag "bji04680164.jpg", class:'shopImage' %>
                        </div>
                        <div class="slRight">
                            <p><%= t.title %></p>
                            <span><%= t.address %></span>
                        </div>
                    </li>
                </a>
            <% end %>
		</ul>
	</div>
</div>
