<style type="text/css" media="screen">
	.container {
		overflow-y: auto;
		background: #fff;
	}

	.inputPrice {
		height:30px;
		width:90%;
		margin:0 auto;
		margin-top: 30px;
	}

	.inputPrice span {
		display: inline-block;
		margin-right: 2%;
		font-size: 14px;
	}

	.inputPrice input {
		height:100%;
		border:0;
		border:1px solid #eee;
		padding-left: 2%;
		width:52%;
	}

	.allPay {
		text-align: center;
		color:#ad0e11;
		line-height: 50px;
		flex: 1;
	}

	.jiesuan {
		background: #fff;
		width:100%;
		height:50px;
		position: absolute;
		bottom: 58px;
		left:0;
		border-top: 1px solid #ccc;
		display: flex;
	}

	.jiesuan a {
		width:40%;
		background: #ad0e11;
		text-align: center;
		line-height: 50px;
	}

	.listShow {
		width:90%;
		margin: 0 auto;
		border-top: 1px solid #ccc;
		padding:0;
		margin-top: 20px;
		padding-bottom: 108px;
	}

	.listShow li {
		display: flex;
		height:90px;
		border-bottom: 1px solid #ccc;
	}

	.listShow li .proLeft {
		width:90px;
	}

	.listShow li .proLeft img {
		width:80px;
		height:80px;
		margin: 5px 0 0 5px;
	}

	.listShow li .proRight {
		flex:1;
		padding-left: 5%;
	}

	.listShow li .proRight .proName {
		font-size: 18px;
		color:#474747;
		margin: 0;
		margin-top:18px;
	}

	.listShow li .proRight .proInfo {
		margin: 0;
		margin-top:10px;
		font-size: 14px;
		color:#888;				
	}

	a { 
		text-decoration:none;
		out-line: none;
		color: #fff;
	}

	a:active {
		color: #fff;
	}

</style>

<%= title '确认订单' %>
<div class="container">
	<div class="inputPrice">
		<span>用户消费金额</span>
		<input type="number" name="" value="" placeholder="请输入用户实际消费金额">
		<span>元</span>
	</div>
	<ul class="listShow">
		<li>
			<div class="proLeft"><%= image_tag "L-alabo.png",class:'proImg' %></div>
			<div class="proRight">
				<p class="proName">阿拉伯糖</p>
				<p class="proInfo">
					<span>￥960</span>
					<span style="float: right;margin-right: 5%;">X 2</span>
				</p>
			</div>
		</li>	
		<li>
			<div class="proLeft"><%= image_tag "L-alabo.png",class:'proImg' %></div>
			<div class="proRight">
				<p class="proName">阿拉伯糖</p>
				<p class="proInfo">
					<span>￥960</span>
					<span style="float: right;margin-right: 5%;">X 2</span>
				</p>
			</div>
		</li>		
		<li>
			<div class="proLeft"><%= image_tag "L-alabo.png",class:'proImg' %></div>
			<div class="proRight">
				<p class="proName">阿拉伯糖</p>
				<p class="proInfo">
					<span>￥960</span>
					<span style="float: right;margin-right: 5%;">X 2</span>
				</p>
			</div>
		</li>
		<li>
			<div class="proLeft"><%= image_tag "L-alabo.png",class:'proImg' %></div>
			<div class="proRight">
				<p class="proName">阿拉伯糖</p>
				<p class="proInfo">
					<span>￥960</span>
					<span style="float: right;margin-right: 5%;">X 2</span>
				</p>
			</div>
		</li>					
	</ul>
	
</div>
<div class="jiesuan">
	<p class="allPay">总计：2312元</p>
	<a>确认</a>
</div>
