
<%= title '平行配领' %>
<div class="container">
	<div class="pric-block">
		<div class="qr-code">
			<!-- <a href="<%= wechat_parallel_shops_salesclerk_path %>">点击二维码占位查看营业员扫码确认页面</a> -->
			<%= raw @code.as_html %>
		</div>
		<p class="call-number">配领排号: <%= @shop_order.show_call_number %></p>
	</div>
	<div class="yyj-title yyj-title-h4">
		<h4>已选产品列表</h4>
	</div>
	<ul class="listShow">
		<% @shop_order_items.each do |order_item| %>
			<li>
				<div class="proLeft"><%= image_tag Product.find_by(id: order_item.product_id).image_url,class:'proImg' %></div>
				<div class="proRight">
					<p class="proName"><%= Product.find_by(id: order_item.product_id).name %></p>
					<p class="proInfo">
						<span>￥<%= Product.find_by(id: order_item.product_id).now_product_price %></span>
						<span style="float: right;margin-right: 5%;">X <%= order_item.amount %></span>
					</p>
				</div>
			</li>
		<% end %>
	</ul>

</div>
<div class="jiesuan">
	<p class="allPay">总计：<%= @shop_order.total %>元</p>
</div>
