<style type="text/css" media="screen">
	.container {
		overflow-y: auto;
		padding-bottom: 3px;
		background: #fff;
	}

	.price {
		width:220px;
		height: 220px;
		margin: 0 auto;
		border:1px solid #ccc;
		margin-top: 10%;
	}

	.allPay {
		text-align: center;
		color:#fff; 
		line-height: 50px;
	}

	.jiesuan {
		background: #ad0e11;
		width:100%;
		height:50px;
		position: absolute;
		bottom: 58px;
		left:0;
		border-top: 1px solid #ccc;
	}



	.call-number {
		text-align: center;
		font-size: 20px;
		font-weight: 600;
		margin-top: 10px;
	}
	.pric-block {
		/*border: 25px solid #ad0e11;*/
		padding-bottom: 11.11px;
		margin-top: 20px;
	}
	.pro-list {
		display: flex;
		padding:1% 5% 1% 5%;
		margin-top:20px;
		background: #fff;
		border-bottom: 1px solid #eee;
	}
	.pro-list h5 {
		color: #ad0e11;
		font-size: 16px;
	}
</style>

<%= title '平行配领' %>
<div class="container">
	<div class="pric-block">
		<div class="qr-code">
			<!-- <a href="<%= wechat_parallel_shops_salesclerk_path %>">点击二维码占位查看营业员扫码确认页面</a> -->
			<%= raw @code.as_html %>
		</div>
		<p class="call-number">领配排号: <%= @shop_order.show_call_number %></p>
	</div>
	<div class="pro-list">
		<h5>已选产品列表</h5>
	</div>
	<ul class="listShow">
		<% @shop_order_items.each do |order_item| %>
			<li>
				<div class="proLeft"><%= image_tag Product.find_by(id: order_item.product_id).image_url,class:'proImg' %></div>
				<div class="proRight">
					<p class="proName"><%= Product.find_by(id: order_item.product_id).name %></p>
					<p class="proInfo">
						<span>￥<%= Product.find_by(id: order_item.product_id).now_product_price %></span>
						<span style="float: right;margin-right: 5%;">X <%= order_item.amount %></span>
					</p>
				</div>
			</li>
		<% end %>
	</ul>

</div>
<div class="jiesuan">
	<p class="allPay">总计：<%= @shop_order.total %>元</p>
</div>
