<style type="text/css" media="screen">
	.container {
		overflow-y: auto;
	}

	.price {
		width:220px;
		height: 220px;
		margin: 0 auto;
		border:1px solid #ccc;
		margin-top: 10%;
	}

	.allPay {
		text-align: center;
		font-size: 1.5rem;
		color:#ad0e11;
	}

	.listShow {
		width:85%;
		margin: 0 auto;
		border-top: 1px solid #ccc;
		padding:0;
	}

	.listShow li {
		display: flex;
		height:90px;
		border-bottom: 1px solid #ccc;
	}

	.listShow li .proLeft {
		width:90px;
	}

	.listShow li .proLeft img {
		width:80px;
		height:80px;
		margin: 5px 0 0 5px;
	}

	.listShow li .proRight {
		flex:1;
		padding-left: 5%;
	}

	.listShow li .proRight .proName {
		font-size: 18px;
		color:#474747;
		margin: 0;
		margin-top:18px;
	}

	.listShow li .proRight .proInfo {
		margin: 0;
		margin-top:10px;
		font-size: 14px;
		color:#888;
	}

    .qr-code-invitation {
        position: static;
        height:206px;
        margin-top: 5%;
    }

    .qr-code-invitation table{
        position:absolute;
        top:0;
        left:50%;
        margin-left: -98px;
    }

    .waiter_confirm input {
		display: block;
    }

    .message {
    	text-align: center;
    	color: red;
    }

    .container form {
    	margin-top: 20px;
    	text-align: center;
    	color: #888;
    }

    .container input {
    	border-radius: 4px;
    	height: 30px;
    }

    .container form .confirm {
    	margin-top: 20px;
    	display: inline-block;
    	width: 60%;
    	height: 40px;
    	font-size: 20px;
    	line-height: 40px;
    	border-radius: 40px;
    }
</style>


<% if  @message  %>
  <div class="message"><%= @message %></div>
<% end %>

<% if !@message  %>
	<div class="container">
		<p class="allPay"><%= @shop_order.total %></p>
		<ul class="listShow">
			<% @shop_order_items.each do |t| %>
	            <li>
	                <div class="proLeft"><%= image_tag t.product.image.url,class:'proImg' %></div>
	                <div class="proRight">
	                    <p class="proName"><%= t.product.name %></p>
	                    <p class="proInfo">
	                        <span>￥<%=t.product.now_product_price %></span>
	                        <span>X <%= t.amount %></span>
	                    </p>
	                </div>
	            </li>
	        <% end %>
		</ul>


		<%= form_tag(parallel_shop_shop_pay_path(id: @shop_order)) do %>
			<label for="shop_pay">实际消费: </label>
			<input type="text" name="shop_pay" id="shop_pay">

			<p>
				<input type="submit" name="" value="确认" class="confirm">
			</p>
		<% end %>
	</div>
<% end %>
