<%= render 'web/shared/topbar' %>

<div class='container border-gray-white'>
  <div class='fl index-activity'>
    <%= form_tag web_orders_path do %>
      <ul class='tag'>
        <% @line_items.each do |line_item| %>
          <%= hidden_field "line_item_ids", "", value: line_item.id, id: "line_item_#{line_item.id}" %>
          <li class='index-pic'>
            <div>
              <a href="">
                <%= image_tag line_item.product.image_url if line_item.product && line_item.product.image_url %>
              </a>
            </div>
            <div class='title text-ellipsis'><%= line_item.product.try(:name) %></div>
            <div class="price">￥<%= money line_item.product.now_product_price %></div>
            <p><%= link_to '加入购物车', web_line_items_path(quantity: 1, product_id: line_item.product.id), method: 'post' %></p>
            <p>数量：<%= line_item.quantity %></p>
            <%= link_to '删除', web_line_item_path(line_item), data: {:confirm => 'Are you sure?'}, :method => :delete, class: 'btn btn-danger btn-xs' %>
          </li>
        <% end %>
      </ul>
      <div>
        参与活动：<%= select_tag 'activity_id', options_for_select(@activities.collect{ |u| [u.name, u.id] }) ,  class: "weui-select" %>
      </div>
      <% if !@line_items.blank? %>
        <%= submit_tag "提交订单" %>
      <% end %>
    <% end %>
  </div>
</div>
