<%= render 'web/shared/topbar' %>

<%= link_to '御邦平行店首页', web_mall_path %>

<div class='container border-gray-white'>
  <div class='fl index-activity'>
    <% @orders.each do |order| %>
      <div><p><span>订单号: <%= order.number %> 状态: <%= order.human_state %></span></p></div>
      <ul class='tag clearfix'>
        <% order.line_items.each do |line_item| %>
          <%= hidden_field "line_item_ids", "", value: line_item.id, id: "line_item_#{line_item.id}" %>
          <li class='index-pic'>
            <div>
              <a href="">
                <%= image_tag line_item.product.image_url if line_item.product && line_item.product.image_url %>
              </a>
            </div>
            <div class='title text-ellipsis'><%= line_item.product.try(:name) %></div>
            <div class="price">￥<%= money line_item.product.now_product_price %></div>
            <p>数量：<%= line_item.quantity %></p>
          </li>
        <% end %>
      </ul>
      <div class="order-total">
        <p>共<%= order.quantity %>件，合计：¥<%= money order.price %></p>
      </div>
      <hr>
    <% end %>
  </div>
</div>
