<%= title '填写信息' %>
<% if flash[:notice] %>
  <div class="notice"><%=flash[:notice]%></div>
<% end %>
<%= form_for @edit,url:{action: "create"},html: {class: "nifty_form"} do |f| %>
 <div class="weui-cells__title">会员信息</div>
 <div class="weui-cells weui-cells_form">
      <div class="weui-cell">
          <div class="weui-cell__hd"><label class="weui-label">属地：</label></div>
          <div class="weui-cell__bd">
            <%= f.text_field :affiliation ,class:"weui-input",type:"text", placeholder:"请输入归属地"%>
          </div>
      </div>
      <div class="weui-cell">
        <div class="weui-cell__hd"><label class="weui-label">会员编号：</label></div>
        <div class="weui-cell__bd">
          <%= f.text_field :member_number ,class:"weui-input",type:"number",pattern:"[0-9]*", placeholder:"请输入会员编号"%>
        </div>
    </div>

    <div class="weui-cell">
        <div class="weui-cell__hd"><label class="weui-label">入会时间：</label></div>
        <div class="weui-cell__bd">
          <%= f.text_field :initiation_time ,class:"weui-input",type:"datetime-local"%>
        </div>
    </div>
 </div>
   <div class="weui-btn-area">
       <%= f.submit "提交" ,class:"weui-btn weui-btn_primary" %>
   </div>
<% end %>
