<%= title '首页' %>

<div class="home">
  <%= render 'shared/slide' %>

  <div class='weui-panel__hd'>御邦会会员</div>
  <div class="weui-panel__bd">
    <div class="weui-grids">
      <% @vip_yb.each do |vip_yb| %>
        <a href="<%= wechat_member_club_path(vip_yb)%>" class="weui-grid">
          <div class="weui-grid__icon">
            <%= image_tag(vip_yb.icon_url, class: "weui-tabbar__icon") %>
          </div>
          <p class="weui-grid__label"><%= vip_yb.name %></p>
        </a>
      <% end %>
    </div>
  </div>

  <div class='weui-panel__hd'>医通会会员</div>
  <div class="weui-panel__bd">
    <div class="weui-grids">
      <% @vip_yt.each do |vip_yt|%>
        <a href="<%= wechat_member_club_path(vip_yt)%>" class="weui-grid">
          <div class="weui-grid__icon">
            <%= image_tag(vip_yt.icon_url, class: "weui-tabbar__icon") %>
          </div>
          <p class="weui-grid__label"><%= vip_yt.name %></p>
        </a>
      <% end %>
    </div>
  </div>
</div>
