<style>
  .huiyuan {
    width: 92%;
    margin: 0 auto;
    display: flex;
  }

.huiyuan div {
  width: 26%;
  height: 40px;
  background: #DCDCDC;
  flex: 1;
  margin-right: 2%;
  text-align: center;
  line-height: 40px;
  border-radius: 10px 35px;
}

.img_width{
  width: 100%;
}

.fontSizes {
  font-size: 0.8rem;
}

.healthDiv {
  width: 100%;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  padding-top: 8px;
}

.healthDiv h5 {
  padding: 0 10px 8px 20px;
  border-bottom: 1px solid #eee;
}

.healthKuai {
    display: flex;
    padding:8px 0;
}

.healthKuai a {
  display: inline-block;
  flex: 1;
  display: flex;
}

.healthKuai a:first-child {
  border-right: 1px solid #eee;
}

.healthKuai a img {
  width: 45px;
  margin-right: 10%;

}

.healthKuai a span {
  display: inline-block;
  flex: 1;
  text-align: center;
  line-height: 45px;
  color: #666;
}

</style>

<%= title '御易健' %>
<% if flash[:notice] %>
  <div class="notice"><%=flash[:notice]%></div>
<% end %>
<div class="home">
  <%= render 'shared/slide' %>
</div>

<div>
  <table style="margin-top: 4%;">
    <tr style="text-align: center;">
      <td style="width: 10%;">
        <a href="<%=  %>"><%= image_tag "教育.png", size: "50x50" %></a>
        <p style="margin-bottom:15%;" class="fontSizes">健康教育</p>
      </td>
      <td style="width: 10%">
        <a href="<%= mall_root_path %>"><%= image_tag "商城.png", size: "50x50" %></a>
        <p style="margin-bottom:15%;" class="fontSizes">商城</p>
      </td>
      <td style="width: 10%;">
        <a href="<%= user_moving_health_data_path %>"><%= image_tag "数据.png", size: "50x50" %></a>
        <p style="margin-bottom:15%;" class="fontSizes">健康数据</p>
      </td>
      <td style="width: 10%;">
        <a href="<%= wechat_activity_path %>"><%= image_tag "活动.png", size: "50x50" %></a>
        <p style="margin-bottom:15%;" class="fontSizes">活动</p>
      </td>
    </tr>

    <tr style="text-align: center;">
      <td>
        <a href="<%= wechat_light_path %>"><%= image_tag "明灯.png", size: "50x50" %></a>
        <p class="fontSizes">一盏明灯</p>
      </td>
      <td>
        <% if !current_user.user.nil? && current_user.user.staff_type == "R&D" %>
          <a href="<%= wechat_coalition_path  %>"><%= image_tag "联盟.png", size: "50x50" %></a>
          <p class="fontSizes">商盟</p>
        <% else %>
          <a href=""><%= image_tag "联盟.png", size: "50x50" %></a>
          <p class="fontSizes">商盟</p>
        <% end %>
      </td>
      <td>
        <a href="<%= user_root_path %>"><%= image_tag "会员.png", size: "50x50" %></a>
        <p class="fontSizes">个人中心</p>
      </td>
    </tr>
  </table>

  <div class="healthDiv">

    <h5>健康管理中心</h5>
    <div class="healthKuai">
        <a href="/doctor/home">
            <span class="yyj_text">健康管理师</span>
            <%= image_tag "御易健.png", size: "45x45" %>
        </a>
        <a href="/work/home">
          <span class="yyj_text">健康管理工作站</span>
          <%= image_tag "工作站2.png", size: "45x45" %>
        </a>
    </div>

  </div>

  <%= video_tag "ybyt8MB.mp4", :controls => true ,class: "video"%>

</div>
