<style>
  .huiyuan {
    width: 92%;
    margin: 0 auto;
    display: flex;
  }

.huiyuan div {
  width: 26%;
  height: 40px;
  background: #DCDCDC;
  flex: 1;
  margin-right: 2%;
  text-align: center;
  line-height: 40px;
  border-radius: 10px 35px;
}

.img_width{
  width: 100%;
}

</style>

<%= title '御易键' %>
<% if flash[:notice] %>
  <div class="notice"><%=flash[:notice]%></div>
<% end %>
<div class="home">
  <%= render 'shared/slide' %>
</div>

<div>
  <table style="margin-top: 4%;">
    <tr style="text-align: center;">
      <td style="width: 10%;">
        <a href="<%= wechat_root_path %>"><%= image_tag "御易健.png", size: "50x50" %></a>
        <p style="margin-bottom:15%;">御易健</p>
      </td>
      <td style="width: 10%">
        <a href="<%= mall_root_path %>"><%= image_tag "商城.png", size: "50x50" %></a>
        <p style="margin-bottom:15%;">商城</p>
      </td>
      <td style="width: 10%;">
        <a href="<%= user_data_home_path %>"><%= image_tag "数据.png", size: "50x50" %></a>
        <p style="margin-bottom:15%;">健康数据</p>
      </td>
      <td style="width: 10%;">
        <a href="<%=  %>"><%= image_tag "服务.png", size: "50x50" %></a>
        <p style="margin-bottom:15%;">服务</p>
      </td>
    </tr>

    <tr style="text-align: center;">
      <td>
        <a href="<%=  %>"><%= image_tag "教育.png", size: "50x50" %></a>
        <p>未开放</p>
      </td>
      <td>
        <a href="<%=  %>"><%= image_tag "中心.png", size: "50x50" %></a>
        <p>未开放</p>
      </td>
      <td>
        <a href="<%=  %>"><%= image_tag "会员.png", size: "50x50" %></a>
        <p>未开放</p>
      </td>
      <td>
        <a href="<%=  %>"><%= image_tag "联盟.png", size: "50x50" %></a>
        <p>未开放</p>
      </td>
    </tr>
  </table>
  <h1 style="text-align:center;margin-top: 3%;margin-bottom: 5%; font-size:20px;font-family: '楷体';">御易健会员</h1>
  <div class="huiyuan">
    <div>YBJ</div>
    <div>YBZ</div>
    <div>YBS</div>
  </div>

  <div>
    <%= image_tag "ybj.jpg" ,class: "img_width" %>
  </div>

  <div>
    <%= image_tag "ybz.jpg" ,class: "img_width" %>
  </div>

  <div>
    <%= image_tag "ybs.jpg" ,class: "img_width" %>
  </div>

</div>
