<style type="text/css">

	.lightButton {
		position: absolute;
		bottom: 20%;
		left: 20%;
	}

	.otherButton {
		position: absolute;
		bottom: 20%;
		left: 55%;
	}

	.otherButton,.lightButton {
		width: 22%;
		display: block;
		color: #d7d0b8;
		border:1px solid #d7d0b8;
		border-radius: 15px;
		padding: 1% 2%;
		text-align: center;
	}

	.lightPro {
		position: absolute;
		top: 20%;
		left: 45%;
		width: 4%;
		display: block;
		color: #fff;
		border:1px dashed #d7d0b8;
		font-size: 16px;
		padding:0 1%;
		text-align: center;
	}

	.oneS {
		color: #d7d0b8;
		font-size: 14px;
		width: 100%;
		position: absolute;
		right: 0;
		bottom: 33%;
		text-align: center;
	}


	.ddUser {
		color: #fff;
		width: 80%;
		font-size: 15px;
		position: absolute;
		right: 10%;
		bottom: 28%;
		text-align: center;
	}

	.ddUser span {
		color: #d7d0b8;
	}

	.deng {
		width: 12%;
		position: absolute;
		top: 40%;
		left: 42%;
	}

	.lightHomeImg img {
		border-radius: 50%;
	}

	.lightHomeA a.weui-media-box:active {
		background: none;
	}

	.weui-panel:after, .weui-panel:before {
		color: transparent;
		height:0;
		position:inherit;
	}

</style>
<div class="lightBg">

	<div class="weui-panel weui-panel_access" style="background-color:transparent;position:inherit;">
		<div class="weui-panel__bd lightHomeA">
			<a href="<%= wechat_donate_record_path %>" class="weui-media-box weui-media-box_appmsg">
				<div class="weui-media-box__hd lightHomeImg">
					<% if !@wechat_user.nil? %>
						<img src="<%= @wechat_user.headimgurl %>" class="weui-media-box__thumb">
					<% else %>
						<%= image_tag "ybyt04.png" ,class:"weui-media-box__thumb" ,size: "50x55" %>
					<% end %>
				</div>
				<div class="weui-media-box__bd">
					<h4 class="weui-media-box__title lightName" style="color:white;">
						<% if !@wechat_user.nil?%>
							<!-- <%= @wechat_user.nickname %> -->
							<% if @user_type.lnmp_integral.to_f <= 100000 %>
								<span style="padding-left:6%;">LV1<span>
							<% elsif @user_type.lnmp_integral.to_f <= 300000 %>
								<span style="padding-left:6%;">LV2<span>
							<% elsif @user_type.lnmp_integral.to_f <= 500000 %>
								<span style="padding-left:6%;">LV3<span>
							<% elsif @user_type.lnmp_integral.to_f <= 1000000 %>
								<span style="padding-left:6%;">LV4<span>
							<% elsif @user_type.lnmp_integral.to_f > 1000000 %>
								<span style="padding-left:6%;">LV5<span>
							<% elsif @user_type.lnmp_integral.to_f > 0 %>
								<span style="padding-left:6%;">LV0
							<% end %>
						<% end %>
					</h4>
				</div>
				</a>
		</div>
	</div>

	<a class="lightPro" href="<%= wechat_lightIntro_path %>">明灯简介</a>
	<!-- 这里图片要做一个判断，如果没有捐款过就用现在这个，如果捐了的就换成 deng_l.png  -->
	<% if @user_type.lnmp_integral.to_f <= 100000 %>
		<%= image_tag "deng1.png",class:"deng" %>
	<% elsif @user_type.lnmp_integral.to_f <= 300000 %>
		<%= image_tag "deng2.png",class:"deng" %>
	<% elsif @user_type.lnmp_integral.to_f <= 500000 %>
		<%= image_tag "deng3.png",class:"deng" %>
	<% elsif @user_type.lnmp_integral.to_f <= 1000000 %>
		<%= image_tag "deng4.png",class:"deng" %>
	<% elsif @user_type.lnmp_integral.to_f > 1000000 %>
		<%= image_tag "deng_l.png",class:"deng" %>
	<% else %>
		<%= image_tag "deng_d.png",class:"deng" %>
	<% end %>

	<a class="lightButton" href="<%= wechat_lightRaise_path %>">公益捐赠</a>
	<% if !current_user.user.nil? && current_user.user.status != "user" %>
		<a class="otherButton" href="<%= wechat_light_city_path %>">巡演兑票</a>
	<% end %>
	<% number = HightTicket.where(user_id: current_user.user_id, state: "start").length %>
	<p class="oneS">你已成为点亮心灵一盏明灯，共筑民族时代精神的点灯人.</p>
	<div class="ddUser">您已成为第<span><%= current_user.user.lamp_number || 0 %></span>位点灯人</div>
</div>
