<style media="screen">

    .pro-m {
        width: 46%;
        margin: 0 auto;
        margin-top: 5%;
        margin-bottom: 5%;
        font-size: 1.1rem;
    }

</style>


<%= title '确认信息' %>
<form action="<%= wechat_create_light_path %>" method="post">
  <div class="pro-m">
    <p class="name">募捐金额：<%= @price %>元</p>
    <input name="price" value="<%= @price %>" style="display:none;"/>
  </div>

  <div class='mobile_box bottom'>
    <div class="weui-cell weui-cell_select weui-cell_select-after">
      <div class="weui-cell__hd">
        <label for="" class="weui-label">支付方式</label>
      </div>
      <div class="weui-cell__bd">
        <%= select_tag 'payment', options_for_select([['微信支付', 'PAYMENT_TYPE_WECHAT'],["银行卡支付", "PAYMENT_TYPE_YJ"]]) ,  class: "weui-select" %>
      </div>
    </div>

    <div class="weui-cells" style="margin:0;">
      <div class="weui-cell">
        <div class="weui-cell__hd"><label for="" class="weui-label">易积分数量</label></div>
        <div class="weui-cell__bd">
          <%= number_field_tag 'integral_available', '', class: "weui-input", placeholder: "可用#{money @integral.available}易积分", data: { size: money(@integral.available) } %>
        </div>
      </div>
      <div class="weui-cell">
        <div class="weui-cell__hd"><label for="" class="weui-label">现金余额</label></div>
        <div class="weui-cell__bd">
          <%= number_field_tag 'integral_money', '', class: "weui-input", placeholder: "可用#{money @integral.not_cash}现金",  data: { size: money(@integral.not_cash) } %>
        </div>
      </div>
    </div>

    <div class="cart-fixed-ft">
      <button class="commit" >提交</button>
      <span class="mr15">合计：¥<span class="total" data-all_total_price="<%= money @price %>" id="total-price"><%= money @price %></span></span>
    </div>
  </div>
</form>
