
<style type="text/css">
	
	.introduce {
		color: #fff;
	}

	.introduce h3 {
		color: #d7d0b8;
		text-align: center;
		padding: 7% 0;
	}

	.intQy {
		width: 90%;
		padding: 2% 2%;
		font-size: 12px;
		margin:0 auto;
		border:1px dashed #ccc;
	}

	.intQy p {
		text-indent: 24px;
		color: #b9b9b8;
	}

	.intContent {
		width: 90%;
		margin:0 auto;
		padding-bottom: 5%;
	}

	.intContent h4 {
		margin: 2% 0;
	}

	.intContent p {
		font-size: 14px;
	}

	.intContent .partOne {
		text-indent: 28px;
	}

	.intContent .partTwo span {
		display: inline-block;
		font-weight: bolder;
	}

	.intContent .partThree span {
		display: block;
	}

	.mdImg {
		width:90%;
		display: inline-block;
		margin-left:5%;
		margin-bottom: 1%;
	}

	.mdImg2 {
		width:20%;
		float: left;
	}

	.yhzc .yhPart span {
		display: inline-block;
		color: #d7d0b8;
		font-size: 14px;
		font-weight: bolder;
	}

	.yhzc .yhPart p {
		text-indent: 28px;
	}

</style>



<div class="introduce">
	<h3 class="introTit">原创音乐剧《一盏明灯·焦裕禄》</h3>
	<div class="intQy">
		<%= image_tag "xx.png",class:"mdImg" %>
		<p>我希望通过学习焦裕禄精神，为推进党和人民事业发展、实现中华民族伟大复兴的中国梦提供强大正能量。</p>
		<p>焦裕禄同志用自己的实际行动，塑造了一个优秀共产党员和优秀县委书记的光辉形象，铸就了亲民爱民、艰
		苦奋斗、科学求实、迎难而上、无私奉献的焦裕禄精神。</p>
		<p>2017年5月3日，习近平总书记在中国政法大学讲话
		时指出：“焦裕禄精神跨越时空，永远不会过时，我们要结合时代特点不断发扬光大。焦裕禄精神一直是一盏
		明灯。学习焦裕禄精神诠释了中国共产党人的优秀品质”。</p>
		<p>—— 习近平总书记十八大以来关于学习焦裕禄精神系列讲话节选</p>
	</div>
	<div class="intContent">
		<h4>· 中华社会文化发展基金会</h4>
		<div class="clearfix" style="margin-bottom: 2%;">
			<%= image_tag "cy.jpg",class:"mdImg2" %>
			<p style="display: inline-block;width:75%;text-align: center;float: right;padding-top: 7%;">曹禺 著名戏剧大师<br />中华社会文化发展基金会创始人</p>
		</div>
		<div class="clearfix" style="margin-bottom: 2%;">
			<%= image_tag "xjl.jpg",class:"mdImg2" %>
			<p style="display: inline-block;width:75%;text-align: center;float: right;padding-top: 7%;">许嘉璐 第十届全国人大副委员长<br />中华社会文化发展基金会名誉会长</p>
		</div>
		<p class="partOne">中华社会文化发展基金会是国家文化部主管的全国性公募型基金会，基金会创
		始人为中国著名戏剧大师曹禺先生，名誉会长为原全国人大副委员长、著名教育家
		许嘉璐先生。基金会以“国家级、国际化”为标准，从弘扬中华民族优秀传统文化
		的高度出发，扶持中华社会文化事业发展，主抓具有开创当代文化遗产价值，能对
		海内外产生重大影响的社会文化公益项目。
		</p>		
		<h4>· 原创音乐剧《一盏明灯·焦裕禄》</h4>
		<p class="partOne">2017 年4 月11 日，经国家文化部主管的中华社会文化发展基金会批准决定，同意原创音乐剧《焦裕禄》版权方提出的
		申请报告，将原创音乐剧《焦裕禄》的版权交由中华社会文化发展基金会统一管理，并作为音乐剧弘扬焦裕禄精神的唯
		一指导单位。</p>
		<p class="partOne" style="margin-bottom: 2%;">为了贯彻落实习近平总书记2017 年5 月3 日在考察中国政法大学时发表的重要讲话，中华社会文化发展基金会从新的
		战略高度出发，明确了原创音乐剧《焦裕禄》全面升级为《一盏明灯·焦裕禄》，并确定了以“弘扬时代精神”为核心的战
		略定位。</p>
		<%= image_tag "music.jpg",class:"mdImg" %>
		<p class="partOne">原创音乐剧《一盏明灯·焦裕禄》是焦裕禄时代精神的引领和传承，是中国共产党人优秀品质的集中体现和发扬光大，是
		一种“不忘初心，继续前行”矢志不渝坚定跟党走的勇气和担当。原创音乐剧《一盏明灯·焦裕禄》将高举爱国主义伟大旗
		帜，弘扬时代主旋律，唱响为党的十九大献礼的赞歌，打造为实现中华民族伟大复兴的中国梦提供强大正能量的恢弘乐章
		和壮丽诗篇！</p>
		<h4 style="margin-bottom: 4%;">·《一盏明灯·焦裕禄》公益巡演</h4>
		<%= image_tag "gyxy.jpg",class:"mdImg" %>
		<p class="partTwo"><span>意义:</span>
			为贯彻落实习近平总书记十八大以来关于学习和弘扬焦裕禄精神的系列重要讲话精神，特别是2017年5月3日在中国
			政法大学发表的“焦裕禄精神跨越时空，永远不会过时，我们要结合时代特点不断发扬光大。”“焦裕禄精神一直是一盏明灯。
			学习焦裕禄精神诠释了中国共产党人的优秀品质。”的重要讲话精神，经原创音乐剧《一盏明灯·焦裕禄》指导单位中华社会
			文化发展基金会组织专家顾问团队研讨确定：将高举爱国主义伟大旗帜，以“弘扬时代精神”为核心战略定位，将跨越时空的
			“焦裕禄精神”与“时代特点”相结合，与中国共产党培养的一大批优秀共产党员如：王进喜、雷锋、张秉贵、杨善洲、孔繁森、
			杨奎烈、任长霞、罗阳、林俊德、李文波、廖俊波、黄大年等等英雄模范人物的崇高品质和为人民服务的精神相结合，将英
			雄模范人物的光辉思想结合时代特点不断发扬光大，照亮前进的道路，为实现中华民族的伟大复兴的中国梦努力奋斗。
		</p>
		<p class="partTwo" style="margin-top: 1%;"><span>宗旨:</span><br>
			　　以习近平总书记“焦裕禄精神一直是一盏明灯”讲话精神为指导思想；<br>
			　　以“弘扬新时期焦裕禄时代精神，歌颂赞美伟大的中国共产党”为主题；<br>
			　　以“一盏明灯”的光明、引领、航向寓意作用作为全新制作的思想源泉。<br>
			　　以原创音乐剧《焦裕禄》为基础，经过主题思想和立意的提炼拔高，制作出充分展现在中
			　　国共产党这盏明灯指引下，在新时期一定会涌现出更多焦裕禄时代精神武装的好干部，引领着
			我们为实现中华民族的伟大复兴和中国梦而砥砺前行的主旋律舞台音乐剧。
		</p>
		<h4>· 主创人员</h4>
		<p class="partThree">
			<span>总监制：蒋　晔</span>
			<span>总顾问：陆文虎</span>
			<span>艺术总监：李雪健</span>
			<span>艺术总监：高久林</span>
			<span>总策划人/总出品人：王宇晓</span>
			<span>导演：李稻川</span>
			<span>编剧/作词：妮　南</span>
			<span>作曲/编曲：刘　彤</span>
			<span>艺术顾问：左　青</span>
			<span>指挥：董俊杰</span>
			<span>总制片：向　前</span>
			<span>王祖皆</span>
		</p>
		<h4>· 一盏明灯公益项目</h4>
		<p class="partThree">
			<span>原创音乐剧《一盏明灯·焦裕禄》</span>
			<span>原创音乐剧《一盏明灯·焦裕禄》音乐会版</span>
			<span>一盏明灯·时代精神主题公园</span>
			<span>一盏明灯·时代精神文献馆</span>
			<span>一盏明灯·时代精神美术工程</span>
			<span>一盏明灯·时代精神书画展</span>
			<span>原创音乐剧《一盏明灯·焦裕禄》艺术培训中心</span>
		</p>
		<h4>· 国家关于公益性捐赠的优惠政策</h4>
		<div class="yhzc">
			<div class="yhPart">
				<span>公益性，是指具有下述性质的非营利事项：</span>
				<p>1、救助灾害、救济贫困、扶助残疾人等困难的群体和个人活动；2、教育、科学、
				文化、卫生、体育事业；3、环境保护、社会公共设施建设；4、促进社会发展和进
				步的其他社会公共和福利事业。为此，国家制定了公益性捐赠的优惠政策：</p>
			</div>
			<div class="yhPart">
				<span>一、关于个人公益性捐赠的优惠政策</span>
				<p>《中华人民共和国个人所得税法》第六条第二款规定：“个人将其所得对教育
				事业和其他公益事业捐赠的部分，按照国务院有关规定从应纳税所得中扣除。”
				<br />　　《中华人民共和国个人所得税法实施条例》第二十四条规定：“税法第六条第
				二款所说的个人将其所得对教育事业和其他公益事业的捐赠，是指个人将其所得通
				过中国境内的社会团体、国家机关向教育和其他社会公益事业以及遭受严重自然灾
				害地区、贫困地区的捐赠。捐赠额未超过纳税义务人申报的应纳税所得额30％的部
				分，可以从其应纳税所得额中扣除。”</p>
			</div>			
			<div class="yhPart">
				<span>二、关于企业公益性捐赠的优惠政策</span>
				<p>《中华人民共和国企业所得税法》于2007 年3 月16 日第十届全国人民代表大
				会第五次会议通过，自2008 年1 月1 日施行。该法第九条规定：“企业发生的公
				益性捐赠支出，在年度利润总额12% 以内的部分，准予在计算应纳税所得额时扣除。”
				<br />　　《中华人民共和国企业所得税法实施条例》于2007 年11 月28 日国务院第
				197 次常务会议通过，自2008 年1 月1 日起施行。该条例第53 条规定：“企业发
				生的公益性捐赠支出，不超过年度利润总额12% 的部分，准予扣除。年度利润总额，
				是指企业依照国家统一会计制度的规定计算的年度会计利润。”</p>
			</div>			
			<div class="yhPart">
				<span>三、关于捐赠非货币性资产的优惠政策</span>
				<p>2008年12月31日，国家财政部、国家税务总局、国家民政部发布财税[2008]160
				号文件《关于公益性捐赠税前扣除有关问题的通知》。该通知第九条规定：“公益
				性社会团体和县级以上人民政府及其组成部门和直属机构在接受捐赠时，捐赠资产的价
				值，按以下原则确认：（一）接受捐赠的货币性资产，应当按照实际收到的金
				额计算；（二）接受捐赠的非货币性资产，应当以其公允价值计算。捐赠方在向公
				益性社会团体和县级以上人民政府及其组成部门和直属机构捐赠时，应当提供注明
				捐赠非货币性资产公允价值的证明，如果不能提供上述证明，公益性社会团体和县
				级以上人民政府及其组成部门和直属机构不得向其开具公益性捐赠票据。”</p>
			</div>			
			<div class="yhPart">
				<span>四、关于公益项目用地实行土地划拨的优惠政策</span>
				<p>2001 年10 月22 日国土资源部发布《划拨用地目录》。该目录第二条规定：“符
				合本目录的建设用地项目，由建设单位提出申请，经有批准权的人民政府批准，方
				可以划拨方式提供土地使用权。” 划拨用地包括：公益性科研机构用地、非营利性
				教育设施用地、非营利性体育设施用地、非营利性公共文化设施用地 、非营利性医
				疗卫生设施用地、非营利性社会福利设施用地。
				<br />　　为促进民办博物馆发展，国家文物局、 民政部、 财政部、 国土资源部、 住房
				和城乡建设部、 文化部、国家税务总局，2010年1月29日又联合发布文物博发
				[2010]11号文件《关于促进民办博物馆发展的意见》。该文件规定：“对符合国家《划
				拨用地 目录》规定的非营利性民办博物馆的建设用地，经县级以上人民政府批准，
				可以划拨方式供地。”</p>
			</div>			
			<div class="yhPart">
				<span>五、关于境外公益性捐赠的优惠政策</span>
				<p>《中华人民共和国公益事业捐赠法》第十五条规定：“华侨向境内捐赠的，县
				级以上人民政府侨务部门可以协助办理有关入境手续，为捐赠人实施捐赠项目提供
				帮助。”第二十六条规定：“境外向公益性社会团体和公益性非营利的事业单位捐
				赠的用于公益事业的物资，依照法律、行政法规的规定减征或者免征进口关税和进
				口环节的增值税。”</p>
			</div>			
			<div class="yhPart">
				<span>六、关于企业公益性捐赠股权的优惠政策</span>
				<p>国家财政部2009 年10 月20 日发布财企（2009）213 号文件《关于企业公益
				性捐赠股权有关财务问题的通知》。该通知规定：“1、由自然人、非国有的法人及
				其他经济组织投资控股的企业，依法履行内部决策程序，由投资者审议决定后，其
				持有的股权可以用于公益性捐赠。2、企业以持有的股权进行公益性捐赠，应当以不
				影响企业债务清偿能力为前提，且受赠对象应当是依法设立的公益性社会团体和公
				益性非营利的事业单位。企业捐赠后，必须办理股权变更手续，不再对已捐赠股权
				行使股东权利，并不得要求受赠单位予以经济回报。”</p>
			</div>			
			<div class="yhPart">
				<span>七、关于保值、增值的优惠政策</span>
				<p>2004 年3 月8 日国务院令第400 号公布的《基金会管理条例》
				第二十八条规定：“ 基金会应当按照合法、安全、有效的原则实现基金的保值、
				增值。”
				<br />　　《中华人民共和国慈善法》第五十三条规定：“对于不易储存、运输和超过实
				际需要的受赠财产，受赠人可以变卖，所取得的全部收入，应当用于捐赠目的。”</p>
			</div>			
			<div class="yhPart">
				<span>八、关于行政事业性费用免征的优惠政策</span>
				<p>《中华人民共和国慈善法》第八十三条规定：“捐赠人向慈善组织捐赠实物、
				有价证券、股权和知识产权的，依法免征权利转让的相关行政事业性费用。”</p>
			</div>			
			<div class="yhPart">
				<span>九、关于提供金融支持的优惠政策</span>
				<p>《中华人民共和国慈善法》第八十六条规定：“国家为慈善事业提供金融政策
				支持，鼓励金融机构为慈善组织、慈善信托提供融资和结算等金融服务。”</p>
			</div>		
			<div class="yhPart">
				<span>十、关于对公益事业捐赠有突出贡献者表彰的优惠政策</span>
				<p>《中华人民共和国公益事业捐赠法》第八条规定：“国家鼓励自然人、法人或
				者其他组织对公益事业进行捐赠。对公益事业捐赠有突出贡献的自然人、法人或者
				其他组织，由人民政府或者有关部门予以表彰。对捐赠人进行公开表彰，应当事先
				征求捐赠人的意见。”
				<br />　　第十四条规定：“ 捐赠人对于捐赠的公益事业工程项目可以留名纪念；捐赠人
				单独捐赠的工程项目或者主要由捐赠人出资兴建的工程项目，可以由捐赠人提出工
				程项目的名称，报县级以上人民政府批准。”
				<br />　　第二十七条规定：“对于捐赠的工程项目，当地人民政府应当给予支持和优惠。”</p>
				<span>　　原创音乐剧《一盏明灯·焦裕禄》公益项目完全符合并享受国家给予中
				华社会文化发展基金会关于公益性捐赠的特殊优惠政策。</span>
			</div>			
		</div>	
	</div>
</div>