

<style media="screen">

  .lightName {
    color: #fff;
  }

  .lightList .weui-panel {
    background-color:transparent!important;
  }

  .lightCont .weui-panel:after, .weui-panel:before{
    opacity: 0;
  }

  .lightCont .weui-media-box_appmsg .weui-media-box__thumb {
    border-radius: 50%;
  }

  .lightInfo {
    width: 96%;
    margin:0 auto;
    margin-top: 5%;
    display: flex;
  }

  .lightInfo a {
    color: #fff;
    text-align: center;
    display: inline-block;
    position: relative;
    padding: 2% 2%;
    flex: 1;
  }

  .lightInfo a span {
    color: #d7d0b8;
  }

  .lightTabBorder {
    color: #d7d0b8;
    border:0;
    border:1px solid #d7d0b8;
    border-bottom: 0;
  }

  .lightTabBottom {
    border-bottom: 1px solid #d7d0b8;
  }

  .myJz {
    display: block;
    color: #fff;
  }

  .myTic {
    display: none;
  }

  .myTic .ticNumber {
    color: #d7d0b8;
    margin: 8% 0 2% 5%;
  }

  .myTic a {
    color: #eee;
    display: inline-block;

    margin-left: 3%;
    border-bottom: 1px dashed #eee;
  }

</style>


<%= title '我的信息' %>
<div class="lightCont">

  <div class="weui-panel weui-panel_access" style="background-color:transparent;padding-top:5%;">
    <div class="weui-panel__bd">
      <a href="<%= user_w_info_path %>" class="weui-media-box weui-media-box_appmsg">
        <div class="weui-media-box__hd">
          <% if !@wechat_user.nil? %>
            <img src="<%= @wechat_user.headimgurl %>" class="weui-media-box__thumb",>
          <% else %>
            <%= image_tag "ybyt04.png" ,class:"weui-media-box__thumb" ,size: "50x55" %>
          <% end %>
        </div>
        <div class="weui-media-box__bd">
          <h4 class="weui-media-box__title lightName">
            <% if !@wechat_user.nil?%>
              <%= @wechat_user.nickname %>
            <% else %>
              御邦医通
            <% end %>
          </h4>
        </div>
        </a>
    </div>
  </div>

  <div class="lightInfo">
      <a href="<%= wechat_donate_record_path %>"><span></span> 我的公益募捐</a>
  </div>
  <div class="lightInfo">
      <a href="<%= wechat_light_city_path %>"><span></span> 巡演兑换券</a>
  </div>

</div>




<!-- <script type="text/javascript">

    $(".lightInfo a").each(function(index){
        $(this).click(function() {
            console.log(index);
            $(this).addClass('lightTabBorder').siblings().removeClass('lightTabBorder');
            $(this).removeClass('lightTabBottom').siblings().addClass('lightTabBottom');
            $(".myLightInfo").each(function(index_sm) {
                if(index === index_sm){
                    $(this).show();
                }else{
                    $(this).hide();
                }
            });
        });
    })

</script> -->
