<%= title "医通商城《个人（家庭）消费委托书》" %>
<div class="containers consumer-entrustment">
  <%= image_tag '个人（家庭）消费委托书_2.png' %>
  <% if !current_user.user.is_entrust %>
  <div class="agreeCheckbox">
    <%= form_for :consumer_entrustment, url: "/user/update_consumer_entrustment" do |f| %>
      <%= f.check_box :is_entrust, html_options = {hidden: true, checked: true} %>

      <div class="yyj-btn yyj-btn-primary yyj-btn-tg-lg agree">
        <%= f.submit "同意" %>
      </div>    
    <% end %>
  </div>
  <% else %>
    <p class="yyj_confirm_tiny"> 恭喜您，您已经签订了该委托书 </p>
  <% end %>
</div>