<div class="classifyLevel">
	<ul>
		<li>
			<p class="levelTitle">玉器珠宝</p>
			<ul class="levelList">
				<li>
					<a href="#">
						<%= image_tag "L-alabo.png" %>
						<p class="textCenter">阿拉伯糖</p>
					</a>
				</li>
				<li>
					<a href="#">
						<%= image_tag "L-alabo.png" %>
						<p class="textCenter">阿拉伯糖</p>
					</a>
				</li>				
				<li>
					<a href="#">
						<%= image_tag "L-alabo.png" %>
						<p class="textCenter">阿拉伯糖</p>
					</a>
				</li>				
				<li>
					<a href="#">
						<%= image_tag "L-alabo.png" %>
						<p class="textCenter">阿拉伯糖</p>
					</a>
				</li>
				<li>
					<a href="#">
						<%= image_tag "L-alabo.png" %>
						<p class="textCenter">阿拉伯糖</p>
					</a>
				</li>				
				<li>
					<a href="#">
						<%= image_tag "L-alabo.png" %>
						<p class="textCenter">阿拉伯糖</p>
					</a>
				</li>						

			</ul>
		</li>
	</ul>
</div>


