<!-- 以下是两列展示商品 -->
<div class="pro-area graybg">
  <div class="pro-list">
    <ul class="clearfix">
      <% @products.each do |product| %>
          <li>
            <a href="<%= mall_product_path(product) %>">
              <%= image_tag product.image_url(:product_icon) if product.image_url.present? %>
              <h5 class='text-center'><%= product.name %></h5>
              <div class="sub-title text-center"><%= raw product.general %></div>
              <p class="item-price text-center">
                <% if product.is_pendding_sale %>
                    <em>待上架商品</em>
                <% else %>
                  <% if product.now_product_price >= 10000 %>
                      <em>产品价格:¥<%= money product.now_product_price/10000 %>万元</em>
                      <p class="pstyle">可得配领值：<%= product.now_product_price * product.led_away_coefficient.coefficient/10000 %>万</p>
                  <% else %>
                      <em>产品价格:¥<%= money product.now_product_price %></em>
                      <p class="pstyle">可得配领值：<%= product.now_product_price * product.led_away_coefficient.coefficient %></p>
                  <% end %>
                  <!--
                  <% if product.original_product_price.present? %>
                    <del><%= money product.original_product_price %></del>
                  <% end %> -->
                <% end %>
              </p>
            </a>
          </li>
      <% end %>
    </ul>
    <p class="more">更多产品，敬请期待！</p>
  </div>

</div>