
<div class="silder">
	<ul>
		<li><a>全部商品</a></li>
		<li><a>健康管理</a></li>
    <li><a href="http://a2.rabbitpre.com/m/vEnrqUvUW?lc=1&sui=OIAbhdtO&cnl=&from=singlemessage&isappinstalled=0#from=share">保值产品</a></li>
		<li><a>活动商品</a></li>
		<li><a>虚拟商品</a></li>
		<li><a>组合方案</a></li>
	</ul>
</div>

<div class="pro">
	<div class="pro-sm" id="content">
		<ul class="clearfix chanpin">
			<% @products.each do |product| %>
	          <li>
							<a href="<%= mall_product_path(product) %>">
		            <div class="images"><%= image_tag product.image_url(:product_icon) if product.try(:image_url).present? %></div>
		            <h5><%= product.try(:name) %></h5>
                <span><%= product.try(:general) %></span>
		            <!-- <span><%= raw product.name %></span> -->
		            <p><%= money product.try(:now_product_price) %></p>
							</a>
	          </li>
	     <% end %>
    </ul>
	</div>
	<div class="pro-sm">
		<ul class="clearfix chanpin">
			<% @products.where(sort: 1).each do |product| %>
						<li>
							<a href="<%= mall_product_path(product) %>">
								<div class="images"><%= image_tag product.image_url(:product_icon) if product.try(:image_url).present? %></div>
								<span><%= product.try(:name) %></span>
								<!-- <span><%= raw product.name %></span> -->
								<p><%= money product.try(:now_product_price) %></p>
							</a>
						</li>
			<% end %>
		</ul>
	</div>
  <div class="pro-sm">
    <ul class="clearfix chanpin">
      <% @programs.each do |programs| %>
          <li>
            <a href="<%= mall_programs_product_path(programs) %>">
              <div class="images"><%= image_tag programs.image_url(:product_icon) if programs.try(:image_url).present? %></div>
              <span><%= programs.try(:name) %></span>
              <!-- <span><%= raw programs.name %></span> -->
              <p><%= raw programs.try(:desc) %></p>
            </a>
          </li>
      <% end %>
    </ul>
  </div>
	<div class="pro-sm">
		<ul class="clearfix chanpin">
			<% @products.where(sort: 2).each do |product| %>
	          <li>
							<a href="<%= mall_product_path(product) %>">
		            <div class="images"><%= image_tag product.image_url(:product_icon) if product.try(:image_url).present? %></div>
		            <span><%= product.try(:name) %></span>
		            <!-- <span><%= raw product.name %></span> -->
		            <p><%= money product.try(:now_product_price) %></p>
							</a>
	          </li>
	     <% end %>
    </ul>
	</div>
	<div class="pro-sm">
		<ul class="clearfix chanpin">
			<% @products.where(sort: 3).each do |product| %>
	          <li>
							<a href="<%= mall_product_path(product) %>">
		            <div class="images"><%= image_tag product.image_url(:product_icon) if product.try(:image_url).present? %></div>
		            <span><%= product.try(:name) %></span>
		            <!-- <span><%= raw product.name %></span> -->
		            <p><%= money product.try(:now_product_price) %></p>
							</a>
	          </li>
	      <% end %>
  	</ul>
	</div>
</div>

<script>
	$(".silder ul li").each(function(index, el) {
		$(this).click(function(){
			console.log(index);
			$(this).addClass('activing').siblings().removeClass('activing');
			$(".pro .pro-sm").each(function(index_sm, el_sm) {
				if(index === index_sm){
                    $(this).show();
                }else{
                    $(this).hide();
                }
			});
		})
	});
</script>
