<!--分类详情页-->
<!-- <%= render 'mall/shared/search' %> -->

<%= title '分类详情' %>

<div class="home">
  <%= render 'shared/slide' %>
  <!-- end mall_menu -->
  <div class="pro_tab"><!-- 这里是切换位置 -->
    <!-- <div class="autoView"> -->
      <ul class="fst_tab clearfix">
        <% @second_categorys.each do |categroy| %>
            <li class="second" data-id="<%= categroy.try(:id) %>"><%= categroy.try(:name) %></li>
        <% end %>
      </ul>
  </div>
  <div id="product_index">
    <%= render 'product_classified' %>
    
  </div>
</div>
<script type="text/javascript">
    $(function () {
      $(".second").on('click', function () {
        $.get("/mall/products/second_content?id="+$(this).data("id"), function (data) {
          $('#product_index').html(data)
        })
      });

      $('.fst_tab li').each(function (index, el) {
        $(this).click(function () {
          $(this).addClass('active').siblings().removeClass('active');
        })
      })
    })
</script>
