<%= render 'mall/shared/search' %>

<%= title '御易健商城 ' %>
<style type="text/css" media="screen">

  .clearfix:after {
    content: " ";
    display: block;
    clear: both;
    height: 0;
  }
  .clearfix {
    zoom: 1;
  }

  .pro-area .pro-list {
    padding: 0;
    margin:0;
  }

  .pro-area .pro-list ul {
    width: 95%;
    margin: 0 auto;
  }

  .pro-area .pro-list ul li {
    margin: 0 2.5% 15px 2.5%;
  }

  .alert {
    display: none;
    position: absolute;
    top: 25%;
    left: 50%;
    margin-left: -150px;
    width:300px;
    height: 300px;
    border: 1px solid #000;

  }

  .alert p{
    position: absolute;
    right: 3%;
    font-weight: bolder;
  }

  .alert a {
    display:inline-block;
    padding-top: 25px;
    width: 100%;
    height: 92%;
  }


</style>



<div class="home">
  <%= render 'shared/slide' %>
  <!-- end mall_menu -->

  <div class="pro-area graybg">
    <div class="pro-tit">
      <h2>全部商品</h2>
    </div>
    <div class="pro-list">
      <ul class="clearfix">
        <% @products.each do |product| %>
            <li>
              <a href="<%= mall_product_path(product) %>">
                <%= image_tag product.image_url(:product_icon) if product.image_url.present? %>
                <h5 class='text-center'><%= product.name %></h5>
                <div class="sub-title text-center"><%= raw product.desc %></div>
                <p class="item-price text-center">
                  <em>¥<%= money product.now_product_price %></em>
                  <%# <% if product.original_product_price.present? %>
                  <%#   <del><%= money product.original_product_price %></del>
                  <%# <% end %>
                </p>
              </a>
            </li>
        <% end %>
      </ul>
    </div>
  </div>

  <% if current_user.user.status != "User" && @id != "2" %>
    <div id="alert" class="alert">
        <p>关闭</p>
        <a href="/mall/luck"></a>
    </div>
  <% end %>


</div>



<script type="text/javascript">

    $(function(){
        $('#alert').show();
    })

    $('#alert p').click(function(){
        $('#alert').hide();
    })

</script>
