<%= render 'mall/shared/search' %>

<%= title '御易健商城 ' %>

<div class="home">
  <%= render 'shared/slide' %>
  <!-- end mall_menu -->
  <div class="pro-area graybg">
    <div class="pro-tit">
      <h2>推荐用品</h2>
    </div>
    <div class="pro-list">
      <ul>
        <% @products.each do |product| %>
          <li>
            <a href="<%= mall_product_path(product) %>">
              <%= image_tag product.image_url %>
              <h5 class='text-center'><%= product.name %></h5>
              <p class="sub-title text-center"><%= product.desc %></p>
              <p class="item-price text-center">
                <em>¥<%= money product.now_product_price %></em>
                <%# <% if product.original_product_price.present? %>
                <%#   <del><%= money product.original_product_price %></del>
                <%# <% end %>
              </p>
            </a>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
