<!-- <%= render 'mall/shared/search' %> -->

<%= title '御邦平行店' %>

<div class="home">
  <%= render 'shared/slide' %>
  <!-- 这里是切换位置 -->
  <%= render 'classified_name' %>
  <!-- 这里是展示位置 -->
    <%= render 'classified_level' %>
</div>
<script type="text/javascript">
    $(function () {
        $(".first").on('click', function () {
            $.get("/mall/products/second_content?id="+$(this).data("id"), function (data) {
                console.log(data);
                $('#second_category').html(data)
            })
        });

        $('.fst_tab li').each(function (index, el) {
            $(this).click(function () {
                console.log(index);
                $(this).addClass('active').siblings().removeClass('active');

            })
        })

    })
</script>
