<%= render 'mall/shared/search' %>

<%= title '御易健商城 ' %>
<style type="text/css" media="screen">

  .clearfix:after {
    content: " ";
    display: block;
    clear: both;
    height: 0;
  }
  .clearfix {
    zoom: 1;
  }


</style>



<div class="home">
  <%= render 'shared/slide' %>
  <!-- end mall_menu -->

  <div class="pro-area graybg">
    <div class="pro-tit">
      <h2>热门商品</h2>
    </div>
    <div class="pro-list">
      <ul class="clearfix">
        <% @products.each do |product| %>
          <li>
            <a href="<%= mall_product_path(product) %>">
              <%= image_tag product.image_url(:product_icon) if product.image_url.present? %>
              <h5 class='text-center'><%= product.name %></h5>
              <div class="sub-title text-center"><%= raw product.desc %></div>
              <p class="item-price text-center">
                <em>¥<%= money product.now_product_price %></em>
                <%# <% if product.original_product_price.present? %>
                <%#   <del><%= money product.original_product_price %></del>
                <%# <% end %>
              </p>
            </a>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
