<%= form_tag(mall_orders_path, method: :post, id: 'confirm_order') do %>
  <div class='mobile_box bottom'>
    <div class="page-title">
      <h2 class="text-cen">
        <span>确认订单</span>
        <%= link_to '', mall_cart_path, class: 'arrow-left' %>
      </h2>
    </div>
    <div class="wraper pt50 graybg">
      <%= render 'mall/shared/flash' %>
      <div class="address-confirm address-confirm-btn" data-address-id="<%= @recommend_address.id %>">
        <i class="icon-address"></i>
        <i class="arrow-right"></i>
        <p>
          <span class="fr gray84"><%= @recommend_address.mobile %></span>
          收货人：<%= @recommend_address.contact_name %>
        </p>
        <p class="mt10">收货地址：<%= @recommend_address.display_detail %></p>

        <%= hidden_field_tag "address_id", @recommend_address.id %>
      </div>
      <div class="car-box">
        <ul class="pro-list-portrait">
          <% product_id_ybz = 0 %>
          <% @line_items.each do |line_item| %>
            <li>
              <div class="img">
                <a href="<%= mall_product_path(line_item.product) %>">
                  <%= image_tag line_item.product.image_url(:product_icon) if line_item.product.image_url.present? %>
                </a>
              </div>
              <% product_id_ybz = line_item.product.id %>
              <div class="pro-m">
                <p class="name"><%= line_item.product.name %></p>
                <div class="gray84 option"><%= line_item.product.try(:product_sort) || '&nbsp;'.html_safe %></div>
                <div class="info clearfix">
                  <% if line_item.product.is_show %>
                    <% if line_item.quantity > 0 %>
                      <span class="fr"><small>x</small><%= line_item.quantity %></span>
                      <p class="fl price">¥<span><%= money line_item.product.now_product_price %></span></p>
                    <% else %>
                      <span class='notice-text'>该商品已无货</span>
                    <% end %>
                  <% else %>
                    <span class='notice-text'>该商品已下架</span>
                    <span data-line_item_id="<%= line_item.id %>" class="fr del"></span>
                  <% end %>
                </div>
              </div>
            </li>
            <li class="imgsF">
              <% if Product.find(product_id_ybz).name.match(/点亮心灯/) %>
                <% if product_id_ybz != 55 && product_id_ybz != 56 %>
                  <p style="color:wheat;" class="ticketLight">赠送：巡演票×<%= @product_ticket_number %></p>
                <% else %>
                  <p style="color:wheat;" class="ticketLight">赠送：巡演票×<%= @programs_ticket_number %></p>
                <% end %>
                <%= image_tag "confirm_light.png" ,class: "imgs" %>
              <% end %>
            </li>

            <% if line_item.product.name.match(/YBZ/) %>
            <% money = @integral.not_cash + @integral.cash + line_item.product.now_product_price %>
              <li class="arrow-right guige hytc"><span style="color:#63B8FF;">选择方案：</span>
              <% if line_item.product.now_product_price != 12000 %>

                   <% if money >= 55260 %>
                     <span class="choosed guige-span hytc_s" value="A">A ￥55260</span>
                   <% else %>
                     <span class="choosed guige-span hytc_s" style="color:#C2C2C2;" value="A">A ￥55260</span>
                   <% end %>

                   <span class="choosed guige-span hytc_s" value="B">B ￥16880</span>
                   <span class="choosed guige-span hytc_s" value="C">C ￥18754</span>

                   <% if money >= 26880 %>
                     <span class="choosed guige-span hytc_s" value="D">D ￥26880</span>
                   <% else %>
                    <span class="choosed guige-span hytc_s" style="color:#C2C2C2;" value="D">D ￥26880</span>
                   <% end %>

              <% elsif line_item.product.now_product_price == 12000 %>
                <span class="choosed guige-span hytc_s" value="E" style="display:none;"></span>
                <span class="choosed guige-span hytc_s" value="E" style="display:none;"></span>
                <span class="choosed guige-span hytc_s" value="E" style="display:none;"></span>
                <span class="choosed guige-span hytc_s" value="E" style="display:none;"></span>
                <span class="choosed guige-span hytc_s" value="E">A ￥11940</span>
              <% end %>
              </li>
            <% end %>

               <li class="arrow-right guige hytc hytc_hide" id="A" style="display:none;">产品：
                 <% product1 = Product.find(2) %>
                 <% product2 = Product.find(32) %>
                 <span style="margin-right: 5%;"><span><%= product1.name %></span>11盒</span>
                 <span><span><%= product2.name %></span>15桶</span>
               </li>

               <li class="arrow-right guige hytc hytc_hide" id="B" style="display:none;">产品：
                 <% product1 = Product.find(2) %>
                 <% product2 = Product.find(29) %>
                 <span style="margin-right: 5%;"><span><%= product1.name %></span>11盒</span>
                 <span><span><%= product2.name %></span>4盒</span>
               </li>

               <li class="arrow-right guige hytc hytc_hide" id="C" style="display:none;">产品：
                 <% product1 = Product.find(2) %>
                 <% product2 = Product.find(7) %>
                 <span style="margin-right: 5%;"><span><%= product1.name %></span>10盒</span>
                 <span><span><%= product2.name %></span>23瓶</span>
               </li>

               <li class="arrow-right guige hytc hytc_hide" id="D" style="display:none;">产品：
                 <% product1 = Product.find(2) %>
                 <% product2 = Product.find(6) %>
                 <span style="margin-right: 5%;"><span><%= product1.name %></span>11盒</span>
                 <span><span><%= product2.name %></span>17盒</span>
               </li>

               <li class="arrow-right guige hytc hytc_hide" id="E" style="display:none;">产品：
                 <% product1 = Product.find(2) %>
                 <% product2 = Product.find(46) %>
                 <% product3 = Product.find(6) %>
                 <span style="margin-right: 5%;"><span><%= product1.name %></span>5盒</span>
                 <span style="margin-right: 5%;"><span><%= product2.name %></span>4盒</span>
                 <span><span><%= product2.name %></span>5盒</span>
               </li>

          <% end %>
          <input id="value" name="packang" style="display:none;"/>
        </ul>
      </div>
      <input id="line_item_qt" type="hidden" value=<%= @line_item_qt %> />
      <div class="weui-cells">
        <span style="font-size:10px; margin-left: 15px; color: red;">请详细了解该活动的活动规则，选定活动、订单提交后不可更改</span>
          <div class="weui-cell weui-cell_select weui-cell_select-after">
            <div class="weui-cell__hd">
              <label for="" class="weui-label" >参与活动</label>
            </div>
            <% @line_items.each do |line_item| %>
            <% name = Product.find(line_item.product_id).name %>
              <% if name.match(/YBZ/) && @activity.uniq().length == 1 %>
                <div class="weui-cell__bd">
                    <%= select_tag 'activity_id', options_for_select(@activities.collect{ |u| [u.name, u.id] }) ,  class: "weui-select", include_blank: "管理健康--YBZ会员(数字社区)" ,disabled:"true" %>
                </div>
                <% break %>
              <% elsif name.match(/点亮心灯/) && @activity.uniq().length == 1 %>
                <div class="weui-cell__bd">
                    <%= select_tag 'activity_id', options_for_select(@activities.collect{ |u| [u.name, u.id] }) ,  class: "weui-select", include_blank: "护航健康.点亮心灯" ,disabled:"true" %>
                </div>
                <% break %>
              <% else %>
                <div class="weui-cell__bd">
                  <%= select_tag 'activity_id', options_for_select(@activities.collect{ |u| [u.name, u.id] }, @activities.find_by(is_default: true).id) ,  class: "weui-select" %>
                </div>
                <% break %>
              <% end %>
            <% end %>
          </div>

          <div class="weui-cell weui-cell_select weui-cell_select-after">
            <div class="weui-cell__hd">
              <label for="" class="weui-label">支付方式</label>
            </div>
            <div class="weui-cell__bd">
              <%= select_tag 'payment', options_for_select([['微信支付', 'PAYMENT_TYPE_WECHAT'],["银行卡支付", "PAYMENT_TYPE_YJ"],["线下支付", "PAYMENT_TYPE_NULL"]]) ,  class: "weui-select" %>
            </div>
          </div>

          <div class="weui-cell weui-cell_select weui-cell_select-after">
            <div class="weui-cell__hd">
              <label for="" class="weui-label" >使用优惠</label>
            </div>
            <% if !@lotterys.nil? %>
              <div class="weui-cell__bd">
                  <%= select_tag 'lottery_prize_id', options_for_select(@lotterys.collect{ |u| [u.lottery_prize.name, u.id] }) ,  class: "weui-select" ,include_blank: "不使用优惠" %>
              </div>
            <% end %>
          </div>

          <div class="weui-cell">
            <div class="weui-cell__hd"><label for="" class="weui-label">用户备注</label></div>
            <div class="weui-cell__bd">
              <%= text_field_tag 'custom_desc', '', class: "weui-input", placeholder: "备注" %>
            </div>
          </div>
        </div>

      <% if current_cart.custom_price_products? && product_id_ybz != 38 && product_id_ybz != 50 && product_id_ybz != 1 %>
        <div class="weui-cells">
          <div class="weui-cell">
            <div class="weui-cell__hd"><label for="" class="weui-label">自定义价格</label></div>
            <div class="weui-cell__bd">
              <%= number_field_tag 'custom_price', '', class: "weui-input", placeholder: "请输入您的自定义价格" %>
            </div>
          </div>
        </div>
      <% elsif product_id_ybz == 38 %>
        <input name="custom_price" value="40000" style="display:none;"/>
      <% elsif product_id_ybz == 50 %>
        <input name="custom_price" value="55000" style="display:none;"/>
      <% elsif product_id_ybz == 1 %>
        <input name="custom_price" value="15000" style="display:none;"/>
      <% end %>

      <% if !@integral.nil? && product_id_ybz != 1 && product_id_ybz != 43 && product_id_ybz != 38 && product_id_ybz != 50 %>
        <div class="weui-cells">
          <!--<div class="weui-cell">-->
            <!--<div class="weui-cell__hd"><label for="" class="weui-label">易积分数量</label></div>-->
            <!--<div class="weui-cell__bd">-->
              <!--<%= number_field_tag 'integral_available', '', class: "weui-input", placeholder: "可用#{money @integral.exchange + @integral.not_exchange}易积分", data: { size: money(@integral.exchange + @integral.not_exchange) } %>-->
            <!--</div>-->
          <!--</div>-->
          <div class="weui-cell">
            <div class="weui-cell__hd"><label for="" class="weui-label">现金余额</label></div>
            <div class="weui-cell__bd">
              <%= number_field_tag 'integral_money', '', class: "weui-input", placeholder: "可用#{money @integral.not_cash + @integral.cash}现金",  data: { size: money(@integral.not_cash + @integral.cash) } %>
            </div>
          </div>
          <div class="weui-cell">
            <div class="weui-cell__hd"><label for="" class="weui-label">领配值</label></div>
            <div class="weui-cell__bd">
              <%= number_field_tag 'celebrate_ratsimp', '', class: "weui-input", placeholder: "可用#{money @integral.celebrate_ratsimp }庆通分",  data: { size: money(@integral.celebrate_ratsimp ) } %>
            </div>
          </div>
          <div class="weui-cell">
            <p style="color: red; font-size: 13px;"> 本次订单需消费 <%= money @line_item_qt  %> 领配值</p>
          </div>
          <div class="weui-cell">
            <p style="color: red; font-size: 13px;"> 您的可用领配值为 <%= money @integral.celebrate_ratsimp  %> </p>
          </div>
        </div>
      <% end %>

      <div class="cart-fixed-ft">
        <a class="commit" id="confirm_order_btn">提交订单</a>
        <!-- <span class="mr15">共<%= @all_line_item_count %>件，合计：¥<span class="total" data-all_total_price="<%= money @total_price %>" id="total-price"><%= money @total_price %></span></span> -->
        <span class="mr15">
          <span style="float: left; margin-left: 3px; color: red">
            <span> 合计: </span> <span> ￥<%= money @total_price %> 元 </span>
          </span>
          <span> ￥ </span>
          <span class="total" data-all_total_price="<%= money @total_price %>" id="total-price">
              <%= money @total_price %>
          </span>
        
      </div>
    </div>
  </div>
<% end %>

<script type="text/javascript">

  $('.hytc .hytc_s').each(function(index){
    $(this).click(function(){
      console.log(index);
      $(this).addClass('hytc_ac').siblings().removeClass('hytc_ac');
      $('.hytc_hide').eq(index).toggle().siblings('.hytc_hide').hide();
      $('#value').val(index);
    })
  })

</script>
