<%= form_tag(mall_orders_path, method: :post, id: 'confirm_order') do %>
  <div class='mobile_box'>
    <div class="page-title">
      <h2 class="text-cen">
        <span>确认订单</span>
        <%= link_to '', mall_cart_path, class: 'arrow-left' %>
      </h2>
    </div>
    <div class="wraper pt50 graybg">
      <%= render 'mall/shared/flash' %>
      <div class="address-confirm address-confirm-btn" data-address-id="<%= @recommend_address.id %>">
        <i class="icon-address"></i>
        <i class="arrow-right"></i>
        <p>
          <span class="fr gray84"><%= @recommend_address.mobile %></span>
          收货人：<%= @recommend_address.contact_name %>
        </p>
        <p class="mt10">收货地址：<%= @recommend_address.display_detail %></p>

        <%= hidden_field_tag "address_id", @recommend_address.id %>
      </div>
      <div class="car-box">
        <ul class="pro-list-portrait">
          <% @line_items.each do |line_item| %>
            <li>
              <div class="img">
                <a href="<%= mall_product_path(line_item.product) %>">
                  <%= image_tag line_item.product.image_url %>
                </a>
              </div>
              <div class="pro-m">
                <p class="name"><%= line_item.product.name %></p>
                <div class="gray84 option"><%= line_item.product.try(:product_sort) || '&nbsp;'.html_safe %></div>
                <div class="info clearfix">
                  <% if line_item.product.is_show %>
                    <% if line_item.quantity > 0 %>
                      <span class="fr"><small>x</small><%= line_item.quantity %></span>
                      <p class="fl price">¥<span><%= money line_item.product.now_product_price %></span></p>
                    <% else %>
                      <span class='notice-text'>该商品已无货</span>
                    <% end %>
                  <% else %>
                    <span class='notice-text'>该商品已下架</span>
                    <span data-line_item_id="<%= line_item.id %>" class="fr del"></span>
                  <% end %>
                </div>
              </div>
            </li>
          <% end %>
        </ul>
      </div>

      <div class="weui-cells">
        <div class="weui-cell weui-cell_select weui-cell_select-after">
          <div class="weui-cell__hd">
            <label for="" class="weui-label">参与活动</label>
          </div>
          <div class="weui-cell__bd">
            <%= select_tag 'activity_id', options_for_select(@activities.collect{ |u| [u.name, u.id] }, @activities.first.id) ,  class: "weui-select", include_blank: "不参加活动" %>
          </div>
        </div>
      </div>
      <div class="weui-cells"  id="scoin_account">
        <div class="weui-cell">
          <div class="weui-cell__hd"><label for="" class="weui-label">S币账号</label></div>
          <div class="weui-cell__bd">
            <%= text_field_tag 'account', '', class: "weui-input", placeholder: "请输入您的真实邮箱" %>
          </div>
        </div>
        <div class="weui-panel__hd confirm_font_red">提示：本邮箱将用来为您开通S货币账户</div>
      </div>

      <div class="cart-fixed-ft">
        <a class="commit" id="confirm_order_btn">提交订单</a>
        <span class="mr15">共<%= @all_line_item_count %>件，合计：¥<span class="total" data-all_total_price="<%= money @total_price %>" id="total-price"><%= money @total_price %></span></span>
      </div>
    </div>
  </div>
<% end %>
