<form action="<%= Settings.fast_pay.url %>" method="post" name="formName">
  <div class='mobile_box'>
    <div class="page-title">
      <h2 class="text-cen">
        <span>订单支付</span>
        <%= link_to '', mall_cart_path, class: 'arrow-left' %>
      </h2>
    </div>
    <div class="wraper pt50 graybg">
      <% if flash[:success] %>
        <div class="notice"><%= flash[:success] %></div>
      <% end %>
      <div class="cashier-total">
       订单总额:  <span id="cashierTotal">¥<%= money @order.price %></span>
      </div>
      <div class="cashier-info">
        还需支付：
        <div class="fr">
          <span class="cashier-info-needpay">¥<%= money @order.price %></span>
        </div>
      </div>
      <% @trade_merge_pay_params.keys.each do |item| %>
        <%= hidden_field_tag item, @trade_merge_pay_params[item] %>
      <% end %>
      <% if @order.price > 0 %>
        <button id="cachier-fix-foot" class="cachier-fix-foot active">确认支付</button>
      <% else %>
        <a href="<%= mall_exchange_pay_path(@order) %>" class="cachier-fix-foot active payTrue">确定支付</a>
      <% end %>
    </div>
  </div>
</form>
