<div class='mobile_box'>
  <div class="page-title">
    <h2 class="text-cen">
      <span>订单详情</span>
    </h2>
  </div>
  <div class="wraper pt50">
    <div class="address-box city-group">
      <ul>
        <li class='clearfix'>
          <span class='line'>编号：<%= @order.number %></span>
          <% if !@order.express_number.nil? %>
            <span class='line'>快递单号：<%= @order.express_number %></span>
          <% else %>
            <span class='line'>快递单号：未发货</span>
          <% end %>
          <span class='line'>状态：<%= @order.human_state %></span>
          <span class='line'>数量：<%= @order.quantity %></span>
          <span class='line'>总价：<%= money @order.price %>元</span>
        </li>
      </ul>

      <div class="address-confirm order-address">
        <i class="icon-address"></i>
        <p>
          <span class="fr gray84"><%= @order.address.mobile %></span>
          收货人：<%= @order.address.contact_name %>
        </p>
        <p class="mt10">收货地址：<%= @order.address.display_detail %></p>
      </div>

      <div class="car-box car-nmb">
        <div class="pro-list-portrait">
          <% @order.line_items.each do |line_item| %>
            <div class="order-line-item">
              <div class="img">
                <a href="<%= mall_product_path(line_item.product) %>">
                  <%= image_tag line_item.product.image_url %>
                </a>
              </div>
              <div class="pro-m">
                <a href="<%= mall_product_path(line_item.product) %>">
                  <p class="name"><%= line_item.product.name %></p>
                </a>
                <div class="gray84 option">
                  <%= line_item.product.try(:product_sort) || '&nbsp;'.html_safe %>
                </div>
                <div class="info clearfix">
                  <span class="fr"><small>x</small><%= line_item.quantity %></span>
                  <p class="fl price">¥<span><%= money line_item.unit_price %></span></p>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
