

<style type="text/css">

  .out100 {
    width: 100%;
    overflow: hidden;
    border-bottom: 1px solid #ccc;
  }

  .outTitle {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin-bottom: 2%;
    padding: 1% 2%;
    position: relative;
  }

  .outTitle h5 , .outTitle a {
    display: inline-block;
  }

  .outTitle a {
    color: #999;
    font-size: 0.8rem;
    position: absolute;
    right: 2%;
    bottom: 20%;
  }

  .scrollImg {
    padding: 0 2% 5% 2%;
    white-space:nowrap;
    overflow:auto;
  }

  .scrollImg a {
    display: inline-block;
    width: 30%;
    margin-right: 2%;
  }

  .scrollImg a p {
    text-align: center;
    color: #999;
    font-size: 0.8rem;
  }

  .scrollImg a img {
    float:inherit;
    display: block;
    margin: 0 auto;
  }

  .scrollImg a:last-child {
    margin-right: 0;
  }

</style>


<%= title '御易健' %>
<div class="home">
  <%= render 'shared/slide' %>
</div>
<table style="margin-top: 4%;">
  <tr style="text-align: center;">
    <td style="width: 10%;">
      <a href="<%= doctor_doctor_info_path(id: current_user.user.id) %>"><%= image_tag "icon角色.png", size: "50x50" %></a>
      <p style="margin-bottom:15%;" class="fontSizes">客户列表</p>
    </td>
    <td style="width: 10%;">
      <a href="#"><%= image_tag "icon档案.png", size: "50x50" %></a>
      <p style="margin-bottom:15%;" class="fontSizes">档案</p>
    </td>
    <td style="width: 10%">
      <a href="#"><%= image_tag "icon方案.png", size: "50x50" %></a>
      <p style="margin-bottom:15%;" class="fontSizes">方案</p>
    </td>
    <td style="width: 10%;">
      <a href="#"><%= image_tag "icon异常.png", size: "50x50" %></a>
      <p style="margin-bottom:15%;" class="fontSizes">异常</p>
    </td>
  </tr>
</table>



<div class="out100">
  <div class="outTitle">
    <h5>热门话题</h5>
    <a href="#">查看全部>></a>
  </div>
    <div class="scrollImg">

        <% @user_info_review.each do |user| %>
          <a>
            <%= image_tag user.image, size: "100x140" %>
            <p>
              <% case user.identity %>
            	<% when "family_doctor"%>
            		<%="家庭医生"%>
            	<% when "family_health_manager"%>
            	   <%="家庭健康管理师"%>
            	<% when "helath_manager"%>
            	   <%="健康管理师"%>
            	<% end %>
            </p>
          </a>
        <% end %>

    </div>
</div>

<div class="out100">
  <div class="outTitle">
    <h5>金牌医生榜</h5>
    <a href="#">查看全部>></a>
  </div>
    <div class="scrollImg">

        <% @user_info_review.each do |user| %>
          <a>
            <%= image_tag user.image, size: "100x140" %>
            <p>
              <% case user.identity %>
            	<% when "family_doctor"%>
            		<%="家庭医生"%>
            	<% when "family_health_manager"%>
            	   <%="家庭健康管理师"%>
            	<% when "helath_manager"%>
            	   <%="健康管理师"%>
            	<% end %>
            </p>
          </a>
        <% end %>

    </div>
</div>
