<%= title '会员介绍' %>

<div class="home">
  <%= render 'shared/slide' %>

  <div class="weui-panel weui-panel_access">
    <div class="weui-panel__hd">会员卡</div>
    <div class="weui-panel__bd">
      <% @card.each do |card| %>
      <a href="javascript:void(0);" class="weui-media-box weui-media-box_appmsg">
          <div class="weui-media-box__hd">
            <%= image_tag(card.icon_url,size: "70x40") %>
          </div>
          <div class="weui-media-box__bd">
            <h4 class="weui-media-box__title"><%=card.name%></h4>
            <p class="weui-media-box__desc"><%=card.desc%></p>
          </div>
      </a>
    </div>
  <% end %>
</div>
