<style>


	.ybAc {
		display: block;
		width: 30%;
		position: absolute;
		
	}

	.ybj_ac {
		left: 5%;top: 15%;
	}

	.ybs_ac {
		right: 5%;top: 15%;
	}

	.ybz_ac {
		right: 30%;top: 48%;
	}	

	.ybAc img {
		width: 100%;
	}

	.ybAc p {
		text-align: center;
		background: #fff;
		width: 80%;
		margin:0 auto;
		border-radius: 10px;
		font-weight: bolder;
		padding:2px 0;
	}

	.ybj_ac p{
		color: #fdbca4;
	}

	.ybs_ac p{
		color: #71c2dc;
	}	

	.ybz_ac p{
		color: #b89b28;
	}	


</style>

<!-- 
<% @activity.each do |activity| %>
	<a class="activityDiv" href="<%= activity.url %>">
		<p class="activityName">✿ <%= activity.name %></p>
		<p class="activityImg"><%= image_tag activity.image %></p>
		<p><%= activity.desc %></p>
	</a>
<% end %> -->


<div class="activityContent">
	<a class="ybj_ac ybAc">
		<%= image_tag "ybj.png" %>
		<p>活动简介</p>
	</a>
	<a class="ybs_ac ybAc">
		<%= image_tag "ybs.png" %>
		<p>活动简介</p>
	</a>	
	<a class="ybz_ac ybAc">
		<%= image_tag "ybz.png" %>
		<p>活动简介</p>
	</a>	
</div>
