<style>


	.ybAc {
		display: block;
		width: 30%;
		position: absolute;
		
	}

	.ybs_ac {
		left: 3%;top: 47%;
	}

	.ybj_ac {
		right: 35%;top: 15%;
	}

	.ybz_ac {
		right: 12%;top: 60%;
	}	

	.ybAc img {
		width: 100%;
	}

	.ybAc p {
		text-align: center;
		background: #fff;
		width: 80%;
		margin:0 auto;
		border-radius: 10px;
		font-weight: bolder;
		padding:2px 0;
		font-size: 0.95rem;
	}

	.ybs_ac p{
		color: #7080d7;
	}

	.ybj_ac p{
		color: #0089CC;
		border: 1px solid #0089CC;
	}

	.ybz_ac p{
		color: #ff8500;
	}


</style>

<!-- 
<% @activity.each do |activity| %>
	<a class="activityDiv" href="<%= activity.url %>">
		<p class="activityName">✿ <%= activity.name %></p>
		<p class="activityImg"><%= image_tag activity.image %></p>
		<p><%= activity.desc %></p>
	</a>
<% end %> -->


<div class="activityContent">
	<a class="ybs_ac ybAc" href="<%= Activity.find(1).url %>">
		<%= image_tag "ybs.png" %>
		<p>活动简介</p>
	</a>
	<a class="ybj_ac ybAc" href="<%= Activity.find(7).url %>">
		<%= image_tag "ybj.png" %>
		<p>活动简介</p>		
	</a>	
	<a class="ybz_ac ybAc" href="<%= Activity.find(13).url %>">
		<%= image_tag "ybz.png" %>
		<p>活动简介</p>
	</a>	
</div>
