<%= title '体重' %>
<% if flash[:notice] %>
  <div class="notice"><%=flash[:notice]%></div>
<% end %>
<%= form_for @weight, url: {action: "create"}, html: {class: "nifty_form"} do |f| %>
<div class="weui-cells__title">体重测试</div>
<div class="weui-cells weui-cells_form">
    <div class="weui-cell">
        <div class="weui-cell__hd"><label class="weui-label">体重</label></div>
        <div class="weui-cell__bd">
          <%= f.text_field :value ,class:"weui-input",type:"digit",pattern:"[1-9][0-9]*(\.[0-9]+)?$", placeholder:"请输入体重值"%>
        </div>
    </div>
</div>
<div class="weui-btn-area">
    <%= f.submit "上传" ,class:"weui-btn weui-btn_primary" %>
</div>
<% end %>

<div class="weui-btn-area">
  <table class="hovertable">
    <tr>
    	<th>体重值 kg</th><th>测量时间</th>
    </tr>
    <% @search.each do |search|%>
    <% if @search %>
      <tr>
      	<th><%= search.value %></th>
        <th><%= datetime search.updated_at %></th>
      </tr>
      <% end %>
    <% end %>
  </table>
</div>
