<%= title '血糖' %>
<% if flash[:notice] %>
  <div class="notice"><%=flash[:notice]%></div>
<% end %>
<%= form_for @glucose, url: {action: "create"}, html: {class: "nifty_form"} do |f| %>
<div class="weui-cells__title">血糖测试</div>
<div class="weui-cells weui-cells_form">
    <div class="weui-cell">
        <div class="weui-cell__hd"><label class="weui-label">餐前</label></div>
        <div class="weui-cell__bd">
          <%= f.text_field :ante_cibum ,class:"weui-input",type:"number",pattern:"[0-9]*", placeholder:"请输入血糖值"%>
        </div>
    </div>
    <div class="weui-cell">
        <div class="weui-cell__hd"><label class="weui-label">餐后</label></div>
        <div class="weui-cell__bd">
          <%= f.text_field :after_a_meal ,class:"weui-input",type:"number",pattern:"[0-9]*", placeholder:"请输入血糖值"%>
        </div>
    </div>
</div>
<div class="weui-btn-area">
    <%= f.submit "上传" ,class:"weui-btn weui-btn_primary" %>
</div>
<% end %>
