<%= title '血糖' %>
<% if flash[:notice] %>
  <div class="notice"><%=flash[:notice]%></div>
<% end %>
<%= form_for @glucose, url: {action: "create"}, html: {class: "nifty_form"} do |f| %>
<div class="weui-cells__title">血糖测试</div>
<div class="weui-cells weui-cells_form">
    <div class="weui-cells">
        <div class="weui-cell weui-cell_select weui-cell_select-after">
            <div class="weui-cell__hd">
                <label for="" class="weui-label">时间点</label>
            </div>
            <div class="weui-cell__bd">
              <%= f.select :mens_type, [["请选择","0"],["餐前", "1"],["餐后","2"],["睡前","3"],["睡后","4"]], {}, class: "weui-select" %>
            </div>
        </div>
      </div>
    <div class="weui-cell">
        <div class="weui-cell__hd"><label class="weui-label">血糖值</label></div>
        <div class="weui-cell__bd">
          <%= f.text_field :value ,class:"weui-input",type:"digit",pattern:"[1-9][0-9]*(\.[0-9]+)?$", placeholder:"请输入血糖值"%>
        </div>
    </div>
</div>
<div class="weui-btn-area">
    <%= f.submit "上传" ,class:"weui-btn weui-btn_primary" %>
</div>
<% end %>

<!-- <div class="weui-btn-area">
  <table class="hovertable">
    <tr>
    	<th>血糖值/毫摩尔</th><th>时间点</th><th>测量时间</th>
    </tr>
    <% @search.each do |search| %>
        <tr>
          <% if search.value == 3.8 && search.value == 6.2 %>
            <th class="green"><%= search.value %></th>
          <% else %>
            <th class="red"><%= search.value %></th>
          <% end %>
          <% case search.mens_type %>
          <% when 1 %>
            <th>餐前</th>
          <% when 2 %>
            <th>餐后</th>
          <% when 3 %>
            <th>睡前</th>
          <% else 4 %>
            <th>睡后</th>
          <% end %>
          <th><%= datetime search.updated_at %></th>
        </tr>
    <% end %>
  </table>
</div> -->
