<div class='mobile_box'>
  <div class="page-title">
    <h2 class="text-cen">
      <span>选择收货地址</span>
      <%= link_to '', confirm_mall_orders_path(address_id: params[:address_id]), class: 'arrow-left' %>
    </h2>
  </div>
  <div class="wraper pt50 graybg">
    <% if flash[:success] %>
      <div class="notice"><%= flash[:success] %></div>
    <% end %>
    <div class="list-address">
      <ul class='list-type'>
        <% @addresses.each do |address| %>
          <li>
            <div class="address-item <%= params[:choose_address_id].to_i == address.id ? 'choose-address' : nil %>" data-address-id="<%= address.id %>">
              <p>
                <span class="mr20"><%= address.contact_name %></span>
                <%= address.mobile %>
              </p>
              <p class="address"><%= address.display_detail %></p>
            </div>
            <div class="set-address">
              <div class="set-default">
                <span data-id="<%= address.id %>" class="radio set-default-btn <%= address.is_default ? 'setDef' : nil %>"></span>
                <span class="gray84">设为默认地址</span>
              </div>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
    <div class="address-btn add-address">
      <a href="<%= new_mall_address_path %>">新增收货地址</a>
    </div>
  </div>
</div>
