<%= title '御邦直播大厅' %>
<div class="home">
  <%= render 'shared/slide' %>
</div>
<div>
  <table style="text-align:center; margin-top: 20px;" width="100%">
    <tr>
      <td>
        <a href="<%= user_show_pressure_path %>">
  				<%= image_tag "ybyt04.png", size: "100x100" ,class: "aimg" %>
  			</a>
  			<p>御邦微讲堂</p>
      </td>

      <td>
        <a href="<%= user_show_pressure_path %>">
          <%= image_tag "ybyt04.png", size: "100x100" ,class: "aimg" %>
        </a>
        <p>御邦大讲堂</p>
      </td>
    </tr>
  </table>
</div>
