<style>
.profile {
  position: relative;
}


.float{
  float: right;
  display: inline-block;
  color: #fff;
  margin-right: 20px;
  border: 1px dashed #eee;
  padding:2px 5px;
  border-radius: 3px;
  margin-top: 10px;
}

.healthName {
  display: inline-block;
  position: absolute;
  top: 18%;
  left: 22%;
}

.docText {
  font-size: 14px;
}

</style>
<div class='wallet bg-size'>
  <div class="profile">
    <div class="placeholder">
      <% if @doctor_info_review && @doctor_info_review.user.wechat_user.headimgurl %>
        <%= image_tag @doctor_info_review.user.wechat_user.headimgurl, size: "45x45"  %>
      <% else %>
        <%= image_tag "fallback/default", size: "45x45" %>
      <% end -%>

      <span class="healthName"><%= @doctor_info_review.user.name %></span>
      <% if !@wether_show_request %>
        <a href="<%= user_doctor_user_path(@doctor_info_review.user.id) %>" class="float">申请</a>
      <% end -%>
    </div>
     <div class="placeholder docText">角色：<%= @doctor_info_review.identity_name %></div>
    <div class="placeholder docText">工作地：<%= @doctor_info_review.display_work_detail %></div> 
     <div class="placeholder docText">常住地： <%= @doctor_info_review.display_resident_detail %></div> 
  </div>
</div>
