<div class='wallet bg-size'>
  <div class="weui-flex profile">
    <div>
      <div class="placeholder">
        <%= image_tag current_user.headimgurl if current_user && current_user.headimgurl %>
      </div>
    </div>
    <div class="weui-flex__item profile-text">
      <div class="placeholder"><%= current_user.nickname %></div>
    </div>
    <div class="weui-flex__item profile-text">
      <div class="placeholder">工作地：<%= @doctor_info_review.display_work_detail %></div>
    </div>
    <div class="weui-flex__item profile-text">
      <div class="placeholder">常住地： <%= @doctor_info_review.display_resident_detail %></div>
    </div>
    <div class="weui-flex__item profile-text">
      <div class="placeholder">角色：<%= @doctor_info_review.identity_name %></div>
    </div>
  </div>
</div>
