<%= title '我的健康信息' %>
<%= render 'head' %>


<div>
  <table style="margin-top: 4%;">
    <tr style="text-align: center;">
      <td style="width: 10%;">
        <a href="#"><%= image_tag "icon档案.png", size: "50x50" %></a>
        <p style="margin-bottom:15%;" class="fontSizes">档案</p>
      </td>
      <td style="width: 10%">
        <a href="#"><%= image_tag "icon方案.png", size: "50x50" %></a>
        <p style="margin-bottom:15%;" class="fontSizes">方案</p>
      </td>
      <td style="width: 10%;">
        <a href="#"><%= image_tag "icon异常.png", size: "50x50" %></a>
        <p style="margin-bottom:15%;" class="fontSizes">异常</p>
      </td>
      <td style="width: 10%;">
        <a href="#"><%= image_tag "icon角色.png", size: "50x50" %></a>
        <p style="margin-bottom:15%;" class="fontSizes">我的</p>
      </td>
    </tr>

</div>