<div class="pro-show">
  <div class="swiper-container swp_pro swiper-container-horizontal">
    <ul class="swiper-wrapper">
      <li class='swiper-slide swiper-slide-active'>
        <%= image_tag @product.image_url %>
      </li>
    </ul>
  </div>
  <div class="pro-info">
    <p class="name"><%= @product.name %></p>
    <p class="price">¥<%= money @product.now_product_price %></p>
  </div>
</div>

<ul class="list-type">
  <li class="arrow-right">
    <div class="fr amount">
      <span class="decrease disable" id="decrease_btn">-</span>
      <input type="tel" data-shop-count="<%= @product.shop_count %>" class="num buyNum" id="buyNum" value="1" readonly="">
      <span class="increase" id="increase_btn">+</span>
    </div>
    <span class="choosed">购买数量(库存<span id="shop_count"><%= @product.shop_count %></span>)</span>
  </li>
  <li class="arrow-right">
    <span class="choosed">包装：<%= @product.packaging %></span>
  </li>
  <li class="arrow-right">
    <span class="choosed">生产厂家：<%= @product.production %></span>
  </li>

  <li class="arrow-right">
    <span class="choosed">说明：<%= @product.desc %></span>
  </li>
</ul>

<div class="fixed-ft">
  <div class='operation flex'>
    <a class="flex-item home" href="/">
      <i class="icon-pre"></i>
      首页
    </a>
    <a class="flex-item home" href="<%= mall_cart_path() %>">
      <i class="icon-car"></i>
      <i class="num <%= current_cart_count > 0 ? '' : 'hide' %>" id="carNum">
        <%= current_cart_count %>
      </i>
      购物车
    </a>
    <a class="flex-item footer_link" href="/">
      <i class="icon-wechat"></i>
      客服
    </a>
    <a class="flex-item btn add-car" data-product_id="<%= @product.id %>" id="add_cart">加入购物车</a>
    <a class="flex-item btn buy">立即购买</a>
  </div>
</div>
