
<style>

	body {
		margin: 0px;
	}

	a {
		text-decoration: none;
	}

	div {
		padding: 0;
		margin: 0;
	}
	.makers-container{
		margin-bottom: 125px;
	}
	.shopList ul {
	    border-top: 1px solid #ccc;
	    margin-top: 2%;
	}

	.shopList ul li {
	    display: flex;
	    border-bottom:1px solid #ccc;
	}

	.shopList ul li .slLeft,.shopList ul li .slRight {
	    display: inline-block;
	}

	.shopList ul li .slLeft {
	    width: 30%;
	    padding:2%;
	}

	.shopList ul li .slRight {
	    flex:1;
	    color: #333;
	}

	.shopList ul li .slLeft img {
	    width: 100%;
	    border-radius: 13px;
	}

	.slRight {
		margin-top: 11px;
		padding-left: .5rem;
		padding-right: 8px;
		overflow: auto;
		position: relative;
	}

	.slRight p {
		font-size: 14px;
		display: block;
		line-height: 25px;
	}
	.slRight .money{
		font-size: 16px;
		font-weight: bold;
		overflow: auto;
		margin-top: 6px;
	}

	.slRight p:last-child {
		font-size: 16px;
		font-weight: bold;
	}

	.fontSizes {
		font-size: 0.8rem;
		line-height: 20px;
	}
	b {
		font-weight: normal;
	}
	.tdwith{
		width: 10%;
		height: 114px;
		padding: 5px 0;
	}
	.auth{
		font-size: 16px;
		font-weight: bold;
	}

	.footer-makers {
		position: fixed;
		bottom: 58px;
		left: 0;
		width: 100%;
		padding-top: 20px;
		background-color: #f1f1f1;
	}

	.footer-makers-button a {
		background-color: #ad0e11;
		border: none;
		color: #fff;
		width: 100%;
		padding: 10px;
		display: block;
		text-align: center;
		font-size: 13px;
	}

	.footer-makers-span {
		margin: 10px 0;
		text-align: right;
		padding-right: 10px;
	}

	.xuyue-btn {
		background-color: #ad0e11;
		color: #fff;
		padding: 5px 14px;
	    border-radius: 3px;
	    margin-left: 20px;
	    font-size: 13px;
	}

	.authd button{
		color: #fff;
		border-radius: 20px;
		border: none;
		width: 36px;
    	height: 36px;
    	font-size: 11px;
	}
	.authd .btn1{
		background-color: #ad0e11;
		margin: 0 7px;
	}

	.authd .btn2{
		background-color: #68a870;
	}

	.authd{
		margin-top: 15px;
		margin-left: 10px;
		margin-bottom: 20px;
		overflow: auto;
	}

/*	.authd span:last-child {
		float: right;
		margin-right: 5px;
		font-size: 13px;
		font-weight: 800;
	}*/

	.auth{
		font-size: 16px;
		font-weight: bold;
	}

	.per-block {
		overflow: auto;
		padding: 0 30px;
	}

	.per-block>div:first-child {
		float: left;
		text-align: center;
	}

	.per-block>div:last-child {
		float: right;
		margin-top: 10px;
	}

	.add-P {
		display: inline-block;
		background-color: #ad0e11;
		color: #fff;
		float: right;
		padding: 2px 6px;
		font-size: 13px;
		border-radius: 3px;
		margin-right: 8px;
	}
	.worry{
		font-size: 14px;
		line-height: 38px;
		float: right;
		margin-right: 10px;
		font-weight: bold;
	}
	.mystore{
		margin-left: 10px;
		font-size: 16px;
		font-weight: bold;
	}
	.add{
		background-color: #ad0e11;
		border: none;
		padding:2px 10px;
		color: #fff;
		border-radius: 3px;
		float: right;
		margin-right: 10px;
		font-size: 13px;
	}
	.add:active{
		color: #fff;
	}
	.renew{
		color: #fff;
		background-color: #ad0e11;
		padding: 10px 20px;
		border-radius: 3px;
		margin-left: 20px;
		font-size: 13px;
	}
	.d-shen {
		font-size: .8rem;
		font-weight: normal;
	    color: #fff;
	    display: inline-block;
	    float: right;
	    margin-right: 2px;
	    padding: 1px 10px;
	    border-radius: 2px;
	}
	.d-active-d {
	    background-color: red;
	}
	.d-active-y {
	    background-color: #25ff2c;
	}
	.d-active-w {
	    background-color: #1891fb;
	}

</style>


<div class="makers-container">
	<div>
		<div class="authd">
			<span class="auth">平行店授权</span>
			<button class="btn2" disabled>授权</button>
			<% if @plan.is_capital == true %>
                <span class="worry">管理指导费：0.0</span>
            <% else %>
                <span class="worry">管理指导费：<%= @plan.money*0.1 %></span>
            <% end %>
		</div>
	    <div>
	    	<div class="per-block">
		        <div>
		            <a href=""><%= image_tag "共同体.png", size: "50x50" %></a>
		            <p style="font-weight: bold;"><%= @plan.user.name %></p>
		        </div>
	    		<div>
	    			<p style="margin-bottom: 5px;">创客计划积分余额：30000</p>
	    			<p>合伙人收益：30000</p>
	    		</div>
	    	</div>
			<table style="margin-top: 4%;" align="center">
				<tr style="text-align: center;">
				    <% if @plan.is_capital == true %>
                        <% Plan.where(capital_id:@plan.user_id, is_maker:true).each do |t| %>
                            <td class="tdwith">
                                <a href=""><%= image_tag "共同体.png", size: "50x50" %></a>
                                <div class="fontSizes"><%= t.user.name %></div>
                                <b style="margin-bottom:15%;" class="fontSizes"><%= t.money*0.1 %></b>
                            </td>
                        <% end %>
                    <% else %>
                        <% Plan.where(capital_id:@plan.capital_id, is_maker:true).each do |t| %>
                            <td class="tdwith">
                                <a href=""><%= image_tag "共同体.png", size: "50x50" %></a>
                                <div class="fontSizes"><%= t.user.name %></div>
                                <b style="margin-bottom:15%;" class="fontSizes"><%= t.money*0.1 %></b>
                            </td>
                        <% end %>
                    <% end %>
				</tr>
			</table>
		</div>
	</div>
	<div class="shopList">
		<div  style="line-height: 30px;">
			<span  class="mystore">我的平行店</span>
			<a href="<%= wechat_parallel_shops_applyshop_path(params[:format]) %>" class="add">添加平行店</a>
		</div>


		<ul>
			<% @parallel_shops.each do |shop| %>
				<a href="" style="display: block;">
				 <li>
				     <div class="slLeft">
				     	<%= image_tag "east-ep-a51-9990611.jpg", class:'shopImage' %>
				     </div>
				     <div class="slRight">
				     		<div class="slRight-title">
					            <p><%= shop.title %></p>
					           	<p><%= shop.display_detail %></p>
					           	<p class="money">
					           		<span>分润额：0</span>
					           		<% if shop.status == "waiting" %>
					           			<span class="d-shen d-active-w">待处理</span>
					           		<% elsif shop.status == "dealed" %>
					           			<span class="d-shen d-active-y">审核通过</span>
									<% else %>
										<span class="d-shen d-active-d">未通过审核</span>
					           		<% end %>
					           	</p>
				     		</div>
				     </div>
				 </li>
				</a>
			<% end %>


		</ul>
	</div>


	<!-- <div class="footer-makers">
		<div class="footer-makers-span">
			<span>总额：2500</span>
			<a href="<%=  wechat_makers_protocol_path %>"><span class="xuyue-btn">续约</span></a>
		</div>
		<div class="footer-makers-button">
			<a href="<%= wechat_makers_invite_code_path %>" style="display: inline-block; width: 100%;">
				<button>邀请伙伴</button>
			</a>
		</div>
	</div> -->
</div>


<div class="footer-makers">
	<div class="footer-makers-span">
		<span style="font-weight: bold;margin-top: 5px;"><%= @plan.money %></span>
		<% if @plan.money >= 50000 %>
            <a class="renew" href="<%= wechat_makers_protocol_path %>">续约</a>
        <% end %>
	</div>
	<% if @plan.is_capital == true && Plan.where(capital_id:@plan.user_id, is_maker:true).length < 5 %>
        <div class="footer-makers-button">
            <a href="<%= user_maker_code_path(plan_id: @plan) %>">邀请伙伴</a>
        </div>
    <% end %>
</div>
