<%= title '账号绑定' %>

<%= form_tag(user_bind_phone_path, method: :post, id: 'bind_phone_form') do %>
  <div class='mobile_box'>
    <div class="page-title">
      <h2 class="text-cen">
        <span>手机号验证</span>
        <%= link_to '', :back, class: 'arrow-left' %>
      </h2>
    </div>
    <div class="wraper pt50">
      <% if flash[:notice] %>
        <div class="notice"><%=flash[:notice]%></div>
      <% end %>
      <div class="login_control">
        <div>手机号</div>
        <div class="login_tab">
          <div class="login_content changearea">+86</div>
          <div class="login_space"></div>
          <div class="login_content login_phone">
            <input placeholder="请输入您的手机号" id="txtCustomerID" type="tel" name="mobile">
          </div>
        </div>
      </div>

      <div class="login_control">
        <div class="login_label">验证码</div>
        <div class="login_content">
          <input id="txtValidatedCode" placeholder="短信中6位数字" type="text" name="code">
          <div id="smsgetCode" class="get_code fr">发送验证码</div>
          <div id="resetText" class="get_code hide fr">重新发送(<span id="smsTimeText"></span>)</div>
        </div>
      </div>

      <div class="login_control">
        <div class="login_label">密码</div>
        <div class="login_content">
          <%= password_field_tag :password %>
        </div>
      </div>

      <div class="login_control">
        <div class="login_label">邀请码（选填）</div>
        <div class="login_content">
          <%= text_field_tag :invitation_user, @invitation_user %>
        </div>
      </div>

      <div class="weui-cells__title">必填信息</div>
      <div class="weui-cells weui-cells_form">
        <div class="weui-cell weui-cell_warn">
            <div class="weui-cell__hd"><label for="" class="weui-label">真实姓名</label></div>
            <div class="weui-cell__bd">
                <%= text_field_tag :name %>
            </div>
            <div class="weui-cell__ft">
                <i class="weui-icon-warn"></i>
            </div>
        </div>
          <div class="weui-cell weui-cell_warn">
              <div class="weui-cell__hd"><label for="" class="weui-label">身份证号</label></div>
              <div class="weui-cell__bd">
                  <%= text_field_tag :identity_card %>
              </div>
              <div class="weui-cell__ft">
                  <i class="weui-icon-warn"></i>
              </div>
          </div>
      </div>
      <div class="weui-btn-area">
        <a class="weui-btn weui-btn_primary" id="txtlogin">验证</a>
      </div>
    </div>
  </div>
<% end %>
