<style type="text/css">

  #txtlogin {
    background:#ccc;
  }

  #txtlogin.active {
    background: #1aad19;z-index: 99;

  }

  .weui-cells:after,.weui-cell:before,.weui-cells:before{
    border:0;
  }

  .really,.login_content {
    font-size: 1rem;
  }

  .weui-cell__bd {
    border-bottom: 1px solid #ccc;
  }

  .login_label,.phone,.changearea {
    color: #999;
  }

  .weui-cell_warn .weui-cell__hd {
    width: 19%;
  }

  .radius {
    line-height: 30px;
    border-bottom: 1px solid #ccc;
  }



</style>


<%= title '注册御易健账号' %>

<%= form_tag(user_bind_phone_path, method: :post, id: 'bind_phone_form') do %>
  <div class='mobile_box'>
    <div class="page-title">
      <h2 class="text-cen">
        <span>手机号验证</span>
        <%= link_to '', :back, class: 'arrow-left' %>
      </h2>
    </div>
    <div class="wraper pt50">
      <% if flash[:notice] %>
        <div class="notice"><%= flash[:notice] %></div>
      <% end %>


        <div class="weui-cells__title">必填信息</div>
        <div class="weui-cell weui-cell_warn">
            <div class="weui-cell__hd really"><label for="" class="weui-label">真实姓名</label></div>
            <div class="weui-cell__bd">
                <%= text_field_tag :name %>
            </div>
            <div class="weui-cell__ft">
                <i class="weui-icon-warn"></i>
            </div>
        </div>
        <div class="weui-cell weui-cell_warn">
            <div class="weui-cell__hd really"><label for="" class="weui-label">身份证号</label></div>
            <div class="weui-cell__bd">
                <%= text_field_tag :identity_card %>
            </div>
            <div class="weui-cell__ft">
                <i class="weui-icon-warn"></i>
            </div>
        </div>  

      <div class="login_control">
        <div class="login_label">邀请码（选填）</div>
        <div class="login_content radius">
          <%= text_field_tag :invitation_id, @invitation_user %>
        </div>
      </div>


      <div class="login_control">
        <div class="login_label">请设置登录御易健平台密码</div>
        <div class="login_content radius">
          <%= password_field_tag :password %>
        </div>
      </div>

      
      
      <div class="weui-cells weui-cells_form">
       

        <!-- 医生这里display: none -->
        <label class="weui-agree" style="display: none;">
          <%= check_box_tag :is_doctor, 'true', false, class: 'checkbox weui-agree__checkbox'%>
          <span class="weui-agree__text">
            我是医生
          </span>
        </label>


          <div class="login_control">
            <div class="phone">手机号</div>
            <div class="login_tab">
              <div class="login_content changearea">+86</div>
              <div class="login_space"></div>
              <div class="login_content login_phone">
                <input placeholder="请输入您的手机号" id="txtCustomerID" type="tel" name="mobile">
              </div>
            </div>
          </div>

          <div class="login_control">
            <div class="login_label">验证码</div>
            <div class="login_content">
              <input id="txtValidatedCode" placeholder="短信中6位数字" type="text" name="code">
              <div id="smsgetCode" class="get_code fr">发送验证码</div>
              <div id="resetText" class="get_code hide fr">重新发送(<span id="smsTimeText"></span>)</div>
            </div>
        </div>        

        <!-- 服务条款位置 -->
        <label class="weui-agree">
        <input type="checkbox" name="agreeCheck" id="agreeCheck">
          <span class="weui-agree__text">
            阅读并同意<a href="./info/ybyt.html.erb">《御易健平台服务条款》</a>
          </span>
        </label>
      </div>
      <div class="weui-btn-area">
        <a class="weui-btn weui-btn_primary" id="txtlogin">验证</a>
      </div>

      <script type="text/javascript">

        $('#agreeCheck').click(function(){
          if ($("#agreeCheck").is(':checked')) {
            // console.log(1);
            $('#txtlogin').addClass("active");

          }else{
            // console.log(2);
             $('#txtlogin').removeClass("active");


          }

        })

      </script>

    </div>
  </div>
<% end %>
