<style type="text/css">

  #txtlogin {
    background:#ccc;
  }

  #txtlogin.active {
    background: #1aad19;z-index: 99;

  }

  .really,.login_content {
    font-size: 1rem;
  }

  .weui-cell__bd {
    border-bottom: 1px solid #bbb;
  }

  .login_label,.phone,.changearea, .weui-cells__title {
    color: #000;
  }

  .weui-cell_warn .weui-cell__hd {
    width: 19%;
  }

  .radius {
    line-height: 30px;
    border-bottom: 1px solid #bbb;
  }

  .weui-cell:before, .weui-cells:before, .weui-cells:after {
    border: 0;
  }

  .zhushi {
    color: red;
  }

  input {
    width: 100%; height: 30px;
  }

  .yzm {
    position: relative;
  }

  #smsgetCode {
    position: absolute;
    right: 0;
    top: 0;
  }

  .weui-cells {
    margin: 0;
  }

  .address-box {
    margin-bottom: 0;
  }

  .weui-panel {
    margin-top: 0;
  }

  .weui-panel_access {
    display: none;
  }

</style>


<%= title '注册御易健账号' %>

<%= form_tag(user_bind_phone_path, method: :post, id: 'bind_phone_form') do %>
  <div class='mobile_box'>
    <div class="page-title">
      <h2 class="text-cen">
        <span>手机号验证</span>
        <%= link_to '', :back, class: 'arrow-left' %>
      </h2>
    </div>
    <div class="wraper pt50">
      <% if flash[:notice] %>
        <div class="notice"><%= flash[:notice] %></div>
      <% end %>

      <div class="login_control">
        <div class="login_label" style="font-size: 1.2rem; display: inline-block; width: 35%;">邀请码（选填）</div>

        <div class="login_content radius"  style="width: 60%; display: inline-block;">
          <input type="text" name="invitation_id" id="invitation_id" value="<%= @invitation_user %>">
        </div>
        <p class="zhushi">不填邀请码注册送10个易积分<br>通过好友邀请码注册送30个易积分</p>
      </div>



        <div class="weui-cells__title" style="font-size: 1.2rem;">必填信息</div>
        <div class="weui-cell weui-cell_warn">
            <div class="weui-cell__hd really"><label for="" class="weui-label">真实姓名</label></div>
            <div class="weui-cell__bd">
                <input type="text" name="name" id="name">
            </div>
            <div class="weui-cell__ft">
                <i class="weui-icon-warn"></i>
            </div>
        </div>
        <!-- <div class="weui-cell weui-cell_warn">
            <div class="weui-cell__hd really"><label for="" class="weui-label">身份证号</label></div>
            <div class="weui-cell__bd">
                <input type="text" name="identity_card" id="identity_card">
            </div>
            <div class="weui-cell__ft">
                <i class="weui-icon-warn"></i>
            </div>
        </div> -->




      <div class="login_control">
        <div class="login_label" style="font-size: 1rem;">请设置登录御易健平台密码</div>
        <div class="login_content">
          <input type="password" name="password" id="password">
        </div>
      </div>

      <div class="weui-cell weui-cell_form">
          <div class="weui-cell__hd really"><label for="" class="weui-label">角色选择</label></div>
          <div class="weui-cell__bd" style="border-bottom: none;">
            <select name="identity" id="identity">
              <option value="user">用户</option>
              <option value="family_doctor">家庭医生</option>
              <option value="family_health_manager">家庭健康管理师</option>
              <option value="helath_manager">健康管理师</option>
            </select>
          </div>
      </div>

      <div class="weui-panel weui-panel_access">
        <div class="weui-panel">
          <div class="weui-panel__hd">工作地信息</div>
            <div class="weui-panel__bd">
              <div class="address-box city-group">
                <ul>
                  <li class="clearfix">
                    <span>省份</span>
                    <select class="city-select" name="work_address[province]">
                      <option value="">--省份--</option>
                      <%= options_for_select(ChinaCity.list, @address.try(:province)) %>
                    </select>
                  </li>
                  <li class="clearfix">
                    <span>城市</span>
                    <select class="city-select" name="work_address[city]">
                      <option value="">--城市--</option>
                    </select>
                  </li>
                  <li class="clearfix">
                    <span>地区或街道</span>
                    <select class="city-select" name="work_address[street]">
                      <option value="">--地区或街道--</option>
                    </select>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

      <div class="weui-panel weui-panel_access">
        <div class="weui-panel">
          <div class="weui-panel__hd">常住地信息</div>
            <div class="weui-panel__bd">
              <div class="address-box city-group">
                <ul>
                  <li class="clearfix">
                    <span>省份</span>
                    <select class="city-select" name="resident_address[province]">
                      <option value="">--省份--</option>
                      <%= options_for_select(ChinaCity.list, @address.try(:province)) %>
                    </select>
                  </li>
                  <li class="clearfix">
                    <span>城市</span>
                    <select class="city-select" name="resident_address[city]">
                      <option value="">--城市--</option>
                    </select>
                  </li>
                  <li class="clearfix">
                    <span>地区或街道</span>
                    <select class="city-select" name="resident_address[street]">
                      <option value="">--地区或街道--</option>
                    </select>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>



      <% if @tp == 0 %>
      <!-- 商盟注册 附加信息 -->
        <div class="login_control">
          <div class="login_label" style="font-size: 1rem;">商盟注册，附加信息</div>
          <div class="login_content">
            <input type="password" name="text" id="text">
          </div>
        </div>
      <% end %>



      <div class="weui-cells weui-cells_form">


        <!-- 医生这里display: none -->
        <label class="weui-agree" style="display: none;">
          <%= check_box_tag :is_doctor, 'true', false, class: 'checkbox weui-agree__checkbox'%>
          <span class="weui-agree__text">
            我是医生
          </span>
        </label>


          <div class="login_control">
            <div class="phone">手机号</div>
            <div class="login_tab">
              <div class="login_content changearea">+86</div>
              <div class="login_space"></div>
              <div class="login_content login_phone">
                <input id="txtCustomerID" type="tel" name="mobile">
              </div>
            </div>
          </div>

          <div class="login_control">
            <div class="login_label">验证码</div>
            <div class="login_content yzm">
              <input id="txtValidatedCode" placeholder="短信中6位数字" type="text" name="code">
              <div id="smsgetCode" class="get_code fr">发送验证码</div>
              <div id="resetText" class="get_code hide fr">重新发送(<span id="smsTimeText"></span>)</div>
            </div>
        </div>

        <!-- 服务条款位置 -->
        <label class="weui-agree">
        <input type="checkbox" name="agreeCheck" id="agreeCheck" style="width: 13px;">
          <span class="weui-agree__text">
            阅读并同意<a href="<%= user_ybyt_path %>">《御易健平台服务条款》</a>
          </span>
        </label>
      </div>
      

      <div class="weui-btn-area">
        <a class="weui-btn weui-btn_primary" id="txtlogin">验证</a>
      </div>

      <script type="text/javascript">

        $('#agreeCheck').click(function(){
          if ($("#agreeCheck").is(':checked')) {
            // console.log(1);
            $('#txtlogin').addClass("active");

          }else{
            // console.log(2);
             $('#txtlogin').removeClass("active");
          }

        })


        $("#identity").change(function() {
          if ($(this).val() == '') {
            $(".weui-panel_access").hide();
          }else{
            $(".weui-panel_access").show();
          }
        })



      </script>

    </div>
  </div>
<% end %>
