<style type="text/css">

  #txtlogin {
    background:#ccc;
    padding:0;
    width: 90%;
    height: 40px;
    margin-top: 5px;
  }

  #txtlogin.active {
    background: #1aad19;z-index: 99;

  }

  .really,.login_content {
    font-size: 1rem;
  }

  .weui-cell__bd {
    border-bottom: 1px solid #bbb;
  }

  .login_label,.phone,.changearea, .weui-cells__title {
    color: #000;
  }

  .weui-cell_warn .weui-cell__hd {
    width: 19%;
  }

  .radius {
    line-height: 30px;
  }

  .weui-cell:before, .weui-cells:before, .weui-cells:after {
    border: 0;
  }

  input {
    width: 100%; height: 30px;
  }

  .yzm {
    position: relative;
  }

  #smsgetCode {
    position: absolute;
    right: 0;
    top: 0;
  }

  .weui-cells {
    margin: 0;
  }

  .address-box {
    margin-bottom: 0;
  }

  .weui-panel {
    margin-top: 0;
  }

  .weui-panel_access {
    display: none;
  }

  .zhushi {
      margin-top: 15px;
  }

  .mobile_box .weui-cell__bd {
    border: 0;
  }

  #resetText {
    width: auto;
    float: none;
    position: absolute;
    top: 0;right: 0;
  }

</style>


<%= title '注册御易健账号' %>

<%= form_tag(user_bind_phone_path, method: :post, id: 'bind_phone_form') do %>
  <div class='mobile_box'>
    <div class="page-title">
      <h2 class="text-cen yyj_title">
        <span>手机号验证</span>
        <%= link_to '', :back, class: 'arrow-left' %>
      </h2>
    </div>
    <div class="wraper pt50">
      <% if flash[:notice] %>
        <div class="notice"><%= flash[:notice] %></div>
      <% end %>

      <div class="login_control">
        <div class="login_label" style="font-size: 1rem; display: inline-block; width: 33%;">邀请码（选填）</div>

        <div class="login_content radius yyj_botline"  style="width: 63%; display: inline-block;">
          <input type="text" name="invitation_id" id="invitation_id" value="<%= @invitation_user %>" class="yyj_inputbac">
        </div>
        <p class="yyj_color zhushi">(注:不填邀请码注册送10个易积分,通过好友邀请码注册送30个易积分)</p>
      </div>



        <div class="weui-cells__title" style="font-size: 1.2rem;">必填信息</div>
        <div class="weui-cell weui-cell_warn">
            <div class="weui-cell__hd really"><label for="" class="weui-label">真实姓名　</label></div>
            <div class="weui-cell__bd">
                <input type="text" name="name" id="name" class="yyj_botline yyj_inputbac">
            </div>
            <div class="weui-cell__ft">
                <i class="weui-icon-warn"></i>
            </div>
        </div>
        <!-- <div class="weui-cell weui-cell_warn">
            <div class="weui-cell__hd really"><label for="" class="weui-label">身份证号</label></div>
            <div class="weui-cell__bd">
                <input type="text" name="identity_card" id="identity_card">
            </div>
            <div class="weui-cell__ft">
                <i class="weui-icon-warn"></i>
            </div>
        </div> -->




      <div class="login_control" style="display: flex;">
        <div class="login_label" style="font-size: 1rem;color: red;width: 20%;line-height: 31px;">登录密码</div>
        <div class="login_content yyj_botline" style="flex: 1;line-height: 30px;">
          <input type="password" name="password" id="password">
        </div>
      </div>

      <div class="weui-cell weui-cell_form">
          <div class="weui-cell__hd really"><label for="" class="weui-label" style="width: auto;">角色选择　</label></div>
          <div class="weui-cell__bd" style="border-bottom: none;">
            <select name="identity" id="identity" class="yyj_input">
              <option value="user">用户</option>
              <option value="family_doctor">家庭医生</option>
              <option value="family_health_manager">家庭健康管理师</option>
              <option value="helath_manager">健康管理师</option>
            </select>
          </div>
      </div>

      <div class="weui-panel weui-panel_access">
        <div class="weui-panel">
          <div class="weui-panel__hd yyj_color">工作地信息</div>
            <div class="weui-panel__bd">
              <div class="address-box city-group">
                <ul>
                  <li class="clearfix">
                    <span>省份</span>
                    <select class="city-select" name="work_address[province]">
                      <option value="">--省份--</option>
                      <%= options_for_select(ChinaCity.list, @address.try(:province)) %>
                    </select>
                  </li>
                  <li class="clearfix">
                    <span>城市</span>
                    <select class="city-select" name="work_address[city]">
                      <option value="">--城市--</option>
                    </select>
                  </li>
                  <li class="clearfix">
                    <span>地区或街道</span>
                    <select class="city-select" name="work_address[street]">
                      <option value="">--地区或街道--</option>
                    </select>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

      <div class="weui-panel weui-panel_access resident_address">
        <div class="weui-panel">
            <div class="weui-panel__hd" style="float:left">常住地信息</div>
            <div class="same-address" style="float:right; margin-right:18%; color:#999; font-size:14px; padding-top:5px;">
               <input type="checkbox" name="sameaddress" id="same-address" style="width:15px; height:15px; margin-top:10px;">
               <div class="same-work-address" style="float:right; margin-top:8px; margin-left:5px;">
                   常住地同工作地
               </div>
            </div>
            <div class="weui-panel__bd same-as-work-address" style="clear:both">
              <div class="address-box city-group">
                <ul>
                  <li class="clearfix">
                    <span>省份</span>
                    <select class="city-select" name="resident_address[province]">
                      <option value="">--省份--</option>
                      <%= options_for_select(ChinaCity.list, @address.try(:province)) %>
                    </select>
                  </li>
                  <li class="clearfix">
                    <span>城市</span>
                    <select class="city-select" name="resident_address[city]">
                      <option value="">--城市--</option>
                    </select>
                  </li>
                  <li class="clearfix">
                    <span>地区或街道</span>
                    <select class="city-select" name="resident_address[street]">
                      <option value="">--地区或街道--</option>
                    </select>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>



      <% if @tp == 0 %>
      <!-- 商盟注册 附加信息 -->
        <div class="login_control">
          <div class="login_label" style="font-size: 1rem;">商盟注册，附加信息</div>
          <div class="login_content">
            <input type="password" name="text" id="text">
          </div>
        </div>
      <% end %>



      <div class="weui-cells weui-cells_form">


        <!-- 医生这里display: none -->
        <label class="weui-agree" style="display: none;">
          <%= check_box_tag :is_doctor, 'true', false, class: 'checkbox weui-agree__checkbox'%>
          <span class="weui-agree__text">
            我是医生
          </span>
        </label>


          <div class="login_control">
            <div class="phone">手机号</div>
            <div class="login_tab">
              <div class="login_content yyj_botline yyj_color">+86</div>
              <div class="login_space"></div>
              <div class="login_content login_phone yyj_botline">
                <input id="txtCustomerID" type="tel" name="mobile">
              </div>
            </div>
          </div>

          <div class="login_control">
            <div class="login_label">验证码</div>
            <div class="login_content yzm yyj_botline">
              <input id="txtValidatedCode" placeholder="短信中6位数字" type="text" name="code">
              <div id="smsgetCode" class="get_code fr yyj_btn">发送验证码</div>
              <div id="resetText" class="get_code hide fr yyj_text">重新发送(<span id="smsTimeText"></span>)</div>
            </div>
        </div>

        <!-- 服务条款位置 -->
        <label class="weui-agree">
        <input type="checkbox" name="agreeCheck" id="agreeCheck" class="yyj_check">
          <span class="weui-agree__text yyj_color">
            阅读并同意<a href="<%= user_ybyt_path %>">《御易健平台服务条款》</a>
          </span>
        </label>
      </div>


      <div class="weui-btn-area">
        <a class="weui-btn weui-btn_primary" id="txtlogin">验证</a>
      </div>

      <script type="text/javascript">

        $('#agreeCheck').click(function(){
          if ($("#agreeCheck").is(':checked')) {
            // console.log(1);
            $('#txtlogin').addClass("yyj_submit");
            $('#agreeCheck').css("background","#94c6ad");

          }else{
            // console.log(2);
             $('#txtlogin').removeClass("yyj_submit");
             $('#agreeCheck').css("background","#fff");
          }

        })


        $("#identity").change(function() {
          if ($(this).val() == 'user') {
            $(".weui-panel_access").hide();
          }else{
            $(".weui-panel_access").show();
          }
      });

        $("#same-address").click(function() {
            if ($("#same-address").is(':checked')) {
            // console.log(1);
            $('.same-as-work-address').hide();

          }else{
            // console.log(2);
             $('.same-as-work-address').show();
          }
        })


      </script>

    </div>
  </div>
<% end %>
