<%= title '御易健' %>
<style type="text/css" media="screen">

	.clearfix:after {
	    content: " ";
	    display: block;
	    clear: both;
	    height: 0;
	}
	.clearfix {
	    zoom: 1;
	}

	.silder {
		width: 18%;
		height: 92%;
		background: #eaeaea;
		padding-bottom: 58px;
		border-right: 1px solid #ccc;
		position: fixed;
	}



	.silder li {
		padding: 10px 0;
		border-bottom: 1px solid #ccc;
		text-align: center;
	}

	.silder a {
		color: #666;
		font-size: 14px;
	}

	.pro {
		width: 82%;
		height: 100%;
		margin-left: 18%;
	}

	.pro .pro-sm {
		width: 100%;
		display:none;
		padding-bottom: 58px;
	}

	#content {
		display: block;
	}

	.pro-sm .chanpin {
		width: 100%;
	}

	.pro-sm .chanpin li {
		width: 49%;
		float: left;
		margin-bottom: 25px;
		height: 250px;
	}

	.pro-sm .chanpin .images {
		width: 90%;
		margin: 0 auto;
		margin-top: 10px;
		height: 150px;
	}

	.pro-sm .chanpin .images img {
		width: 100%;
		height: 100%;
	}

	.pro-sm .chanpin li a {
		color: #666;
	}

	.pro-sm .chanpin li span {
		font-size: 14px;
	}

	.pro-sm .chanpin li span, .pro-sm .chanpin li p {
		display: block;
		width: 90%;
		margin: 0 auto;
		margin-top: 10px;
		text-align: center;
	}

	.pro-sm .chanpin li p {
		color: red;
	}

	.active {
		background: #fff;
		color: red;
		z-index: 999;
	}

	/*.float{
		width: 100%;
		text-align: right;
		padding: 2%;
	}*/

	.float{
	  float: right;
	  display: inline-block;
	  color: black;
	  margin-right: 20px;
	  border: 1px dashed black;
	  padding:2px 5px;
	  border-radius: 3px;
	  margin-top: 10px;
	}

</style>


<div class="silder">
	<ul>
		<li><a>全部</a></li>
		<li><a>健康管理师</a></li>
		<li><a>家庭健康管理师</a></li>
		<li><a>家庭医生</a></li>
	</ul>
</div>

<div class="pro">
	<div class="pro-sm" id="content">
		<ul class="clearfix chanpin">
			<% @doctor.each do |doctor| %>
	          <li>
					<a href="<%= doctor_doctor_info_path(doctor.id) %>">
			            <div style="text-align: center;"><%= image_tag doctor.image,size: "100x160" if doctor.image.present?  %></div>
			            <span><%= doctor.user.name %></span>
					</a>
	          </li>
	     	<% end %>
    	</ul>
	</div>

	<div class="pro-sm" id="content">
		<ul class="clearfix chanpin">
			<% @family_doctor.each do |doctor| %>
	          <li>
					<a href="<%= doctor_doctor_info_path(doctor.id) %>">
			            <div style="text-align: center;"><%= image_tag doctor.image,size: "100x160" if doctor.image.present?  %></div>
			            <span><%= doctor.user.name %></span>
					</a>
	          </li>
	     	<% end %>
    	</ul>
	</div>

	<div class="pro-sm" id="content">
		<ul class="clearfix chanpin">
			<% @family_health_manager.each do |doctor| %>
	          <li>
					<a href="<%= doctor_doctor_info_path(doctor.id) %>">
			            <div style="text-align: center;"><%= image_tag doctor.image,size: "100x160" if doctor.image.present?  %></div>
			            <span><%= doctor.user.name %></span>
					</a>
	          </li>
	     	<% end %>
    	</ul>
	</div>

	<div class="pro-sm" id="content">
		<ul class="clearfix chanpin">
			<% @helath_manager.each do |doctor| %>
	          <li>
					<a href="<%= doctor_doctor_info_path(doctor.id) %>">
			            <div style="text-align: center;"><%= image_tag doctor.image,size: "100x160" if doctor.image.present?  %></div>
			            <span><%= doctor.user.name %></span>
					</a>
	          </li>
	     	<% end %>
    	</ul>
	</div>
	
</div>

<script>
	$(".silder ul li").each(function(index, el) {
		$(this).click(function(){
			console.log(index);
			$(this).addClass('active').siblings().removeClass('active');
			$(".pro .pro-sm").each(function(index_sm, el_sm) {
				if(index === index_sm){
                    $(this).show();
                }else{
                    $(this).hide();
                }
			});
		})
	});
</script>
