<%= title '我的动态监测数据' %>
<div class="button_box">
	<a href="<%= user_show_pressure_path %>" class="button_link">
		血压
		<span class="line line_top"></span>
		<span class="line line_right"></span>
		<span class="line line_bottom"></span>
		<span class="line line_left"></span>
	</a>
	<a href="<%= user_show_glucose_path %>" class="button_link">
		血糖
		<span class="line line_top"></span>
		<span class="line line_right"></span>
		<span class="line line_bottom"></span>
		<span class="line line_left"></span>
	</a>
	<a href="<%= user_show_heart_path %>" class="button_link">
		心率
		<span class="line line_top"></span>
		<span class="line line_right"></span>
		<span class="line line_bottom"></span>
		<span class="line line_left"></span>
	</a>
	<a href="<%= user_show_unine_path %>" class="button_link">
		尿酸
		<span class="line line_top"></span>
		<span class="line line_right"></span>
		<span class="line line_bottom"></span>
		<span class="line line_left"></span>
	</a>
	<a href="<%= user_show_weight_path %>" class="button_link">
		体重
		<span class="line line_top"></span>
		<span class="line line_right"></span>
		<span class="line line_bottom"></span>
		<span class="line line_left"></span>
	</a>
  <a href="<%= user_show_temperature_path %>" class="button_link">
    体温
    <span class="line line_top"></span>
    <span class="line line_right"></span>
    <span class="line line_bottom"></span>
    <span class="line line_left"></span>
  </a>
  <a href="<%= user_show_blood_fat_path %>" class="button_link">
    血脂
    <span class="line line_top"></span>
    <span class="line line_right"></span>
    <span class="line line_bottom"></span>
    <span class="line line_left"></span>
  </a>
  <a href="<%= user_tds_path %>" class="button_link">
    TDS
    <span class="line line_top"></span>
    <span class="line line_right"></span>
    <span class="line line_bottom"></span>
    <span class="line line_left"></span>
  </a>
</div>
