<%= title '我的体温监测数据' %>
<%= render 'head' %>
<% if @show.class != Array %>
  <div class="weui-btn-area">
    <%= line_chart [
      {name: "体温", data: @show.pluck(:updated_at, :value)}
    ], library: @options, min: 30, max: 45 %>
    <table class="hovertable">
      <tr>
      	<th>体温值</th><th>状态</th><th>测量时间</th>
      </tr>
      <% @show.each do |search|%>
      <tr>
      	<th><%= search.value %>℃</th>
        <% if search.value > 35 && search.value < 37.6 %>
          <th class="green">正常</th>
        <% else %>
          <th class="red">异常</th>
        <% end %>
        <th><%= datetime search.updated_at %></th>
      </tr>
      <% end %>
    </table>
    <%= paginate @show %>
  </div>
<% else %>
  <div class="weui-btn-area">
    <%= line_chart [
      {name: "体温", data: @aa}
    ], library: @options, min: 30, max: 45 %>
    <table class="hovertable">
      <tr>
        <th>体温值</th><th>状态</th><th>测量时间</th>
      </tr>
      <% @show.each do |search|%>
      <tr>
        <th><%= search["value"] %>℃</th>
        <% if search["value"] > 35 && search["value"] < 37.6 %>
          <th class="green">正常</th>
        <% else %>
          <th class="red">异常</th>
        <% end %>
        <th><%= datetime search["updated_at"] %></th>
      </tr>
      <% end %>
    </table>
  </div>
<% end -%>
<script>
  $(function() {
    $(".weui-btn-area .pagination").css("position", "relative");
    $(".weui-btn-area .pagination").css("text_align", "center");
    $(".weui-btn-area .pagination .page").removeClass("page");
    $(".weui-btn-area .pagination a").css("color", "black");

    if ($(".pagination .next")) {
      $(".pagination .next span").text("下一页");
    }

    if ($(".pagination .last")) {
      $(".pagination .last").hide();
    }

    if ($(".pagination .prev")) {
      $(".pagination .prev span").text("上一页");
    }

    if ($(".pagination .first")) {
      $(".pagination .first").hide();
    }
  })
</script>
