<%= title '我的体重监测数据' %>
<%= render 'head' %>
<div class="weui-btn-area" style="display: block;  padding-bottom:3.5rem;">
  <% if @show.class != Array %>
    <!-- 判断是否有体重数据  无数据时强制指定 图表最大最小值 -->
    <% if @show_last %>
      <%= line_chart [
      {name: "体重", data: @show.pluck(:updated_at, :value)}
    ], library: @options, min: @show_last.value-5, max: @show_last.value+5 %>
    <% else %>
      <%= line_chart [
      {name: "体重", data: @show.pluck(:updated_at, :value)}
    ], library: @options, min: 0, max: 5 %>
    <% end %>
  <% else %>
    <%= line_chart [
    {name: "体重", data: @aa}
  ], library: @options, min: 0, max: 100 %>
  <% end -%>
  <table class="hovertable">
    <tr>
    	<th>体重值 kg</th><th>测量时间</th>
    </tr>
    <% if !@show.nil? %>
    <% @show.each do |search|%>
      <tr>
      	<th><%= search["value"] %></th>
        <th><%= datetime search["updated_at"] %></th>
      </tr>
      <% end %>
    <% end %>
  </table>
  <%= paginate @show if @show.class != Array %>
</div>

<script>
  $(function() {
    $(".weui-btn-area .pagination").css("position", "relative");
    $(".weui-btn-area .pagination").css("text_align", "center");
    $(".weui-btn-area .pagination .page").removeClass("page");
    $(".weui-btn-area .pagination a").css("color", "black");

    if ($(".pagination .next")) {
      $(".pagination .next span").text("下一页");
    }

    if ($(".pagination .last")) {
      $(".pagination .last").hide();
    }

    if ($(".pagination .prev")) {
      $(".pagination .prev span").text("上一页");
    }

    if ($(".pagination .first")) {
      $(".pagination .first").hide();
    }
  })
</script>
