<style type="text/css" media="screen">

	.digital_banner img {
		width: 100%;
		margin-bottom: 2%;
	}

	.tab_menu {
		display: flex;
		margin-bottom: 2px;
	}
	.outDiv {
		margin-top: 2%;
		margin-bottom: 2%;
	}
	.type-list{
		width: 20%;
	}
	.type-list li{
		width: 100%;
		border: 1px solid #ddd;
		margin-bottom: 15px;
		line-height: 35px;
		text-align: center;
	}
	.type-list li a{
		padding:5px;
		color: #000;
	}
	.tab_box{
		flex:1;
		margin-left: 30px;
	}
	.tab_box .title{
		text-align: center;
		color: #ad0e11;
		font-weight: bold;
		font-size: 18px;
		margin-top: 8px;
	}
	.graph {
		text-indent:2em;
		font-size: 14px;
		margin-top: 10px;
		line-height: 25px;
	}
	.graph img{
		width:32px;
		margin-right: 5px;
		height: 32px;
	}
	.selected{
		background-color: #ad0e11;
	}
	.tab1 img{
		width:70%;
		margin-left: 15%;
	}
	.contentOne {
		color:#000;	
		display: block;
		margin-bottom: 5px;
		position: relative;
	}
	.contentOne:hover{
		color: #000;
	}
	.contentOne img{
		display: inline-block;
		width:40%;
		margin-right: 30px;
	}
	.contentOne p{
		display: inline-block;	
		width: 45%;
		line-height:25px;
		position: absolute;
		top:20px;
	}
	.artical1{
		color: #000;
		width: 100%;
		display: inline-block;
		text-align: center;
		line-height: 25px;font-size: 14px;
	}
	.artical1:hover{
		color: #000;
	}
	.artical1 b{
		color: #ad0e11;
		font-weight: bold;
		font-size: 18px;
	}
	.artical{
		color: #000;
		width: 100%;
		display: inline-block;
		/*text-align: center;*/
		line-height: 25px;
		font-size: 14px;
	}
	.artical b{
		color: #ad0e11;
		font-weight: bold;
		font-size: 18px;
		/*margin-left: 40%;*/
	}
	.contentOne a{
		color: #000;
	}
	.layone{
		width: 45%;
		display: inline-block;
		margin-right: 30px;
	}
	.layone img{
		width: 100%;
	}
	
	.contentOne a img{
		/*display: inline-block;*/
		width:40%;
		/*margin-right: 30px;*/
	}
	.layout {
		width: 100%;
		margin-bottom: 20px;
	}
	.
	.onecol{
		width: 100%;
		margin-bottom: 20px;
	}
	.partner{
		width:30%;
		display: inline-block;
	
	}
	.partner b{
		width:100%;
		color: #000;
		line-height: 60px;
		margin-left:35%; 
	}
	.partner img{
		width: 100%;
		display: inline-block;
	}
	#newtime {
		width: 100%;
		text-align: center;
		margin: 0 auto;
		line-height: 30px;
	}
	#newtime .lit{
		color: #ad0e11;
		font-size: 18px;
		/*margin-left: 35%;*/
	}
	.lit{
		color: #ad0e11;
		font-size: 18px;
		/*margin-left: 35%;*/
	}
	#newtime p{
		width:100%;
		font-size: 14px;
		/*margin-left: 20%;*/
		display: table-cell;text-align: center;
	}
	.hide {
		display: none;
	}
	.firstRow{
		text-align: center;
		color: #ad0e11;
		font-size: 18px;
		font-weight: bold;
	}
	.section {
		line-height: 25px;
		font-size: 14px;
	}
	b{
		font-weight: bold;
	}

</style>

			


<%= render 'head'%>
<div class="container outDiv">
	<div class="digital_banner"><%= image_tag "1-1601221010440-L.jpg" %></div>

	<div id="tab">
		<div class="tab_menu"> <!-- #d68b37 -->
			<ul class="type-list">
				<li> 
					<a href="javascript:void(0);">关于《御邦医通商业模式》</a>
				</li>
				<li> 
					<a href="javascript:void(0);">有庆御通（中国）商业体系</a>
				</li>
				<li> 
					<a href="javascript:void(0);">有庆御通（中国）商业体系<br/>合伙人类型</a>
				</li>
				<li> 
					<a href="javascript:void(0);">有庆御通（中国）商业体系<br/>合伙人收益</a>
				</li>
				<li> 
					<a href="javascript:void(0);">有庆御通（中国）商业体系<br/>合伙人基本预期</a>
				</li>
				<li> 
					<a href="javascript:void(0);">有庆御通（中国）商业体系<br/>合伙人风控保障</a>
				</li>
				<li> 
					<a href="javascript:void(0);">御邦医通社区数字健康管理平台</a>
				</li>
				
			</ul>
			
			<div class="tab_box">
				<section id="newtime">
					<b class="lit">新时代</b><br/>
					<p >健康中国已升级为国家战略，没有全民健康，就没有全民小康；不要让健康成为小康的拦路虎</p><br/>
					<b class="lit">数字时代</b><br/>
				<p>大健康产业将独领财富风潮</p><br/>

					<b class="lit">数字时代</b><br/>
				<p>健康的能力必将是人的第一能力，管理健康的消费是最必须保障的根本性消费</p><br/>
					<b class="lit">数字时代</b><br/>
				<p>消费主导分配的时代，社会将进入合伙人制时代</p><br/>

					<b class="lit">数字时代</b><br/>
				<p>经济的总动源将发生改变，企业发展的发动机将置换</p><br/>

					<b class="lit">数字时代</b><br/>
					<p>助人为乐的时代</p><br/>
				<p>公益慈善不再是企业的选择性义务，而是企业必须的责任</p><br/>
					
				</section>
				<div class="hide">				
					<p class="title">关于《御邦医通商业模式》（V3.0）</p>
					<p class="graph">
					围绕着大健康产业，团结精英贤达、能人志士，以消费为驱动，借助互联网、物联网、大数据的力量，以中国特色健康管理新专业模式为支撑，本着共同、共建、共享、共赢的原则，以合伙人制为体制而构筑的大健康产业数字化新商业生态共同体，即有庆御通（中国）商业体系。</p>
					<a class="tab1"><%= image_tag "pm0153-7264ee.jpg"%></a>
				</div>
				<div class="hide">
					<p class="title">有庆御通（中国）商业体系</p>
		       		<p class="graph">有庆御通（中国）商业体系（以下简称：有庆体系）本着“一人有庆，兆民赖之”的思想精神，构筑数字时代大健康产业的合伙人制的商业生态共同体。</p>
		       		<p class="graph">有庆体系以“为人类的健康、幸福、长寿而奋斗”为使命，以基础民生健康能力建设为己任——</p>
		       		<p class="graph"> <%= image_tag "raw_1512697531.png" %>在全国规划建设17万个社区数字健康管理服务平台商业运营结构体（提供三大类服务：慢病健康管理教育培训服务，慢病健康管理干预服务，社区医养结合的居家养老服务）；</p>
		            <p class="graph"> <%= image_tag "raw_1512697531.png" %>以消费经济学支撑的御易健为载体，线上线下形成互联、互通----“老百姓看病有医保，管理健康有御易健”、“御易健•管理健康、创造财富”；</p>
		            <p class="graph"> <%= image_tag "raw_1512697531.png" %>打造有庆体系之御邦医通商业运营系统（包括有庆体系总部公司----御邦医通运营总公司---- 御邦医通省级运营公司----御邦医通社区数字健康管理平台服务公司）；</p>
		            <p class="graph"> <%= image_tag "raw_1512697531.png" %>同时构筑有庆体系之战略模块商业支持系统（九大战略模块公司----御邦教育、御邦资本、御邦置业、御邦会、御邦功能农业、御邦文化、御邦膳食营养、御邦药业、御邦养老）。</p>
				</div>

				<div class="hide">
					<a class="onecol">
						<a class="partner" href="<%= web_healMana_path %>" >
							<%= image_tag "raw_1512715585.jpg" %>
							<b>健康管理消费类</b>
						</a>
						<a class="partner" href="<%= web_manaServ_path %>" >
							<%= image_tag "raw_1512715688.jpg" %>
							<b>管理服务合伙人</b>
						</a>
						<a class="partner" href="<%= web_product_path %>" >
							<%= image_tag "raw_1512716379.jpg" %>
							<b>产品合伙人</b>
						</a>
					</a>
					<a class="onecol">
						<a class="partner" href="<%= web_capital_path %>" >
							<%= image_tag "raw_1512716462.jpg" %>
							<b>资本合伙人</b>
						</a>
						<a class="partner" href="<%= web_strategic_path %>" >
							<%= image_tag "raw_1512716573.jpg" %>
							<b>战略合伙人</b>
						</a>
						<a class="partner" href="<%= web_senior_path %>" >
							<%= image_tag "raw_1512716971.jpg" %>
							<b>高级合伙人</b>
						</a>
					</a>

				</div>

				<div class="hide">	
					<a class="contentOne">
						<%= image_tag "east-ep-a51-9990611.jpg" %>
						<p class="artical"><b>财富</b><br/>1、家庭管理健康消费财富印钞机计划<br/>
						2、消费对应股权溢价收益<br/>
						3、消费股权对应公司盈利分红<br/>
						4、分享收益<br/>
						5、共享生态价值集合体自由交换收益<br/>
						6、其他增值收益<br/></p>
					</a>
					<a class="contentOne">
						<%= image_tag "ph1015-p04805.jpg" %>
						<p class="artical"><b>健康</b><br/>
						1、合伙人及其家人以"去病因、主康复、正治疗“为价值的结果获得，让合伙人及其家人、朋友”不得病、少得病、晚得病、病康复、精治疗”<br/>
						2、参加学习培训，取得对应健康管理师资格，扩大服务外延让更多的人享有健康。<br/></p>
					</a>
					<a class="contentOne">
						<%= image_tag "bji04680164.jpg" %>
						<p class="artical"><b>就业</b><br/>
							为合伙人及其关联提供有庆体系对应工作就业岗位，并推进有庆体系人力资源证券化运营，构筑有庆体系人力资源证券化社会服务结构体。<br/>
						</p>
					</a>	
				</div>

				<div class="hide">
					<a><%= image_tag "1512699608(1).jpg" %></a>
				</div>

				<div class="hide">
					<section>
						<section class="layone">	
							<%= image_tag "bji03130039.jpg" %>
							<a class="artical1"><b>零风险</b><br/>	
								初始即完成了合理价值的消费，并对应形成消费投资股权收益，做到零风险。<br/>
							</a>
						</section>

						<section class="layone">
							<%= image_tag "ph1852-p02312.jpg" %>
							<a class="artical1"><b>股权分红</b><br/>	
								对应股权每月分红收益权利， 收益率约为7-8%/年（只针对消费类合伙人）。<br/>
							</a>
						</section>
					</section>
					<section style="position:relative;">
						<section class="layone" style="position: absolute;left:48%" >
							<%= image_tag "is098r54b.jpg" %>
							<a class="artical1"><b>自由交易</b><br/>		
								有庆体系御易健合伙人股权交易平台，自由交易。<br/>
							</a>
						</section>

						<section class="layone">
							<%= image_tag "640 (5).jpg" %>
							<a class="artical1"><b>回收保障</b><br/>		
								有庆体系合伙人对应股权按照1-3年的时间期效回收保障机制，保障合伙人基本收益。<br/>
							</a>
						</section>
					</section>	
				</div>	
				
				<div class="hide">
					<p class="firstRow">御邦医通社区数字健康管理平台简介</p>
					<p class="graph" >御邦医通社区数字健康管理平台是以每1万人为一个区块建设一个平台服务公司，在全国规划建构17万个，核心提供三大类服务：慢病健康管理教育培训服务、慢病健康管理干预服务、社区医养结合的居家养老服务。社区数字健康管理平台按公司化运营，依照公司法对应成立御邦医通社区数字化健康管理平台服务公司。</p>
					<section class="section" style="line-height:25px;font-size: 14px"><b>（1）社区数字健康管理平台内容：</b><br/>
					A、软件内容：<br/>
					基于“中国特色健康管理新专业模式”和《御邦医通商业模式（V3.0）》设计的社区数字健康管理平台服务结构体运营系统。<br/>
					B、硬件内容：<br/>
					社区数字健康管理平台的选址、工程建设；<br/>
					慢病健康管理专业价值服务配套植入；<br/>
					健康专业关联价值配套植入；<br/>
					实现平台功能的配套价值植入及保障设施。<br/>
					<b>（2）注册资金</b><br/>
					每个平台服务公司注册资金500万元。<br/>
					<b>（3）股权结构</b><br/>
					51%由甲方控股的对应御邦医通省级公司控股；<br/>
					49%由深圳御邦资本管理有限公司（健康管理“消费+投资”类合伙人）持有。<br/>
					<b>（4）御邦医通平台服务公司定值</b><br/>
					2017年12月31日前，每个御邦医通平台服务公司定值500万元。<br/>
					</section>
				</div>

			</div>
		</div>
	</div>

</div>

<%= render "bottom" %>



<script type="text/javascript">

    	var oTab=document.getElementById('tab');
    	var aboLi=oTab.getElementsByTagName('li');
    	var oTabBox=oTab.getElementsByTagName('div')[1];
    	var aBox=oTabBox.getElementsByTagName('div');
   		for(var i=0;i<aboLi.length;i++){
	    	aboLi[i].index=i;
	     	aboLi[i].onclick=function(){
	     		document.getElementById('newtime').style.display="none";
		      	for(var j=0;j<aboLi.length;j++){
		       		aBox[j].className='hide';//隐藏所有的tabDiv
		      		aboLi[j].className='';//取消菜单样式
		      	}
	      		aboLi[this.index].className='selected';

	      		for(var i=0;i<aBox.length;i++){
	      			aBox.className="hide";
	      		}
	      		aBox[this.index].className='';
	     	}
    	}

</script>	