<style type="text/css" media="screen">

	.digital_banner img {
		width: 100%;
		margin-bottom: 2%;
	}

	.tab_menu {
		display: flex;
		margin-bottom: 2px;
	}
	.outDiv {
		margin-top: 2%;
		margin-bottom: 2%;
	}
	.inline{
		width:30%;
		display: inline-block;
		float: left;
	}
	.inline img{
		width:85%;
	}
	.inline .title{
		color: #ad0e11;
		text-align: center;
		font-size: 15px;
		font-weight: bold;
		line-height: 30px;
	}
	
	.titlep{
		text-align: center;
		color: #ad0e11;
		font-size: 18px;
		font-weight: bold;
		line-height: 25px;
		padding-bottom: 10px;
	}
	.content{
		width: 95%;
	}
	.clear{
		clear:left;
		font-size: 14px;
	}
	.clear p{
		font-size: 14px;
	}
	.remarks{
		color: #ad0e11;
	}


</style>			

<%= render 'head'%>
<div class="container outDiv">
	<div class="digital_banner"><%= image_tag "1-1601221010440-L.jpg" %></div>

	<div id="tab">
		<div class="titlep">健康管理消费类合伙人</div>
		<div class="inline">
			<%= image_tag "raw_1512717706.jpg" %>	
			<div class="content">
				<a class="title">御邦医通社区数字健康管理平台服务公司合伙人（消费10000元+）</a><br/>
				<b>每份权益如下：</b></br/>		
				（1）1份对应编码的社区数字健康管理平台服务公司0.1%的股权资格，价值5000元（截止2017年12月31日前）</br/>	
				（2）价值5000元的健康管理产品或服务</br/>	
				（3）价值5000元+的保值产品（如：有庆御通定制版玉质赋能刮痧板）</br/>	
				（4）连续10年易积分返利，每月返还60易积分</br/>	
			</div>
		
		</div>

		<div class="inline">
			<%= image_tag "raw_1512718027.jpg" %>			
			<div class="content">
				<a class="title" style="padding-bottom: 10px">御邦医通省级公司合伙人（消费50000+）</a><br/>
				<b>每份权益如下：</b></br/>	
				（1）1份御邦医通省级公司0.1%股权资格（或股权），价值30000元（截止2017年12月31日前）</br/>	
				（2）价值25000元的健康管理产品或服务</br/>	
				（3）价值25000元+的保值产品（如：紫砂壶、国家级名人字画等）</br/>	
				（4）连续10年，注册前，御易健每月返还300易积分，注册运营后（以5人正式员工团队为标准），每月返500易积分</br/>	
			</div>
		
		</div>


		<div class="inline">
			<%= image_tag "raw_1512718046.jpg" %>			
			<div class="content">
				<a class="title">御邦医通省级公司合伙人——LWKS专项合伙人（消费100000+）</a><br/>
				<b>每份权益如下：</b></br/>
				（1）1份御邦医通省级公司0.1%股权资格（未注册省区）或0.1%股权（已注册省区），价值30000元（2017年12月31日前）；</br/>	
				（2）价值6.7万元的有庆体系LWKS“培训•干预师”培训课程和有庆体系慢病健康管理教育培训课程。</br/>	
				（3）价值30000元的健康管理的产品或服务</br/>	
				（4）价值30000元+的保值产品（如：紫砂壶、国家级名人字画等）。</br/>	
			</div>

		</div>
	</div>

	<div class="clear">
		<p class="remarks">备注：</p>
		<p>以上三类价格截止至2017年12月31底，每个类别均可消费多份。</p>
	</div>
</div>
<%= render "bottom" %>