<!DOCTYPE html>
<html>
  <head>
    <%= render 'shared/head' %>
  </head>
  <body>
    <div class="page tabbar js_show">
      <div class="page__bd" style="height: 100%;">
        <div class="weui-tab">
          <div class="weui-tab__panel">
            <%= yield %>
          </div>
          <% unless @no_fotter %>
            <div class="weui-tabbar">
              <a href="<%= mall_root_path %>" class="weui-tabbar__item <%= controller_name == 'home' ? 'weui-bar__item_on' : nil %>">
                <%= image_tag("home.png", class: "weui-tabbar__icon") %>
                <p class="weui-tabbar__label">首页</p>
              </a>
              <a href="javascript:;" class="weui-tabbar__item">
                <%= image_tag("category.png", class: "weui-tabbar__icon") %>
                <p class="weui-tabbar__label">分类</p>
              </a>
              <a href="<%= mall_cart_path %>" class="weui-tabbar__item <%= controller_name == "carts" ? 'weui-bar__item_on' : nil %>">
                <%= image_tag("cart.png", class: "weui-tabbar__icon") %>
                <p class="weui-tabbar__label">购物车</p>
              </a>
              <a href="javascript:;" class="weui-tabbar__item">
                <%= image_tag("discover.png", class: "weui-tabbar__icon") %>
                <p class="weui-tabbar__label">发现</p>
              </a>
              <a href="<%= mall_my_path %>" class="weui-tabbar__item <%= ['my', 'addresses', 'orders'].include?(controller_name) ? 'weui-bar__item_on' : nil %>"">
                <%= image_tag("person.png", class: "weui-tabbar__icon") %>
                <p class="weui-tabbar__label">我的</p>
              </a>
            </div>
          <% end %>
          <%= render 'shared/flash' %>
        </div>
      </div>
    </div>
  </body>
</html>
