<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title><%= content_for?(:title) ? yield(:title) : "御邦平行店" %></title>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'wechat', 'data-turbolinks-track': 'reload' %>
    <% if Rails.env.development? %>
      <script type='text/javascript' src="http://wechatfe.github.io/vconsole/lib/vconsole.min.js?v=2.5.0"></script>
    <% end %>
  </head>
  <body>
    <div class="page tabbar js_show">
      <div class="page__bd" style="height: 100%;">
        <div class="weui-tab">
          <div class="weui-tab__panel no-pb" >
            <%= yield %>
          </div>
          <%= render 'shared/flash' %>
        </div>
      </div>
    </div>
    <%= render 'shared/loading' %>
  </body>
</html>