<!DOCTYPE html>
<html>
<head>
  <%= render 'shared/head' %>
</head>
<body>
<div class="page tabbar js_show">
  <div class="page__bd" style="height: 100%;">
    <div class="weui-tab">
      <div class="weui-tab__panel">
        <%= yield %>
      </div>
      <div class="weui-tabbar">
        <a href="/" class="weui-tabbar__item <%= controller_name == 'home' ? 'weui-bar__item_on' : nil %>">
          <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
               width="28" height="28"
               viewBox="0 0 80 80"
               style="fill:<%= controller_name == 'home' ? '#ad0e11' : '#999' %>;">
            <path style="line-height:normal;text-indent:0;text-align:start;text-decoration-line:none;text-decoration-style:solid;text-decoration-color:#000;text-transform:none;block-progression:tb;isolation:auto;mix-blend-mode:normal" d="M 15.052734 10 C 13.407765 10 12.052734 11.35503 12.052734 13 L 12.052734 17.523438 L 7 27.767578 L 7 33 C 7 35.038549 8.239622 36.798137 10 37.574219 L 10 71 L 19 71 L 61 71 L 70 71 L 70 37.574219 C 71.760378 36.798137 73 35.038549 73 33 L 73 27.767578 L 67.947266 17.523438 L 67.947266 13 C 67.947266 11.35503 66.592235 10 64.947266 10 L 15.052734 10 z M 15.052734 12 L 64.947266 12 C 65.512296 12 65.947266 12.43497 65.947266 13 L 65.947266 17.990234 L 66.050781 18.199219 L 71 28.232422 L 71 33 C 71 34.668484 69.668484 36 68 36 C 66.331516 36 65 34.668484 65 33 L 63 33 C 63 34.668484 61.668484 36 60 36 C 58.331516 36 57 34.668484 57 33 L 55 33 C 55 34.668484 53.668484 36 52 36 C 50.331516 36 49 34.668484 49 33 L 47 33 C 47 34.668484 45.668484 36 44 36 C 42.331516 36 41 34.668484 41 33 L 39 33 C 39 34.668484 37.668484 36 36 36 C 34.331516 36 33 34.668484 33 33 L 31 33 C 31 34.668484 29.668484 36 28 36 C 26.331516 36 25 34.668484 25 33 L 23 33 C 23 34.668484 21.668484 36 20 36 C 18.331516 36 17 34.668484 17 33 L 15 33 C 15 34.668484 13.668484 36 12 36 C 10.331516 36 9 34.668484 9 33 L 9 28.232422 L 14.052734 17.990234 L 14.052734 13 C 14.052734 12.43497 14.487704 12 15.052734 12 z M 16 16 A 1 1 0 0 0 15 17 A 1 1 0 0 0 16 18 A 1 1 0 0 0 17 17 A 1 1 0 0 0 16 16 z M 20 16 A 1 1 0 0 0 19 17 A 1 1 0 0 0 20 18 A 1 1 0 0 0 21 17 A 1 1 0 0 0 20 16 z M 24 16 A 1 1 0 0 0 23 17 A 1 1 0 0 0 24 18 A 1 1 0 0 0 25 17 A 1 1 0 0 0 24 16 z M 28 16 A 1 1 0 0 0 27 17 A 1 1 0 0 0 28 18 A 1 1 0 0 0 29 17 A 1 1 0 0 0 28 16 z M 32 16 A 1 1 0 0 0 31 17 A 1 1 0 0 0 32 18 A 1 1 0 0 0 33 17 A 1 1 0 0 0 32 16 z M 36 16 A 1 1 0 0 0 35 17 A 1 1 0 0 0 36 18 A 1 1 0 0 0 37 17 A 1 1 0 0 0 36 16 z M 40 16 A 1 1 0 0 0 39 17 A 1 1 0 0 0 40 18 A 1 1 0 0 0 41 17 A 1 1 0 0 0 40 16 z M 44 16 A 1 1 0 0 0 43 17 A 1 1 0 0 0 44 18 A 1 1 0 0 0 45 17 A 1 1 0 0 0 44 16 z M 48 16 A 1 1 0 0 0 47 17 A 1 1 0 0 0 48 18 A 1 1 0 0 0 49 17 A 1 1 0 0 0 48 16 z M 52 16 A 1 1 0 0 0 51 17 A 1 1 0 0 0 52 18 A 1 1 0 0 0 53 17 A 1 1 0 0 0 52 16 z M 56 16 A 1 1 0 0 0 55 17 A 1 1 0 0 0 56 18 A 1 1 0 0 0 57 17 A 1 1 0 0 0 56 16 z M 60 16 A 1 1 0 0 0 59 17 A 1 1 0 0 0 60 18 A 1 1 0 0 0 61 17 A 1 1 0 0 0 60 16 z M 64 16 A 1 1 0 0 0 63 17 A 1 1 0 0 0 64 18 A 1 1 0 0 0 65 17 A 1 1 0 0 0 64 16 z M 12 28 A 1 1 0 0 0 11 29 A 1 1 0 0 0 12 30 A 1 1 0 0 0 13 29 A 1 1 0 0 0 12 28 z M 16 28 A 1 1 0 0 0 15 29 A 1 1 0 0 0 16 30 A 1 1 0 0 0 17 29 A 1 1 0 0 0 16 28 z M 20 28 A 1 1 0 0 0 19 29 A 1 1 0 0 0 20 30 A 1 1 0 0 0 21 29 A 1 1 0 0 0 20 28 z M 24 28 A 1 1 0 0 0 23 29 A 1 1 0 0 0 24 30 A 1 1 0 0 0 25 29 A 1 1 0 0 0 24 28 z M 28 28 A 1 1 0 0 0 27 29 A 1 1 0 0 0 28 30 A 1 1 0 0 0 29 29 A 1 1 0 0 0 28 28 z M 32 28 A 1 1 0 0 0 31 29 A 1 1 0 0 0 32 30 A 1 1 0 0 0 33 29 A 1 1 0 0 0 32 28 z M 36 28 A 1 1 0 0 0 35 29 A 1 1 0 0 0 36 30 A 1 1 0 0 0 37 29 A 1 1 0 0 0 36 28 z M 40 28 A 1 1 0 0 0 39 29 A 1 1 0 0 0 40 30 A 1 1 0 0 0 41 29 A 1 1 0 0 0 40 28 z M 44 28 A 1 1 0 0 0 43 29 A 1 1 0 0 0 44 30 A 1 1 0 0 0 45 29 A 1 1 0 0 0 44 28 z M 48 28 A 1 1 0 0 0 47 29 A 1 1 0 0 0 48 30 A 1 1 0 0 0 49 29 A 1 1 0 0 0 48 28 z M 52 28 A 1 1 0 0 0 51 29 A 1 1 0 0 0 52 30 A 1 1 0 0 0 53 29 A 1 1 0 0 0 52 28 z M 56 28 A 1 1 0 0 0 55 29 A 1 1 0 0 0 56 30 A 1 1 0 0 0 57 29 A 1 1 0 0 0 56 28 z M 60 28 A 1 1 0 0 0 59 29 A 1 1 0 0 0 60 30 A 1 1 0 0 0 61 29 A 1 1 0 0 0 60 28 z M 64 28 A 1 1 0 0 0 63 29 A 1 1 0 0 0 64 30 A 1 1 0 0 0 65 29 A 1 1 0 0 0 64 28 z M 68 28 A 1 1 0 0 0 67 29 A 1 1 0 0 0 68 30 A 1 1 0 0 0 69 29 A 1 1 0 0 0 68 28 z M 16 35.837891 C 16.908678 37.111792 18.325411 38 20 38 C 21.674589 38 23.091322 37.111792 24 35.837891 C 24.908678 37.111792 26.325411 38 28 38 C 29.674589 38 31.091322 37.111792 32 35.837891 C 32.908678 37.111792 34.325411 38 36 38 C 37.674589 38 39.091322 37.111792 40 35.837891 C 40.908678 37.111792 42.325411 38 44 38 C 45.674589 38 47.091322 37.111792 48 35.837891 C 48.908678 37.111792 50.325411 38 52 38 C 53.674589 38 55.091322 37.111792 56 35.837891 C 56.908678 37.111792 58.325411 38 60 38 C 61.674589 38 63.091322 37.111792 64 35.837891 C 64.908678 37.111792 66.325411 38 68 38 L 68 69 L 61 69 L 61 64 A 1 1 0 0 0 62 63 A 1 1 0 0 0 61 62 L 61 43 L 19 43 L 19 44 L 19 62 A 1 1 0 0 0 18 63 A 1 1 0 0 0 19 64 L 19 69 L 12 69 L 12 38 C 13.674589 38 15.091322 37.111792 16 35.837891 z M 21 45 L 40 45 A 1 1 0 0 0 41 46 A 1 1 0 0 0 42 45 L 59 45 L 59 69 L 42 69 A 1 1 0 0 0 41 68 A 1 1 0 0 0 40 69 L 21 69 L 21 45 z M 41 48 A 1 1 0 0 0 40 49 A 1 1 0 0 0 41 50 A 1 1 0 0 0 42 49 A 1 1 0 0 0 41 48 z M 41 52 A 1 1 0 0 0 40 53 A 1 1 0 0 0 41 54 A 1 1 0 0 0 42 53 A 1 1 0 0 0 41 52 z M 41 56 A 1 1 0 0 0 40 57 A 1 1 0 0 0 41 58 A 1 1 0 0 0 42 57 A 1 1 0 0 0 41 56 z M 37 60 A 1 1 0 0 0 36 61 A 1 1 0 0 0 37 62 A 1 1 0 0 0 38 61 A 1 1 0 0 0 37 60 z M 41 60 A 1 1 0 0 0 40 61 A 1 1 0 0 0 41 62 A 1 1 0 0 0 42 61 A 1 1 0 0 0 41 60 z M 45 60 A 1 1 0 0 0 44 61 A 1 1 0 0 0 45 62 A 1 1 0 0 0 46 61 A 1 1 0 0 0 45 60 z M 15 62 A 1 1 0 0 0 14 63 A 1 1 0 0 0 15 64 A 1 1 0 0 0 16 63 A 1 1 0 0 0 15 62 z M 65 62 A 1 1 0 0 0 64 63 A 1 1 0 0 0 65 64 A 1 1 0 0 0 66 63 A 1 1 0 0 0 65 62 z M 41 64 A 1 1 0 0 0 40 65 A 1 1 0 0 0 41 66 A 1 1 0 0 0 42 65 A 1 1 0 0 0 41 64 z"></path>
          </svg>
          <p class="weui-tabbar__label">首页</p>
        </a>
        <a href="<%= wechat_parallel_shops_index_path(1) %>" class="weui-tabbar__item <%= @shop_type == '1' ? 'weui-bar__item_on ' : nil %>">
          <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
               width="28" height="28"
               viewBox="0 0 50 50"
               style="fill:<%= @shop_type == '1' ? '#ad0e11' : '#999' %>;">
            <g id="surface1">
              <path style=" " d="M 28.90625 2 C 28.773438 2.015625 28.648438 2.058594 28.53125 2.125 L 10.53125 11.90625 C 10.207031 12.078125 10.003906 12.414063 10 12.78125 L 10 16 C 10 16.550781 10.449219 17 11 17 L 13 17 L 13 21.21875 L 15 20.125 L 15 16.34375 L 29 8.625 L 43 16.34375 L 43 42 L 35 42 L 35 44 L 44 44 C 44.550781 44 45 43.550781 45 43 L 45 17 L 47 17 C 47.550781 17 48 16.550781 48 16 L 48 12.78125 C 47.996094 12.414063 47.792969 12.078125 47.46875 11.90625 L 29.46875 2.125 C 29.296875 2.027344 29.101563 1.984375 28.90625 2 Z M 29 4.125 L 46 13.375 L 46 15 L 44.71875 15 L 29.46875 6.625 C 29.175781 6.46875 28.824219 6.46875 28.53125 6.625 L 13.28125 15 L 12 15 L 12 13.375 Z M 18.90625 20 C 18.773438 20.015625 18.648438 20.058594 18.53125 20.125 L 2.53125 28.90625 C 2.207031 29.078125 2.003906 29.414063 2 29.78125 L 2 33 C 2 33.550781 2.449219 34 3 34 L 5 34 L 5 47 C 5 47.550781 5.449219 48 6 48 L 32 48 C 32.550781 48 33 47.550781 33 47 L 33 34 L 35 34 C 35.550781 34 36 33.550781 36 33 L 36 29.78125 C 35.996094 29.414063 35.792969 29.078125 35.46875 28.90625 L 19.46875 20.125 C 19.296875 20.027344 19.101563 19.984375 18.90625 20 Z M 19 22.125 L 34 30.375 L 34 32 L 32.71875 32 L 19.5 24.625 C 19.191406 24.445313 18.808594 24.445313 18.5 24.625 L 5.28125 32 L 4 32 L 4 30.375 Z M 19 26.65625 L 31 33.34375 L 31 46 L 7 46 L 7 33.34375 Z "></path>
            </g>
          </svg>
          <p class="weui-tabbar__label">御邦平行店</p>
        </a>
        <a href="<%= wechat_parallel_shops_index_path(2) %>" class="weui-tabbar__item <%= @shop_type == '2' ? 'weui-bar__item_on ' : nil %>">
          <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
               width="28" height="28"
               viewBox="0 0 50 50"
               style="fill:<%= @shop_type == '2' ? '#ad0e11' : '#999' %>;">
            <g id="surface1">
              <path style=" " d="M 25 0 C 21.15625 0 18 3.15625 18 7 L 12.8125 7 L 12.71875 7.875 L 10 31.875 L 9.875 33 L 40.125 33 L 40 31.875 L 37.28125 7.875 L 37.1875 7 L 32 7 C 32 3.15625 28.84375 0 25 0 Z M 25 2 C 27.753906 2 30 4.246094 30 7 L 20 7 C 20 4.246094 22.246094 2 25 2 Z M 14.59375 9 L 18 9 L 18 10.28125 C 17.402344 10.628906 17 11.261719 17 12 C 17 13.105469 17.894531 14 19 14 C 20.105469 14 21 13.105469 21 12 C 21 11.261719 20.597656 10.628906 20 10.28125 L 20 9 L 30 9 L 30 10.28125 C 29.402344 10.628906 29 11.261719 29 12 C 29 13.105469 29.894531 14 31 14 C 32.105469 14 33 13.105469 33 12 C 33 11.261719 32.597656 10.628906 32 10.28125 L 32 9 L 35.40625 9 L 37.875 31 L 12.125 31 Z M 7.84375 26.78125 C 7.757813 26.800781 7.671875 26.832031 7.59375 26.875 L 0.84375 30 C 0.8125 30.007813 0.78125 30.019531 0.75 30.03125 L 0.65625 30.0625 C 0.554688 30.089844 0.460938 30.132813 0.375 30.1875 C 0.355469 30.195313 0.332031 30.207031 0.3125 30.21875 C 0.3125 30.230469 0.3125 30.238281 0.3125 30.25 C -0.0664063 30.53125 -0.195313 31.039063 0 31.46875 L 0 35 C -0.00390625 35.359375 0.1875 35.695313 0.5 35.875 L 24.5 49.875 C 24.808594 50.054688 25.191406 50.054688 25.5 49.875 L 49.5 35.875 C 49.8125 35.695313 50.003906 35.359375 50 35 L 50 31.5 C 50.21875 31.039063 50.058594 30.488281 49.625 30.21875 C 49.558594 30.167969 49.484375 30.125 49.40625 30.09375 L 49.375 30.0625 C 49.316406 30.035156 49.25 30.015625 49.1875 30 L 42.40625 26.875 C 42.261719 26.804688 42.097656 26.773438 41.9375 26.78125 C 41.453125 26.785156 41.042969 27.132813 40.957031 27.605469 C 40.875 28.082031 41.140625 28.550781 41.59375 28.71875 L 46.8125 31.09375 L 25 43.84375 L 3.1875 31.09375 L 8.40625 28.71875 C 8.898438 28.554688 9.1875 28.039063 9.0625 27.535156 C 8.941406 27.027344 8.453125 26.699219 7.9375 26.78125 C 7.90625 26.78125 7.875 26.78125 7.84375 26.78125 Z M 2 32.75 L 24.5 45.875 C 24.808594 46.054688 25.191406 46.054688 25.5 45.875 L 48 32.75 L 48 34.40625 L 25 47.84375 L 2 34.40625 Z "></path>
            </g>
          </svg>
          <p class="weui-tabbar__label">医通影子店</p>
        </a>
        <% if @user.user_id.nil? %>
            <a href="<%= user_binding_path %>" class="weui-tabbar__item <%= controller_name == 'info' ? 'weui-bar__item_on' : nil %>">
              <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                   width="28" height="28"
                   viewBox="0 0 32 32"
                   style="fill:<%= controller_name == 'info' ? '#ad0e11' : '#999' %>;">
                <g id="surface1">
                  <path style=" " d="M 16 3 C 8.832031 3 3 8.832031 3 16 C 3 23.167969 8.832031 29 16 29 C 23.167969 29 29 23.167969 29 16 C 29 8.832031 23.167969 3 16 3 Z M 16 5 C 22.085938 5 27 9.914063 27 16 C 27 22.085938 22.085938 27 16 27 C 9.914063 27 5 22.085938 5 16 C 5 9.914063 9.914063 5 16 5 Z M 16 8 C 13.25 8 11 10.25 11 13 C 11 14.515625 11.707031 15.863281 12.78125 16.78125 C 10.53125 17.949219 9 20.300781 9 23 L 11 23 C 11 20.226563 13.226563 18 16 18 C 18.773438 18 21 20.226563 21 23 L 23 23 C 23 20.300781 21.46875 17.949219 19.21875 16.78125 C 20.292969 15.863281 21 14.515625 21 13 C 21 10.25 18.75 8 16 8 Z M 16 10 C 17.667969 10 19 11.332031 19 13 C 19 14.667969 17.667969 16 16 16 C 14.332031 16 13 14.667969 13 13 C 13 11.332031 14.332031 10 16 10 Z "></path>
                </g>
              </svg>
              <p class="weui-tabbar__label">我的</p>
            </a>
        <% else %>
            <a href="<%= user_root_path %>" class="weui-tabbar__item <%= controller_name == 'info' ? 'weui-bar__item_on' : nil %>">
              <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                   width="28" height="28"
                   viewBox="0 0 32 32"
                   style="fill:<%= controller_name == 'info' ? '#ad0e11' : '#999' %>;">
                <g id="surface1">
                  <path style=" " d="M 16 3 C 8.832031 3 3 8.832031 3 16 C 3 23.167969 8.832031 29 16 29 C 23.167969 29 29 23.167969 29 16 C 29 8.832031 23.167969 3 16 3 Z M 16 5 C 22.085938 5 27 9.914063 27 16 C 27 22.085938 22.085938 27 16 27 C 9.914063 27 5 22.085938 5 16 C 5 9.914063 9.914063 5 16 5 Z M 16 8 C 13.25 8 11 10.25 11 13 C 11 14.515625 11.707031 15.863281 12.78125 16.78125 C 10.53125 17.949219 9 20.300781 9 23 L 11 23 C 11 20.226563 13.226563 18 16 18 C 18.773438 18 21 20.226563 21 23 L 23 23 C 23 20.300781 21.46875 17.949219 19.21875 16.78125 C 20.292969 15.863281 21 14.515625 21 13 C 21 10.25 18.75 8 16 8 Z M 16 10 C 17.667969 10 19 11.332031 19 13 C 19 14.667969 17.667969 16 16 16 C 14.332031 16 13 14.667969 13 13 C 13 11.332031 14.332031 10 16 10 Z "></path>
                </g>
              </svg>
              <p class="weui-tabbar__label">我的</p>
            </a>
        <% end %>
      </div>
      <%= render 'shared/flash' %>
      <%= render 'shared/js_sdk' %>
    </div>
  </div>
</div>
</body>
</html>
