<!DOCTYPE html>
<html>
  <head>
    <%= render 'shared/head' %>
  </head>
  <body>
    <div class="page tabbar js_show">
      <div class="page__bd" style="height: 100%;">
        <div class="weui-tab">
          <div class="weui-tab__panel">
            <%= yield %>
          </div>
          <div class="weui-tabbar">
            <a href="/" class="weui-tabbar__item weui-bar__item_on">
              <%= image_tag("home.png", class: "weui-tabbar__icon") %>
              <p class="weui-tabbar__label">首页</p>
            </a>
            <a href="<%= wechat_parallel_shops_index_path %>" class="weui-tabbar__item">
              <%= image_tag("pingxingdian.png", class: "weui-tabbar__icon") %>
              <p class="weui-tabbar__label">平行店</p>
            </a>
            <a href="<%= mall_root_path %>" class="weui-tabbar__item <%= controller_name == "carts" ? 'weui-bar__item_on' : nil %>">
              <%= image_tag("mall.png", class: "weui-tabbar__icon") %>
              <p class="weui-tabbar__label">商城</p>
            </a>
            <% if @user.user_id.nil? %>
              <a href="<%= user_binding_path %>" class="weui-tabbar__item">
                <%= image_tag("person.png", class: "weui-tabbar__icon") %>
                <p class="weui-tabbar__label">我的</p>
              </a>
            <% else %>
              <a href="<%= user_root_path %>" class="weui-tabbar__item">
                <%= image_tag("person.png", class: "weui-tabbar__icon") %>
                <p class="weui-tabbar__label">我的</p>
              </a>
            <% end %>
          </div>

          <%= render 'shared/flash' %>
          <%= render 'shared/js_sdk' %>

        </div>
      </div>
    </div>
  </body>
</html>
