<style type="text/css">
  .weui-flex__item{
    border-right: 1px solid #bbb;
  }

  .weui-flex__item:last-child{
    border: 0;
  }
  .box-btn{
    /*background: url(/assets/bg.png) no-repeat; */
    /*background-size: 100% 100%;*/
    width: 60%;
    margin-left: 20%;
    /*text-shadow: 2px 2px 2px #eee;*/
    border: 1px solid #bb0100;
    box-shadow: 1px 1px 5px #f21f1d;
  }

</style>

<div class='wallet'>
  <div class="weui-flex profile">
    <div>
      <div class="placeholder">
        <%= image_tag current_user.headimgurl if current_user && current_user.headimgurl %>
      </div>
    </div>
    <div class="weui-flex__item profile-text">
      <div class="placeholder"><%= current_user.nickname %></div>
    </div>
  </div>
  <div class="weui-flex middle-text">
    <div class="weui-flex__item"><div class="placeholder text-center">账户资产</div></div>
  </div>
  <div class="weui-flex bottom-text">
    <div class="weui-flex__item" >
      <div class="placeholder text-center box-btn" >
        <a href="<%= user_details_path %>" class="weui-cell_access" >
          <p class="qi">总易积分</p>
          <% record = PresentedRecord.where(user_id: current_user.user_id).where("number < ? and status = ? ", 0, "人工创建") %>
          <% record = record + PresentedRecord.where(user_id: current_user.user_id).where(status: "人工创建") %>
          <% number = 0 %>
          <% if !record.nil? %>
            <p><%= current_user && record.sum(:number) || 0 %></p>
          <% else %>
            <p>0</p>
          <% end %>
        </a>
      </div>
    </div>


    <div class="weui-flex__item">
      <div class="placeholder text-center box-btn">
        <a href="<%= user_transaction_path %>" class="weui-cell_access">
          <p>现金余额</p>
          <% available = Integral.find_by(user_id: current_user.user_id) %>
          <p><%= current_user && available.cash + available.not_cash|| 0 %></p>
        </a>
      </div>
    </div>

  </div>
</div>
