
<style type="text/css">
  form{
    margin-left: 1rem;
    margin-right: 1rem;
  }

  form p{
    line-height: 2rem;
  }

  input{
    height: 1.8rem;
    outline: none;
    padding-left: 1rem;
    padding-right: 1rem;
    border: 0;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
  }

  .bank,.payBaby{
    display: none;
    margin-top: 1rem;
    width: 90%;
    padding:0.5rem 0.5rem 0 0.5rem;
  }

  .bank input,.payBaby input{
    width: 95%;
    margin-bottom: 1rem;
    height: 2rem;
  }

  select{
    height: 2rem; margin:0.1rem 0.5rem 0 0;
    width: 10rem;padding-left: 0.5rem;
    font-size: 0.9rem;
    margin-bottom: 10px;
  }

  .account,.quantity,select{
    border: 0;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
  }

  .quantity{
    width: 90%;
  }

  .zhanghu {
    width: 94%;
    display: flex;
  }

  .zhanghu span{
    font-size: 0.5rem;
    color: #666;
    line-height: 2rem;
  }

  .account{
    flex: 1;
  }

</style>



<div style="text-align:center;margin-top: 20px;">

  <% if !@w_user.nil? %>
    <%= image_tag(@w_user.headimgurl,size: "70x70" ) %>
  <% else %>
    <%= image_tag("person.png" ,size: "70x70" ) %>
  <% end %>
  <div class="资料">
    <span class="电话"><%= @gift_user.telphone %></span>
    <br/>
    <span class="名字"><%= @gift_user.name %></span>
  </div>

</div>

<%= form_tag(controller: "info",action: "gift_user" ,method: "post", id: "formd") do %>
<!-- <form id="formd" method="post" action="<%= user_gift_user_path %>" > -->
  <p>赠送数量:</p>
  <input type="number" name="quantity" class="quantity" placeholder="请输入大于400(含400)并为20倍数的数字">
  <div class="boders"></div>
  <p>赠送方式:</p>
  <div class="zhanghu">
    <select name="account_type" id="a">
      <option value="无效账户">账户类型</option>
      <option value="银行卡">银行卡</option>
      <option value="支付宝">支付宝</option>
    </select>
    <span> （支持银行卡和支付宝）</span>
  </div>

  <div class="bank">
      <input type="text" name="bank_name" placeholder="姓名" value="<%= current_user.user.name %>" disabled="true">
      <input type="number" name="bank" placeholder="卡号">
      <input type="text" name="where" placeholder="开户行">
  </div>

  <div class="payBaby">
    <input type="text" name="name" placeholder="姓名" value="<%= current_user.user.name %>" disabled="true">
    <input type="text" name="account" placeholder="账号">
  </div>

<input name = "id" style="display: none;" value="<%= @gift_user.id %>">
<input name="type_coin" style="display: none;" value= "0" >
<button type= "submit" class="weui-btn" style="background-color: #30A8E2; margin-left: 0" >确认兑换</button>

<!-- </form> -->
<% end %>

<script type="text/javascript">

    // 1.选择不同付款方式的显示
      document.getElementById("a").onchange = function() {
        if( this.value == "银行卡" ) {
          document.getElementsByClassName('bank')[0].style.display = "block";
          document.getElementsByClassName('payBaby')[0].style.display = "none";
        }else if( this.value == "支付宝" ){
          document.getElementsByClassName('bank')[0].style.display = "none";
          document.getElementsByClassName('payBaby')[0].style.display = "block";
        }else{
          document.getElementsByClassName('bank')[0].style.display = "none";
          document.getElementsByClassName('payBaby')[0].style.display = "none";
        }
      }


      // 2.赠送数量验证



      //     sub.onclick = function(e){
      //       if (quantity.value < 400 && quantity.value%20 !== 0) {

      //           alert('must > 400');
      //           return false;
      //       }
      //     }

    //    sub.onsubmit = function(){
    //     if(quantity.value < 400 && quantity.value%20 != 0){
    //         alert("请您认真填写注册用户名！");
    //         // e.preventDefault();
    //         return false;
    //     }
    // }


          // $('#sub').submit(function(){
          //   if (quantity.value < 400 && quantity.value%20 !== 0) {
          //     $('button[type=submit]', this).attr('disabled', 'disabled');
          //   }

          // });

          var formd = document.getElementById("formd");
          var quantity = document.getElementsByClassName('quantity')[0];
          formd.addEventListener("submit",function(e){
              console.log(quantity.value % 20 );
              if(quantity.value >= 400 && quantity.value%20 == 0){

              }else{
                alert("请输入符合兑换标准的数值");
                e.preventDefault();
              }


          },false);


  </script>
