<style type="text/css">

	.froms{
		height: 80%;
		width: 100%;
		padding-top: 50px;
	}

	.froms p {
		width: 90%;
		margin: 0 auto;
		font-size: 1.2rem;
		margin-top: 20px;
		line-height: 2rem;

	}

	.submits {
		margin: 0 auto;
		margin-top: 5%;
	}

	@media screen and (max-width: 375px) {
		.froms p {
			width: 80%;
			font-size: 1rem;
		}

		.yyj_input {
		    -webkit-appearance: none;
		    height: 25px;
		    width: 60%;
		    background-color: #fff;
		    border: 1px solid #ad0e11;
		    border-radius: 5px;
		    line-height: 20px;
		    padding: 5px 10px;
		}

	}

	.yyj_input {
	    width: 67%;
	}



</style>

<% if flash[:notice] %>
  <div class="notice"><%=flash[:notice]%></div>
<% end %>
<form action="<%= user_user_edit_info_path %>" method="post" class="froms">
	<h2 class="yyj_title">编辑我的信息</h2>
	<input name= "u_id" value="<%= @info.id %>" style="display:none;"/>
	<p>手机号码: <input type="text" name="telphone" value="<%= @info.telphone %>" class='yyj_input'/></p>
	<p>身份证号: <input type="text" name="id_number" value="<%= @info.id_number %>" class='yyj_input'/></p>
	<p>邮　　箱: <input type="text" name="email" value="<%= @info.email %>" class='yyj_input'/></p>
  <input type="submit" value="提交" class="submits yyj_submit yyj_text" />
</form>
