<%= render 'wallet_header' %>
<%= title '赠送到御易健账户' %>
<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>

<% if @user_available_y >= 10 %>
  <p style="font-size: 14px; margin-left: 15px; padding-top: 10px;padding-bottom:9px; color: red;">
    <span style="font-size:15px;">提示：</span>
    易积分将实时转入御邦医通公司，请确认后操作。</br><span style=" margin-left: 49px;">兑换提现账户必须是本人账户！</span>
  </p>
  <p style="font-size: 14px; margin-left: 15px; padding-top: 10px;padding-bottom:9px; color: red;">
    <span style="font-size:15px;">拥有积分：</span><%= @available.available %>（可兑换）
  </p>
<% else %>
  <p style="font-size: 10px; margin-left: 15px; padding-top: 10px;padding-bottom:9px;">
    <span style="color:red;font-size:15px;">提示：</span>
    对不起，您的可兑换易积分数量低于10，根据我公司规定，您暂时不可以使用兑换提现功能。
  </p>
<% end %>

  <!-- <form class="weui-search-bar__form" method="post">
    <div class="weui-search-bar" id="search_bar" style="padding-top:10px;">
      <div class="weui-search-bar__box">
          <span style="position: absolute;">对方账户：</span>
          <i class="weui-icon-search"></i>
          <input type="search" class="weui-search-bar__input" placeholder="手机号/身份证号" style="padding-left:80px;"/>
          <a href="javascript:" class="weui-icon-clear"></a>
      </div>
      <a href="javascript:" class="weui-search-bar__cancel-btn" id="search_cancel">取消</a>
    </div>
    <a href="<%= user_create_gift_path %>" class="button-dh button-margin">赠送</a>
  </form> -->

  <%= form_tag(user_create_gift_path,method: :post,id: 'create_gift_form') do %>
    <div class="weui-search-bar" id="search_bar" style="padding-top:10px;">
      <div class="weui-search-bar__box">
          <span style="position: absolute;">御邦账户：</span>
          <i class="weui-icon-search"></i>
          <input type="search" class="weui-search-bar__input" placeholder="75586700010" style="padding-left:80px;" name="mobile" value = "75586700010">
          <a href="javascript:" class="weui-icon-clear"></a>
      </div>
      <a href="javascript:" class="weui-search-bar__cancel-btn" id="search_cancel">取消</a>
    </div>
    <% if @user_available_y >= 10 %>
      <%= submit_tag "兑换" ,class:"wei_but_new weui-btn_primary button-dh button-margin"%>
    <% end %>
  <% end %>
  <div class="weui-cells__title" style="padding-bottom:3.5rem;padding-left: 0px;padding-right: 0px;">兑换记录明细：
    <table class="table">
        <thead>
            <tr>
                <td class="td">数量</td>
                <td class="td">类型</td>
                <td class="td">状态</td>
                <td class="td">时间</td>
            </tr>
        </thead>
        <% details = ExchangeRecord.where(user_id: current_user.user_id).order(created_at: :desc).limit(10) %>
        <% if details.length >= 1 %>
          <tbody>
            <% details.each do |details| %>
              <% if !details.nil? %>
                <tr class="center">
                    <td class="td" style="width: 10%"><%= details.number %></td>
                    <td class="td" style="width: 15%"><%= details.status %></td>
                    <% if details.state == "pending" %>
                    <td class="td" style="width: 15%"><%= value = "待审核" %></td>
                    <% elsif details.state == "dealing" %>
                    <td class="td" style="width: 15%"><%= value = "待处理" %></td>
                    <% elsif details.state == "dealed" %>
                    <td class="td" style="width: 15%"><%= value = "已处理" %></td>
                    <% elsif details.state == "not" %>
                    <td class="td" style="width: 15%"><%= value = "审核失败" %></td>
                    <% end %>
                    <td class="td" style="width: 25%"><%= date details.created_at %></td>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        <% end %>
    </table>
  </div>

  <style>
  .weui-tab__panel {
    background-color: #EAE8E8;
  }
  </style>
