<%= render 'wallet_header' %>
<%= title '赠送易积分' %>

<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>

<div class="weui-panel">
    <div class="weui-panel__bd">
        <div class="weui-media-box weui-media-box_small-appmsg">
            <div class="weui-cells">
                <!-- <a class="weui-cell weui-cell_access" href="javascript:;">
                    <div class="weui-cell__hd">
                      <%= image_tag "friend.png" ,style:"width:30px;margin-right:5px;display:block;" %>
                    </div>
                    <div class="weui-cell__bd weui-cell_primary">
                        <p style="font-size:15px; margin-left:5px;">赠送我的朋友</p>
                    </div>
                    <span class="weui-cell__ft"></span>
                </a> -->
                <a class="weui-cell weui-cell_access" href="<%= user_gift_account_path %>">
                    <div class="weui-cell__hd">
                      <%= image_tag "account.png" ,style:"width:30px;margin-right:5px;display:block;" %>
                    </div>
                    <div class="weui-cell__bd weui-cell_primary">
                        <p style="font-size:15px; margin-left:5px;">兑换积分</p>
                    </div>
                    <span class="weui-cell__ft"></span>
                </a>
                <a class="weui-cell weui-cell_access" href="<%= user_gift_friend_path %>">
                    <div class="weui-cell__hd">
                      <%= image_tag "friend.png" ,style:"width:30px;margin-right:5px;display:block;" %>
                    </div>
                    <div class="weui-cell__bd weui-cell_primary">
                        <p style="font-size:15px; margin-left:5px;">赠送好友</p>
                    </div>
                    <span class="weui-cell__ft"></span>
                </a>
            </div>
        </div>
    </div>
</div>
