<style type="text/css">

  #txtlogin {
    background:#ccc;
  }

  #txtlogin.active {
    background: #1aad19;z-index: 99;

  }

  /*.radius {
    border: 1px solid #ccc;
    border-radius: 50px;
    text-indent: 20px;
  }*/

  .really,.login_content {
    font-size: 1rem;
  }

  .weui-cell__bd {
    border-bottom: 1px solid #ccc;
  }

  .login_label,.phone,.changearea {
    color: #999;
  }

  .weui-cell_warn .weui-cell__hd {
    width: 19%;
  }

  .radius {
    line-height: 30px;
    border-bottom: 1px solid #ccc;
  }



</style>


<%= title '注册御易健账号' %>
<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>

<%= form_tag(user_health_data_path, method: :post, id: 'health_login_form') do %>
  <div class='mobile_box'>
    <div class="wraper pt10">
      <div class="login_label"><span style="color:red;margin-left:15px;">提示：</span>邮箱是您在
        <a href="http://qolm.ybyt.cc" style="color:#4876FF;">慢病健康管理平台 </a>的邮箱
      </div>
      <div class="login_control">
        <div class="login_label">请确认您的邮箱</div>
        <div class="login_content radius">
          <input type="search" class="weui-search-bar__input" placeholder="请输入您的邮箱账号" name="emial" value = "<%= @user_email.email %>">
        </div>
      </div>
      <div class="login_control">
        <div class="login_label">请确认客户身份证</div>
        <div class="login_content radius">
          <input type="search" class="weui-search-bar__input" name="identity_card" value = "<%= @health_identity_card %>">
        </div>
      </div>
      <div class="weui-btn-area">
        <button class="weui-btn weui-btn_primary" >开始检测</button>
      </div>
    </div>
  </div>
<% end %>
