<style type="text/css">
  .div-centent{
    margin-top: 2rem;

  }

</style>

<%= title '我的方案' %>
<% if flash[:notice] %>
  <div class="notice"><%=flash[:notice]%></div>
<% end %>
<div>
  <% if !@only_number.nil? %>
  <div class="weui-panel weui-panel_access">
    <div class="weui-panel__hd">健康方案（处方）</div>
    <div class="weui-panel__bd">
      <% @only_number.each do |only_number| %>
        <% @product = Product.where(only_number: only_number["产品编号"]) %>
        <% @product.each do |product| %>
            <div class="car-box box">
              <ul class="pro-list-portrait">
                  <li>
                    <div class="img">
                      <a href="<%= mall_product_path(product) %>">
                        <%= image_tag(product.image) %>
                      </a>
                    </div>
                    <div class="pro-m">
                      <a href="<%= mall_product_path(product) %>">
                        <p class="name"><%= product.name %></p>
                      </a>
                      <div class="info clearfix">
                        <p class="fl price"></p>
                      </div>
                         <div class="fr amount">
                            <input value="206" id="line_item_206" class="line_item_hidden_input" data-line-item-id="206" type="hidden" name="line_item_ids[]">
                            <span class="decrease disable">-</span>
                            <input type="text" data-shop-count="1898" class="num buyNum" value="<%=only_number["数量"]%>" data-line_item_id="206" readonly="">
                            <span class="increase">+</span>
                          </div>
                    </div>
                  </li>
              </ul>
            </div>
      <% end %>
      <% end %>
    </div>
  </div>

  <div class="button-sp-area div-centent">
    <% if !@line_item.nil? %>
      <%= form_for @line_item, url: {action: "create_programs"}, html: {class: "nifty_form"} do |f| %>
      <input type=hidden name=format value='<%= @program_id %>'/>
      <%= f.submit "立刻购买" ,class:"weui-btn weui-btn_mini weui-btn_primary big-button yyj_submit" %>
      <% end %>
    <% end %>
  </div>
  <% else %>
  <div class="center">
    <div class="weui-cell__bd weui-cell_primary">
      <p class="red">对不起，您并没有健康方案！</p>
    </div>
  </div>
  <div class="center">
    <div class="weui-cell__bd weui-cell_primary">
      <p class="font_centent">请您联系中医健康管理师</p>
    </div>
  </div>
  <% end %>
</div>
<% if @a == true %>
  <div id="toast">
    <div class="weui-mask_transparent"></div>
    <div class="weui-toast">
        <i class="weui-icon-success-no-circle weui-icon_toast"></i>
        <p class="weui-toast__content">已完成</p>
    </div>
  </div>
<% end %>
