<%= title '我的方案' %>
<% if !@products.nil? %>
<div class="weui-panel weui-panel_access">
  <div class="weui-panel__hd">健康方案（处方）</div>
  <div class="weui-panel__bd">
    <% @products.each do |product| %>
    <a href="javascript:void(0);" class="weui-media-box weui-media-box_appmsg">
      <div class="weui-media-box__hd">
        <%= image_tag(product.image, class: "weui-media-box__thumb" ,size: "60x60") %>
      </div>
      <div class="weui-media-box__bd">
        <h4 class="weui-media-box__title"><%= product.name %></h4>
        <p class="weui-media-box__desc"><%= product.desc %></p>
        <% @programtime = params[:format] %>
      </div>
    </a>
    <% end %>
  </div>
</div>
<a href="<%= user_create_programs_path(@programtime) %>" class="weui-btn weui-btn_primary">加入到购物车</a>
<% else %>
<div class="center">
  <div class="weui-cell__bd weui-cell_primary">
    <p class="red">对不起，您并没有健康方案！</p>
  </div>
</div>
<div class="center">
  <div class="weui-cell__bd weui-cell_primary">
    <p class="font_centent">请您联系中医健康管理师</p>
  </div>
</div>
<% end %>
