<%= title '我的方案' %>
<% if !@products.nil? %>
<div class="weui-panel weui-panel_access">
  <div class="weui-panel__hd">健康方案（处方）</div>
  <div class="weui-panel__bd">
    <% @products.each do |f| %>
    <a href="javascript:void(0);" class="weui-media-box weui-media-box_appmsg">
      <div class="weui-media-box__hd">
        <%= image_tag(f.image, class: "weui-media-box__thumb" ,size: "60x60") %>
      </div>
      <div class="weui-media-box__bd">
        <h4 class="weui-media-box__title"><%= f.name %></h4>
        <p class="weui-media-box__desc"><%= f.desc %></p>
      </div>
    </a>
    <% end %>
  </div>
</div>
<div class="button-sp-area div-centent">
  <%= form_for @line_item, url: {action: "create_programs"}, html: {class: "nifty_form"} do |f| %>
  <%= f.submit "加入到购物车" ,class:"weui-btn weui-btn_mini weui-btn_primary big-button" %>
  <% end %>
</div>
<% else %>
<div class="center">
  <div class="weui-cell__bd weui-cell_primary">
    <p class="red">对不起，您并没有健康方案！</p>
  </div>
</div>
<div class="center">
  <div class="weui-cell__bd weui-cell_primary">
    <p class="font_centent">请您联系中医健康管理师</p>
  </div>
</div>
<% end %>
