<%= title '我的信息' %>
<%= render 'head' %>

<div class="weui-panel weui-panel_access">
  <div class="weui-panel">
    <div class="weui-panel__hd">我的信息</div>
    <div class="weui-panel__bd">
      <div class="weui-media-box weui-media-box_small-appmsg">
        <div class="weui-cells">

          <a class="weui-cell weui-cell_access" href="<%= user_record_home_path %>">
            <div class="weui-cell__bd weui-cell_primary">
              <p>我的健康档案</p>
            </div>
            <span class="weui-cell__ft"></span>
          </a>

          <% if @user_type.type == "Doctor" %>
            <a class="weui-cell weui-cell_access" href="<%= user_health_data_path %>">
              <div class="weui-cell__bd weui-cell_primary">
                <p>健康监测</p>
              </div>
              <span class="weui-cell__ft"></span>
            </a>
          <% end %>

          <a class="weui-cell weui-cell_access" href="<%= user_wallet_path %>">
            <div class="weui-cell__bd weui-cell_primary">
              <p>我的钱包</p>
            </div>
            <span class="weui-cell__ft"></span>
          </a>

          <a class="weui-cell weui-cell_access" href="<%= user_code_home_path %>">
            <div class="weui-cell__bd weui-cell_primary">
              <p>我的二维码</p>
            </div>
            <span class="weui-cell__ft"></span>
          </a>

          <a class="weui-cell weui-cell_access" href="<%= user_setting_path %>">
            <div class="weui-cell__bd weui-cell_primary">
              <p>我的个人资料</p>
            </div>
            <span class="weui-cell__ft"></span>
          </a>

          <a class="weui-cell weui-cell_access" href="<%= user_doctor_user_path %>">
            <div class="weui-cell__bd weui-cell_primary">
              <p>我的健康管理师</p>
            </div>
            <span class="weui-cell__ft"></span>
          </a>

        </div>
      </div>
    </div>
  </div>
</div>

<div class="weui-panel weui-panel_access">
  <div class="weui-panel">
    <div class="weui-panel__hd">健康管理师认证</div>
    <div class="weui-panel__bd">
      <div class="weui-media-box weui-media-box_small-appmsg">
        <div class="weui-cells">

          <a class="weui-cell weui-cell_access" href="<%= user_authentication_path %>">
            <div class="weui-cell__bd weui-cell_primary">
              <p>健康管理师验证</p>
            </div>
            <span class="weui-cell__ft"></span>
          </a>

          <a class="weui-cell weui-cell_access" href="<%= user_shop_authentication_path %>">
            <div class="weui-cell__bd weui-cell_primary">
              <p>医馆验证</p>
            </div>
            <span class="weui-cell__ft"></span>
          </a>

        </div>
      </div>
    </div>
  </div>
</div>


<div class="weui-panel weui-panel_access">
  <div class="weui-panel">
    <div class="weui-panel__hd">我的商城</div>
    <div class="weui-panel__bd">
      <div class="weui-media-box weui-media-box_small-appmsg">
        <div class="weui-cells">

          <a class="weui-cell weui-cell_access" href="<%= user_home_programs_path %>">
            <div class="weui-cell__bd weui-cell_primary">
              <p>我的产品方案</p>
            </div>
            <span class="weui-cell__ft"></span>
          </a>

          <a class="weui-cell weui-cell_access" href="<%= mall_orders_path %>">
            <div class="weui-cell__bd weui-cell_primary">
              <p>我的订单</p>
            </div>
            <span class="weui-cell__ft"></span>
          </a>

        </div>
      </div>
    </div>
  </div>
</div>
