<%= title '我的信息' %>
<div class="weui-panel weui-panel_access">
  <div class="weui-panel__bd">
    <a href="<%= user_w_info_path %>" class="weui-media-box weui-media-box_appmsg">
      <div class="weui-media-box__hd">
        <% if !@wechat_user.nil? %>
          <img src="<%= @wechat_user.headimgurl %>" class="weui-media-box__thumb",>
        <% else %>
          <%= image_tag "ybyt04.png" ,class:"weui-media-box__thumb" ,size: "50x55" %>
        <% end %>
      </div>
      <div class="weui-media-box__bd">
        <h4 class="weui-media-box__title">
          <% if !@wechat_user.nil?%>
            <%= @wechat_user.nickname %>
          <% else %>
            御邦医通
          <% end %>
        </h4>
      </div>
      </a>
  </div>
</div>

<div class="weui-panel weui-panel_access">
  <div class="weui-panel">
    <div class="weui-panel__hd">我的信息</div>
    <div class="weui-panel__bd">
      <div class="weui-media-box weui-media-box_small-appmsg">
        <div class="weui-cells">

          <a class="weui-cell weui-cell_access" href="<%= user_m_info_path %>">
            <div class="weui-cell__bd weui-cell_primary">
              <p>我的会员信息</p>
            </div>
            <span class="weui-cell__ft"></span>
          </a>

          <a class="weui-cell weui-cell_access" href="<%= user_record_path %>">
            <div class="weui-cell__bd weui-cell_primary">
              <p>我的健康档案</p>
            </div>
            <span class="weui-cell__ft"></span>
          </a>

          <a class="weui-cell weui-cell_access" href="javascript:;">
            <div class="weui-cell__bd weui-cell_primary">
              <p>我的营养方案</p>
            </div>
            <span class="weui-cell__ft"></span>
          </a>

          <a class="weui-cell weui-cell_access" href="javascript:;">
            <div class="weui-cell__bd weui-cell_primary">
              <p>我的数字中医</p>
            </div>
            <span class="weui-cell__ft"></span>
          </a>

        </div>
      </div>
    </div>
  </div>
</div>

<div class="weui-panel weui-panel_access">
  <div class="weui-panel">
    <div class="weui-panel__hd">我的商城</div>
    <div class="weui-panel__bd">
      <div class="weui-media-box weui-media-box_small-appmsg">
        <div class="weui-cells">

          <a class="weui-cell weui-cell_access" href="javascript:;">
            <div class="weui-cell__bd weui-cell_primary">
              <p>我的订单</p>
            </div>
            <span class="weui-cell__ft"></span>
          </a>

        </div>
      </div>
    </div>
  </div>
</div>

<div class="weui-panel weui-panel_access">
  <div class="weui-panel">
    <div class="weui-panel__hd">我的服务</div>
    <div class="weui-panel__bd">
      <div class="weui-media-box weui-media-box_small-appmsg">
        <div class="weui-cells">

          <a class="weui-cell weui-cell_access" href="javascript:;">
            <div class="weui-cell__bd weui-cell_primary">
              <p>龙氏脊筑服务</p>
            </div>
            <span class="weui-cell__ft"></span>
          </a>

        </div>
      </div>
    </div>
  </div>
</div>


<div class="weui-panel weui-panel_access">
  <div class="weui-panel">
    <div class="weui-panel__hd">设置</div>
    <div class="weui-panel__bd">
      <div class="weui-media-box weui-media-box_small-appmsg">
        <div class="weui-cells">

          <a class="weui-cell weui-cell_access" href="javascript:;">
            <div class="weui-cell__bd weui-cell_primary">
              <p>设置</p>
            </div>
            <span class="weui-cell__ft"></span>
          </a>

        </div>
      </div>
    </div>
  </div>
</div>
