<style type="text/css" media="screen">
  
.clearfix:after {
  content: " ";
  display: block;
  clear: both;
  height: 0;
}
.clearfix {
  zoom: 1;
}

.ways {
  
}

</style>



<div class="back-image">
  <%= title '邀请好友' %>
    <div class="weui-panel__hd"><span style="color: red; font-size: 15px;">提示：</span>此二维码用于邀请用户注册御易健平台</div>
  <!-- <div style=" font-size: 15px; color: #555;" class="ways">
      <span style="color: red; font-size: 15px;">邀请码使用方法：</span><br/>
      1.面对面扫码注册 <br/>
      2.截屏分享给好友识别注册  <br/>
      3.禁止点击右上角分享链接注册 <br/>
      4.点击二维码查看我的邀请记录
  </div>  --> 
  <div class="qr-code-invitation">
        
    <a href="<%= user_invitation_friend_path %>"><%= raw @qrcode.as_html %></a></br>
    <div class="clearfix">
      <img src="<%= @wechat_user.headimgurl %>" style="width:35px; float: left;margin-left: 15%;">
      <span style="float: right;margin-top: 4%;margin-right: 25%;"><%= @wechat_user.user.name %></span>
    </div>
  </div>
<!-- 
  <div class="weui-panel weui-panel_access" >
    <div class="weui-panel">
      <div class="weui-panel__hd">我邀请的用户</div>
      <div class="weui-panel__bd">
        <div class="weui-media-box weui-media-box_small-appmsg">
          <div class="weui-cells">

            <a class="weui-cell weui-cell_access" href="<%= user_invitation_friend_path %>">
              <div class="weui-cell__bd weui-cell_primary">
                <div class="weui-panel__hd">我的邀请</div>
              </div>
              <span class="weui-cell__ft"></span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div> -->

</div>
