<%= title '动态健康数据' %>
<%= render 'head' %>
<a class="weui-cell weui-cell_access" href="<%= user_data_home_path %>">
  <div class="weui-cell__bd weui-cell_primary">
    <p>动态健康数据展示</p>
  </div>
  <span class="weui-cell__ft"></span>
</a>

<a class="weui-cell weui-cell_access" href="<%= examine_home_path %>">
  <div class="weui-cell__bd weui-cell_primary">
    <p>动态健康数据录入</p>
  </div>
  <span class="weui-cell__ft"></span>
</a>


<a class="weui-cell weui-cell_access" href="<%= user_show_idata_path %>">
  <div class="weui-cell__bd weui-cell_primary">
    <p>动态健康数据订阅</p>
  </div>
  <span class="weui-cell__ft"></span>
</a>

