<%= render 'wallet_header' %>

<div style="display: block;  padding-bottom:3.5rem;" class="weui-cells__title"> 可使用收支明细：
  <table class="table">
      <thead>
          <tr>
              <td class="td">姓名</td>
              <td class="td">数量</td>
              <td class="td">兑换进度</td>
              <td class="td">兑换日期</td>
              <td class="td">兑换状态</td>
          </tr>
      </thead>
        <tbody>
          <% @exchange_r.each do |exchange| %>
            <% if !exchange.nil? %>
              <tr class="center">
                  <td class="td" style="width: 15%"><%= exchange.user.name %></td>
                  <td class="td" style="width: 12%"><%= exchange.number %></td>
                  <% if exchange.state == "true" %>
                    <td class="td" style="width: 17%">已处理</td>
                  <% else %>
                    <td class="td" style="width: 17%">待处理</td>
                  <% end %>
                  <td class="td" style="width: 22%"><%= date exchange.created_at %></td>
                  <% if exchange.state == "true" %>
                    <td class="td" style="width: 20%">已完成</td>
                  <% else %>
                    <td class="td" style="width: 20%">未完成</td>
                  <% end %>
              </tr>
            <% end %>
          <% end %>
      </tbody>
  </table>
</div>

<!-- <div class='wallet-title'>
  CoinSpace
</div>

<div class="wallet-login">
  <div class="login-bg">
    <%= image_tag "wallet_cs.png" %>
  </div>
  <div class="login-title">
    <p class='text-center'>无法登入，请输入授权账号密码</p>
    <div class="wallet-form">
      <div class="weui-flex profile">
        <div>
          <div class="placeholder">
            <label for="">User Name</label>
          </div>
        </div>
        <div class="weui-flex__item input-text">
          <input type="text" name="name" id="wallet-username">
        </div>
      </div>

      <div class="weui-flex mt10" style="margin-left: 10px;">
        <div>
          <div class="placeholder">
            <label for="">Password</label>
          </div>
        </div>
        <div class="weui-flex__item input-text">
          <input type="password" name="password" id="wallet-password">
        </div>
      </div>

      <div class="weui-flex">
        <div class="weui-flex__item">
          <a href="javascript:;" id="submit-wallet" class="weui-btn weui-btn_mini weui-btn_primary submit-btn">SIGN IN</a>
        </div>
      </div>
    </div>
  </div>
</div> -->
